<div class="row" id="analyse_container"></div>

<script type="text/template" id="analyse-axis-template">
	<div class="row">
	    <div class="large-6 columns">
		    <label>X axis
		        <select>
		          	<option value="concepts">Concepts</option>
		        </select>
		    </label>
	    </div>
	    <div class="large-6 columns">
		    <label>Y axis
		        <select>
		          	<option value="knowledges">knowledges</option>
		        </select>
		    </label>
	    </div>
	</div>
</script>

<script type="text/template" id="analyse-concept-template">
    <tr>
    	<td width="20%">{{- concept.title }}</td>
    	<td width="60%">
    		<div class="progress large-12 round">
			  <span class="meter" style="width: {{- per }}%"></span>
			</div>
    	</td>
    	<td width="10%">{{- per }}%</td>
    	<td width="10%">{{- rec }} links</td>
    </tr>
</script>