<div class="row">
    <div class="large-12 small-12 medium-12 columns">
        <center>
            <br>
            <img class="large-5 medium-5 small-5" src="/img/logo.png">
            <hr>
            <h1> Login </h1>
            <form action="/login" method="post">
                <div class="large-4">
                    <label>Username:</label>
                    <input type="text" name="username" placeholder="Email"/>
                </div>
                <div class="large-4">
                    <label>Password:</label>
                    <input type="password" name="password" placeholder="password"/>
                </div>
                <div>
                    <button class="button round" type="submit">Submit</button>
                </div>
            </form>

            <a href="/newuser">Register Now!</a>
            <br>
            <a href="/resetpassword">Forgotten your password ?</a>
        </center>
    </div>
</div>