<div class="row">

	<h1> Reset password </h1>
    <form data-abide action="/newpassword" method="post">

        <div class="large-4 medium-4 small-4 password-field">
            <label>Password <small>required</small></label>
            <input type="password" name="password" />
                        <small class="error">Passwords must be at least 8 characters with 1 capital letter, 1 number, and one special character.</small>
        </div>
        <div class="large-4 medium-4 small-4 confirm-password-field">
            <label>Confirm password <small>required</small></label>
            <input type="password" name="confirmPassword" data-equalto="password">
            <small class="error">The password did not match</small>
        </div>

    <button class="button" type="submit">Submit</button>



    </form>
</div>