<div class="row panel" style="border:0px">
    <div class="large-6 small-6 medium-6 columns">
        <a href="/"><img title="logo creaktive" src="/img/creaktive.png"/></a>
    </div>
    <div class="large-6 small-6 medium-6 columns">
    </div>
</div>
<div style="width:100%;background-color:#1b9dd3;">
    <div class="row">
        <font style="font-size: 18px;line-height:75px;color:white">
            <b>Reset password : </b>
        </font>
    </div>
</div>

<div class="row panel">
    <form data-abide action="/newpassword" method="post">
        <div class="large-4 medium-4 small-4 password-field">
            <label>Password <small>required</small></label>
            <input id="password" type="password" name="password" />
            <small class="error">Passwords must be at least 8 characters with 1 capital letter, 1 number, and one special character.</small>
        </div>
        <div class="large-4 medium-4 small-4 confirm-password-field">
            <label>Confirm password <small>required</small></label>
            <input type="password" name="confirmPassword" data-equalto="password">
            <small class="error">The password did not match</small>
        </div>
        <button class="button radius small" type="submit">Submit</button>
    </form>
</div>