<div class="row">
    <h1> Register </h1>
    <hr>
    <form data-abide action="/register" method="post">


        <div class="large-4 medium-4 small-4 password-field">
            <label>Password <small>required</small></label>
            <input type="password" name="password" />
            <small class="error">Your password must match the requirements</small>
        </div>
        <div class="large-4 medium-4 small-4 confirm-password-field">
            <label>Confirm password <small>required</small></label>
            <input type="password" name="confirmPassword" data-equalto="password">
            <small class="error">The password did not match</small>
        </div>
        <div class="large-4 medium-4 small-4 name-field">
            <label>Name <small>required</small></label>
            <input type="text" name="username" value="<%- user.name %>"/>
        </div>
        <div class="large-4 medium-4 small-4 email-field">
            <label>Email adress <small>required</small></label>
            <input type="email" name="email" value="<%- user.email %>" required>
            <small class="error">A valid email address is required.</small>
        </div>




            <button class="button" type="submit">Submit</button>



    </form>

</div>