<div class="row">
	<h1>Registration confirmation</h1>
	<hr>
	<div class="panel">

		<p>You registration is now complete. We are currently processing your request. You will soon receive a confirmation email.</p>

		<p>You will then be able to connect to the site</p>

	</div>
</div>