<div class="row">

	<h1> Reset password </h1>
    <form data-abide action="/resetpassword" method="post">

    <div class="large-4 medium-4 small-4 name-field">
        <label>Email <small>required</small></label>
        <input type="text" name="email"/>
    </div>

    <button class="button" type="submit">Submit</button>



    </form>
</div>