<div class="row panel" style="border:0px">
    <div class="large-6 small-6 medium-6 columns">
        <a href="/"><img title="logo creaktive" src="/img/creaktive.png"/></a>
    </div>
    <div class="large-6 small-6 medium-6 columns">
    </div>
</div>
<div style="width:100%;background-color:#1b9dd3;">
    <div class="row">
        <font style="font-size: 18px;line-height:75px;color:white">
            <b>Reset password : </b>
        </font>
    </div>
</div>

<div class="row panel">

		<p>You will soon receive an email containing a password reset link</p>

</div>