  .menu_modal {
    position: fixed;
    right: 0;
    top: 40%;
    width: 5%;
    margin-top: -2.5em;
  }

    .perc_action_bar {
    position: fixed;
    right : 0;
    left : 0;
    top: 0;
    margin : auto;
    width: 50%;
  }



.button.drop, .drop{
	cursor:move;
}
.reveal-modal{
	background-color:#efefef;	
}

.cursor{
	border-radius: 50%;
	width: 20px;
	height: 20px; 
	background-color: red;
	opacity: 0.5;
}


#actionbar .panel {
margin-bottom:0px;
padding-bottom: 0px;
}

#map_container .tabs dd > a, .tabs .tab-title > a {
display: block;
background: #efefef;
color: #222222;
padding: 0.5rem 0.5rem;
font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
font-size: 1rem;
}

#map{
		border : 0px;

}

#map_container{
	/*height:1000px;*/
	overflow:hidden;
	/*background-image: url("/img/pattern.png");*/
}
body{
	/*background-color: white;*/
	background-color:#efefef;
}
.demo {
  	top: -500px;
	left: -500px;
	position: relative;
  	/*width:100%;*/
  	width:100000px;
  	/*background-color:white;    */
  	background-color:#efefef;
  	/*overflow:auto;  */
  	/*margin-top: 53px;
  	margin-bottom:25px;*/
  	height: 10000px;
}

/** ELEMENTS **/
.chart-demo .window { 
	/*border:0.1em dotted #d4e06b; 	*/
	width:auto; 
	height:auto;
	cursor:move;
	line-height:1em;	
	z-index:4;
	font-weight:bold;
	max-width: 20em;
	min-width: 5em;
	padding: 10px 20px 10px 20px;
}

.chart-demo .window.concept { 
	/*border:0.15em dotted green;*/
	/*padding: 15px;*/
}

.window.selected {
    border:2px solid red;
    box-shadow: 2px 2px 19px #444;
   -o-box-shadow: 2px 2px 19px #444;
   -webkit-box-shadow: 2px 2px 19px #444;
   -moz-box-shadow: 2px 2px 19px #fff;
    opacity:0.9;
    filter:alpha(opacity=90);
}

/** HOVER EFFECTS **/
.windowHover, .window:hover{
	box-shadow: 0px 0px 20px rgba(241, 196, 15, 0.7);
} 

/*.ep {
	float:right;
	width:10px;
	height:1em;
	background-color:orange;
	cursor:pointer;
	box-shadow: 0px 0px 2px black;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;
}
*/
.icon{
	display: none;
}

.ep {
	position:absolute;
	bottom: -20px;
	left: -10px;
	width:auto;
	height:auto;
	/*background-color:green;*/
	color : green;
	cursor:pointer;
	/*box-shadow: 0px 0px 2px black;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;*/
}
.ep2 {
	position:absolute;
	bottom: -20px;
	right: -10px;
	width:auto;
	height:auto;
	/*background-color:red;*/
	color : red;
	cursor:pointer;
	/*box-shadow: 0px 0px 2px black;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;*/
}

.ep3 {
	position:absolute;
	top: -20px;
	left: -20px;
	width:auto;
	height:auto;
	/*background-color:red;*/
	color : blue;
	cursor:pointer;
	/*box-shadow: 0px 0px 2px black;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;*/
}

.attachments : {
	position:absolute;
	top: -20px;
	left: -20px;
	width:auto;
	height:auto;
	/*background-color:red;*/
	color : blue;
	cursor:pointer;
	/*box-shadow: 0px 0px 2px black;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;*/
}

.sup {
	position:absolute;
	top: -20px;
	right:-20px;
	/*right: 5px;*/
	width:auto;
	height:auto;
	/*border:1px dotted red;*/
	color: red;
	cursor:pointer;
	/*box-shadow: 0px 0px 2px red;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;*/
}

.expcoll {
	position:absolute;
	bottom: -30px;
	right:38%;
	/*right: 5px;*/
	width:auto;
	height:auto;
	/*border:1px dotted red;*/
	color: red;
	cursor:pointer;
	/*box-shadow: 0px 0px 2px red;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;*/
}

.info {
	position:absolute;
	top: -10px;
	right:-10px;
	/*right: 5px;*/
	width:auto;
	height:auto;
	/*border:1px dotted red;*/
	cursor:pointer;
	/*box-shadow: 0px 0px 2px red;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;*/
}



.sup:hover, .expcoll:hover{
	box-shadow: 0px 0px 6px black;
	background-color:red;
	
}

.ep:hover{
	box-shadow: 0px 0px 6px black;
	background-color:green;
	color:white;
}
.ep2:hover {
	box-shadow: 0px 0px 6px black;
	background-color:red;
	color:white;
}

.ep3:hover {
	box-shadow: 0px 0px 6px black;
	background-color:blue;
	color:white;
}

/*.chart-demo .knowledge.dragHover, .chart-demo .concept.dragHover { border:2px solid orange; }
*/
/* ---------------------- */
/* ARROW concept */
.window.concept.arrow:after, .window.concept.arrow:before {
	left: 102%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.window.concept.arrow:after {
	border-color: rgba(46, 204, 113, 0);
	border-left-color: #2ecc71;
	border-width: 8px;
	margin-top: -8px;
}
.window.concept.arrow:before {
	border-color: rgba(39, 174, 96, 0);
	border-left-color: #27ae60;
	border-width: 11px;
	margin-top: -11px;
}
/* ARROW Knowledge */
.window.knowledge.arrow:after, .window.knowledge.arrow:before {
	right: 102%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.window.knowledge.arrow:after {
	border-color: rgba(52, 152, 219, 0);
	border-right-color: #3498db;
	border-width: 8px;
	margin-top: -8px;
}
.window.knowledge.arrow:before {
	border-color: rgba(41, 128, 185, 0);
	border-right-color: #2980b9;
	border-width: 11px;
	margin-top: -11px;
}
/* ARROW Poche */
.window.poche.arrow:after, .window.poche.arrow:before {
	right: 102%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.window.poche.arrow:after {
	border-color: rgba(230, 126, 34, 0);
	border-right-color: #e67e22;
	border-width: 8px;
	margin-top: -8px;
}
.window.poche.arrow:before {
	border-color: rgba(211, 84, 0, 0);
	border-right-color: #d35400;
	border-width: 11px;
	margin-top: -11px;
}
/* ---------------------- */
/* ELement */
.legend_element{
	padding: 0 5px 0 5px;
	margin-bottom: 5px;
}

.legend_element2{
	/*padding: 10px 10px 10px 10px;*/
}

.c_empty{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	font-family: Arial;
	color: #27AE60;
	background: #ffffff;
	border: solid #27AE60 2px;
	text-decoration: none;
}

.c_full{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	font-family: Arial;
	color: #27AE60;
	/*color: #ffffff;*/
	background: #ffffff;
	/*background: #2ECC71;*/
	border: solid #27AE60 2px;
	text-decoration: none;
}

.k_empty{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	font-family: Arial;
	color: #2980B9;
	background: #ffffff;
	border: solid #2980B9 2px;
	text-decoration: none;
}

.k_full{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	font-family: Arial;
	color: #2980B9;
	/*color: #ffffff;*/
	background: #ffffff;
	/*background: #3498DB;*/
	border: solid #2980B9 2px;
	text-decoration: none;
}

.p_empty{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	font-family: Arial;
	color: #D35400;
	background: #ffffff;
	border: solid #D35400 2px;
	text-decoration: none;
}

.p_full{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	font-family: Arial;
	/*color: #D35400;*/
	color: #ffffff;
	/*background: #ffffff;*/
	background: #E67E22;
	border: solid #D35400 2px;
	text-decoration: none;
}

.other{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	font-family: Arial;
	color: #ffffff;
	background: #E74C3C;
	border: dotted #C0392B 2px;
	text-decoration: none;
}
/* ------------ */
/* Links */
.cc_link{
	font-family: Arial;color: #27AE60;background: transparent;border-bottom: solid #27AE60 2px;text-decoration: none;
}
      
.co_link{
	font-family: Arial;color: #27AE60;background: transparent;border-bottom: dotted #27AE60 2px;text-decoration: none;
}
      
.kk_link{
	font-family: Arial;color: #2980B9;background: transparent;border-bottom: solid #2980B9 2px;text-decoration: none;
}
      
.ko_link{
	font-family: Arial;color: #2980B9;background: transparent;border-bottom: dotted #2980B9 2px;text-decoration: none;
}
      
.pp_link{
	font-family: Arial;color: #D35400;background: transparent;border-bottom: solid #D35400 2px;text-decoration: none;
}
      
.po_link{
	font-family: Arial;color: #D35400;background: transparent;border-bottom: dotted #D35400 2px;text-decoration: none;
}

/*  legende des mines  */
.c_connu{
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	
	font-family: Arial;
	color: white;
	background: #2ecc71;
	border: solid #27ae60 2px;
	text-decoration: none;
}
.c_atteignable{
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	
	font-family: Arial;
	color: white;
	background: #1abc9c;
	border: solid #16a085 2px;
	text-decoration: none;
}
.c_alternatif{
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	
	font-family: Arial;
	color: white;
	background: #9b59b6;
	border: solid #8e44ad 2px;
	text-decoration: none;
}
.c_hamecon{
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	
	font-family: Arial;
	color: white;
	background: #34495e;
	border: solid #2980b9 2px;
	text-decoration: none;
}
.k_validees{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	font-family: Arial;
	color: black;
	background: transparent;
	border: solid #2c3e50 2px;
	text-decoration: none;
}
.k_encours{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	font-family: Arial;
	color: white;
	background: #f1c40f;
	border: solid #f39c12 2px;
	text-decoration: none;
}
.k_manquante{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	font-family: Arial;
	color: white;
	background: #e67e22;
	border: solid #d35400 2px;
	text-decoration: none;
}
.k_indesidable{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	font-family: Arial;
	color: white;
	background: #e74c3c;
	border: solid #c0392b 2px;
	text-decoration: none;
}




.selectedElement{
	color: red;
	border: dotted red 4px;
}

