.button.drop, .drop{
	cursor:move;
}

.cursor{
	border-radius: 50%;
	width: 20px;
	height: 20px; 
	background-color: red;
	opacity: 0.5;
}


#actionbar .panel {
margin-bottom:0px;
padding-bottom: 0px;
}

#map_container .tabs dd > a, .tabs .tab-title > a {
display: block;
background: #efefef;
color: #222222;
padding: 0.5rem 0.5rem;
font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
font-size: 1rem;
}

#map{
		border : 0px;

}

#map_container{
	/*height:1000px;*/
	overflow:hidden;
	/*background-image: url("/img/pattern.png");*/
}
body{
	/*background-color: white;*/
	background-color:#efefef;
}
.demo {
  	top: -500px;
	left: -500px;
	position: relative;
  	/*width:100%;*/
  	width:10000px;
  	/*background-color:white;    */
  	background-color:#efefef;
  	/*overflow:auto;  */
  	/*margin-top: 53px;
  	margin-bottom:25px;*/
  	height: 10000px;
}

/** ELEMENTS **/
.chart-demo .window { 
	/*border:0.1em dotted #d4e06b; 	*/
	width:auto; 
	height:auto;
	cursor:move;
	line-height:1em;	
	z-index:4;
	font-weight:bold;
}

.chart-demo .window.knowledge { 
	/*border:0.15em dotted red; 	*/
	/*width:20em;*/
	max-width: 20em;
	min-width: 5em;
}

.chart-demo .window.concept { 
	/*border:0.15em dotted green;*/
	padding: 15px;
	min-width: 5em;
	max-width: 10em;
}

/** HOVER EFFECTS **/
.chart-demo .window.knowledge:hover, .chart-demo .window.knowledge._jsPlumb_source_hover, .chart-demo .window.knowledge._jsPlumb_target_hover {
    border:0.2em solid blue;
    color:blue;
}

.chart-demo .window.concept:hover, .chart-demo .window.concept._jsPlumb_source_hover, .chart-demo .window.concept._jsPlumb_target_hover {
    border:0.2em solid green;
    color:green;
}

.chart-demo .window.poche:hover, .chart-demo .window.poche._jsPlumb_source_hover, .chart-demo .window.poche._jsPlumb_target_hover {
    border:0.2em solid orange;
    color:orange;
}

/*.ep {
	float:right;
	width:10px;
	height:1em;
	background-color:orange;
	cursor:pointer;
	box-shadow: 0px 0px 2px black;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;
}
*/
.icon{
	display: none;
}

.ep {
	position:absolute;
	bottom: -20px;
	left: -10px;
	width:auto;
	height:auto;
	/*background-color:green;*/
	color : green;
	cursor:pointer;
	/*box-shadow: 0px 0px 2px black;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;*/
}
.ep2 {
	position:absolute;
	bottom: -20px;
	right: -10px;
	width:auto;
	height:auto;
	/*background-color:red;*/
	color : red;
	cursor:pointer;
	/*box-shadow: 0px 0px 2px black;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;*/
}

.ep3 {
	position:absolute;
	top: -20px;
	left: -20px;
	width:auto;
	height:auto;
	/*background-color:red;*/
	color : blue;
	cursor:pointer;
	/*box-shadow: 0px 0px 2px black;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;*/
}

.sup {
	position:absolute;
	top: -20px;
	right:-20px;
	/*right: 5px;*/
	width:auto;
	height:auto;
	/*border:1px dotted red;*/
	color: red;
	cursor:pointer;
	/*box-shadow: 0px 0px 2px red;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;*/
}

.sup:hover{
	box-shadow: 0px 0px 6px black;
	background-color:red;
	color:white;
}

.ep:hover{
	box-shadow: 0px 0px 6px black;
	background-color:green;
	color:white;
}
.ep2:hover {
	box-shadow: 0px 0px 6px black;
	background-color:red;
	color:white;
}

.ep3:hover {
	box-shadow: 0px 0px 6px black;
	background-color:blue;
	color:white;
}

.chart-demo .knowledge.dragHover, .chart-demo .concept.dragHover { border:2px solid orange; }
