<div id="user_container"></div>

<!-- //////////////////////////////////////////////////////////////////////: -->
<!-- Left part -->
<script type="text/template" id="user-on-template">
    
</script>

<script type="text/template" id="user-out-template">
    
</script>

<script type="text/template" id="user-new-template">
    
</script>

<script type="text/template" id="user-search-template">
    
</script>