<div id="user_container" class="small-12 medium-12 large-12 columns"></div>

<!-- //////////////////////////////////////////////////////////////////////: -->
<!-- Left part -->
<script type="text/template" id="user-profil-template">
	<div class="large-6 medium-6 small-12 columns">
		<h4>Users linked to the project</h4>
		<hr>
		{{ _.each(users_linked, function(permission) { }}
			<div class="row panel callout">
				<div class="large-1 medium-1 small-1 columns">
			    	<img class="roundedImage" src="{{- permission.user.img }}"/>
			    	
			    </div>
			    <div class="large-11 medium-11 small-11 columns">
			    	<div class="row">
					    <div class="large-12 columns">
					      <div class="row collapse">
					      	<label><h4>{{- permission.user.name }}</h4>{{- permission.user.email }}</label>
					        <div class="small-10 columns">
					    		<select id="{{- permission.user.id }}_right">
					          		<option data-id-user="{{- permission.user.id }}" {{if((permission.right != "r")&&(permission.right != "rw")){ }}selected{{ } }} value="u">unlink</option>
			          				<option data-id-user="{{- permission.user.id }}" {{if(permission.right == "r"){ }}selected{{ } }} value="r">Read only</option>
			          				<option data-id-user="{{- permission.user.id }}" {{if(permission.right == "rw"){ }}selected{{ } }} value="rw">Read an write</option>
					        	</select>
					        </div>
					        <div class="small-2 columns">
					          <a href="#" class="button postfix secondary changePermission" data-id-user="{{- permission.user.id }}">Validate</a>
					        </div>
					      </div>
					    </div>
					</div>
			    </div>
			</div>
		{{ }); }}
	</div>

	<div class="large-6 medium-6 small-12 columns">
		<h4>Users not linked to the project</h4>
		<hr>
		{{ _.each(users_notlinked, function(user) { }}
			<div class="row panel">
			    <div class="large-1 medium-1 small-1 columns">
			    	<img class="roundedImage" src="{{- user.img }}"/>
			    </div>
			    <div class="large-11 medium-11 small-11 columns">
			    	<div class="row">
					    <div class="large-12 columns">
					      <div class="row collapse">
					      	<label><h4>{{- user.name }}</h4>{{- user.email }}</label>
					        <div class="small-10 columns">
					    		<select id="{{- user.id }}_right">
					          		<option value="u">none</option>
					          		<option value="r">Read only</option>
					          		<option value="rw">Read an write</option>
					        	</select>
					        </div>
					        <div class="small-2 columns">
					          <a href="#" class="button postfix addPermission" data-id-user="{{- user.id }}">Validate</a>
					        </div>
					      </div>
					    </div>
					</div>
			    </div>
		 	</div>
		{{ }); }}
	</div>
    
</script>


<script type="text/template" id="user-search-template">
    	<div class="large-10 medium-10 small-10 columns">
    		<input type="text" class="search" id="searchUser" placeholder="search users by keywords"/>
		</div>
        <div class="large-2 medium-2 small-2 columns">
          <a href="#" class="button postfix inviteUser">Send an invitation by email</a>
        </div>
</script>