<div id="user_container"></div>

<!-- //////////////////////////////////////////////////////////////////////: -->
<!-- Left part -->
<script type="text/template" id="user-profil-template">
	<div class="large-6 medium-6 small-6 columns">
		<hr><center><h4>Users linked to the project</h4></center><hr>
		{{ _.each(users_linked, function(permission) { }}
			<div class="row panel callout radius">
				<div class="large-3 medium-3 small-3 columns">
			    	<img class="roundedImage" src="{{- permission.user.img }}"/>
			    	
			    </div>
			    <div class="large-9 medium-9 small-9 columns">
			    	<div class="row">
					    <div class="large-12 columns">
					      <div class="row collapse">
					      	<label><h4>{{- permission.user.name }}</h4>{{- permission.user.email }}</label>
					        <div class="small-10 columns">
					    		<select id="{{- permission.user.id }}_right">
					          		<option data-id-user="{{- permission.user.id }}" {{if((permission.right != "admin")&&(permission.right != "rw")){ }}selected{{ } }} value="u">unlink</option>
			          				<option data-id-user="{{- permission.user.id }}" {{if(permission.right == "admin"){ }}selected{{ } }} value="admin">Project administrator</option>
			          				<option data-id-user="{{- permission.user.id }}" {{if(permission.right == "rw"){ }}selected{{ } }} value="rw">Read and write</option>
			          				<option data-id-user="{{- permission.user.id }}" {{if(permission.right == "r"){ }}selected{{ } }} value="r">Read only</option>
					        	</select>
					        </div>
					        <div class="small-2 columns">
					          <a href="#" class="button postfix changePermission" style="color:white" data-id-user="{{- permission.user.id }}">Validate</a>
					        </div>
					      </div>
					    </div>
					</div>
			    </div>
			</div>
		{{ }); }}
	</div>

	<div class="large-5 medium-6 small-6 columns">
		<hr><center><h4>Users not linked to the project</h4></center><hr>
		{{ _.each(users_notlinked, function(user) { }}
			<div class="row panel callout radius">
			    <div class="large-3 medium-3 small-3 columns">
			    	<img class="roundedImage" src="{{- user.img }}"/>
			    </div>
			    <div class="large-9 medium-9 small-9 columns">
			    	<div class="row">
					    <div class="large-12 columns">
					      <div class="row collapse">
					      	<label><h4>{{- user.name }}</h4>{{- user.email }}</label>
					        <div class="small-10 columns">
					    		<select id="{{- user.id }}_right">
					          		<option value="rw">Read and write</option>
					          		<option value="r">Read only</option>
					          		<option value="admin">Project administrator</option>
					        	</select>
					        </div>
					        <div class="small-2 columns">
					          <a href="#" class="button postfix addPermission" style="color:white" data-id-user="{{- user.id }}">Add</a>
					        </div>
					      </div>
					    </div>
					</div>
			    </div>
		 	</div>
		{{ }); }}
	</div>
    
</script>


<script type="text/template" id="user-search-template">
	<br>
	<div class="row">
    	<div class="large-6 medium-6 small-6 columns">
	    	<div class="row collapse">
		        <div class="small-3 columns">
			      <span class="prefix">Search</span>
			    </div>
			    <div class="small-9 columns">
		          <input type="text" class="search" placeholder="Search members by typing his name">
		        </div>			  
		    </div>
		</div>
        <div class="large-5 medium-6 small-6 columns">
	        <div class="row collapse">
		        <div class="small-1 large-1 columns">
			      <span class="prefix">@</span>
			    </div>
			    <div class="small-9 columns">
		          <input type="text" placeholder="Send an invitation by email" id="searchUser">
		        </div>
		        <div class="small-2 columns">
		          <a href="#" class="button postfix inviteUser">Send</a>
		        </div>
		    </div>
	    </div>
    </div>
</script>