<div id="user_container" class="small-12 medium-12 large-12 columns"></div>

<!-- //////////////////////////////////////////////////////////////////////: -->
<!-- Left part -->
<script type="text/template" id="user-profil-template">
	{{ _.each(users_linked, function(permission) { }}
		<a href="#" class="button round tiny removePermission" data-id-user="{{- permission.user.id }}">
		    <div class="large-3 medium-3 small-3 columns" data-id-user="{{- permission.user.id }}">
		    	<img data-id-user="{{- permission.user.id }}" class="roundedImage" src="{{- permission.user.img }}"/>
		    </div>
		    <div data-id-user="{{- permission.user.id }}" class="large-9 medium-9 small-9 columns">
		    	<label data-id-user="{{- permission.user.id }}">
		    		<h4 data-id-user="{{- permission.user.id }}">{{- permission.user.name }}</h4>
		    	</label>
		    	<select data-id-user="{{- permission.user.id }}" id="{{- permission.user.id }}_right">
		          <option data-id-user="{{- permission.user.id }}" {{if(permission.right == "Read only"){ }}selected{{ } }} value="r">Read only</option>
		          <option data-id-user="{{- permission.user.id }}" {{if(permission.right == "Read and Write"){ }}selected{{ } }} value="rw">Read an write</option>
		        </select>
		    </div>
	 	</a>
	{{ }); }}

	{{ _.each(users_notlinked, function(user) { }}
		<a href="#" class="button secondary round tiny addPermission" data-id-user="{{- user.id }}">
		    <div class="large-3 medium-3 small-3 columns" data-id-user="{{- user.id }}"><img class="roundedImage" src="{{- user.img }}" data-id-user="{{- user.id }}"/></div>
		    <div class="large-9 medium-9 small-9 columns" data-id-user="{{- user.id }}">
		    	<label data-id-user="{{- user.id }}">
		    		<h4 data-id-user="{{- user.id }}">{{- user.name }}</h4>
		    	</label>
		    	<select id="{{- user.id }}_right" data-id-user="{{- user.id }}">
		          <option value="r" data-id-user="{{- user.id }}">Read only</option>
		          <option value="rw" data-id-user="{{- user.id }}">Read and write</option>
		        </select>
		    </div>
	 	</a>
	{{ }); }}
    
</script>

<script type="text/template" id="user-search-template">
    	<div class="large-10 medium-10 small-10 columns">
    		<input type="text" class="search" id="searchUser" placeholder="search users by keywords"/>
		</div>
        <div class="large-2 medium-2 small-2 columns">
          <a href="#" class="button inviteUser">Invite user</a>
        </div>
</script>