<!DOCTYPE html>
<html>
  <head>
    <!--
      For demonstration purposes, the `title` is dynamically set here based on
      your `sails.config.appName` to show that you can inject data into layouts
      exactly the same way as with your other view templates.
    -->
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />


    <!--
      Client-side Javascript
      ========================
    --> 

    <script src="js/vendor/custom.modernizr.js"></script>  

    <script src="js/vendor/jquery-1.10.2.js"></script>
    <script src="js/vendor/underscore.js"></script>
    <script>
      _.templateSettings = {
        interpolate: /\{\{\=(.+?)\}\}/g,
        evaluate: /\{\{(.+?)\}\}/g
      };
    </script>
    <script src="js/vendor/backbone.js"></script>
 

    <!--
      Stylesheets
      ========================     
    -->
    <link rel="stylesheet" href="styles/foundation.css">
    <link rel="stylesheet" type="text/css" href="styles/overlay_css_timela.css" /> 

  </head>

  <body>

    <!-- Include the view file for the current controller/route -->
    <%- body %>







    <!--
      Foundation Javascript
      ========================
    --> 
    <script src="js/vendor/foundation.min.js"></script>

    <script>
      $(document).foundation();
    </script>


  </body>
</html>
