<!DOCTYPE html>
<html>
  <head>
    <!--
      For demonstration purposes, the `title` is dynamically set here based on
      your `sails.config.appName` to show that you can inject data into layouts
      exactly the same way as with your other view templates.
    -->
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />


    <!--
      Client-side Javascript
      ========================
    --> 

    <script src="js/vendor/custom.modernizr.js"></script>  
    <script type='text/javascript' src='js/vendor/jquery-1.10.2.js'></script>
    
    <script src="js/vendor/underscore.js"></script>
    <script>
      _.templateSettings = {
        escape: /\{\{\-(.+?)\}\}/g,
        interpolate: /\{\{\=(.+?)\}\}/g,
        evaluate: /\{\{(.+?)\}\}/g,
        escape: /\{\{\-(.+?)\}\}/g
      };
    </script>
    <script src="js/vendor/backbone.js"></script>
    <script type="text/javascript" src="js/s3upload.js"></script>

    <!--
      Stylesheets
      ========================     
    -->
    <link rel="stylesheet" href="styles/foundation.css">
    <link rel="stylesheet" type="text/css" href="styles/overlay_css_timela.css" /> 

  </head>

  <body>

    <%- partial('app/templates/notification_templates') %>

    <!-- Include the view file for the current controller/route -->
  

    <script src="/js/vendor/backbone.iosync.js"></script>
    <script src="/js/vendor/backbone.iobind.js"></script>
    <script type="text/javascript" src="js/vendor/socket.io.js"></script>
    <script type="text/javascript" src="js/sails.io.js"></script>

    <script src="js/BB_app/global_functions.js"></script>
    <!-- Interface client/server -->

    <script type="text/javascript" src="js/BB_app/app.js"></script>
    <script type="text/javascript" src="js/BB_app/modules/notification.js"></script>
    <!-- Global objects -->
    <script src="js/BB_app/global_models.js"></script>
    <script src="js/BB_app/global_collections.js"></script>

    


      <%- body %>

  <!--  <script type="text/javascript" src="js/BB_app/modules/notifications.js"></script> -->



    <!--
      Foundation Javascript
      ========================
    --> 

    <script src="js/foundation.min.js"></script>

    <script>
      $(document).foundation();
      /////////////////////////////////////////////////////////////////////////////////////////////
      // Realtime connection
      /////////////////////////////////////////////////////////////////////////////////////////////
      function rt (io, callback) {
        // as soon as this file is loaded, connect automatically, 
        var socket = io.connect("/",{'sync disconnect on unload ': true});
        socket.on('connect', function socketConnected() {
          
          socket.get("/auth/openChannels", function(data){
            console.log(data.msg);
            console.log(data.channels);
          });

          socket.on('notification:create', function socketConnected(x) {
            console.log("xxxxxx",x)
          });

          console.log(
            'Socket is now connected and globally accessible as `socket`.\n' + 
            'e.g. to send a GET request to Sails, try \n' + 
            '`socket.get("/", function (response) ' +
              '{ console.log(response); })`'
          );
          callback();
        });
        window.socket = socket;
      };
    </script>


  </body>
</html>
