<!DOCTYPE html>
<html>
  <head>
    <!--
      For demonstration purposes, the `title` is dynamically set here based on
      your `sails.config.appName` to show that you can inject data into layouts
      exactly the same way as with your other view templates.
    -->
    <title><%- title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="styles/foundation2.css" />
    <link rel="stylesheet" href="styles/pace.css" />
    <script src="js/vendor/modernizr.js"></script>
    <script type='text/javascript' src='js/vendor/jquery-1.10.2.js'></script>
    <script src="js/vendor/underscore.js"></script>
    <script src="js/vendor/pace.min.js"></script>
    <script>
      _.templateSettings = {
        escape: /\{\{\-(.+?)\}\}/g,
        interpolate: /\{\{\=(.+?)\}\}/g,
        evaluate: /\{\{(.+?)\}\}/g,
        escape: /\{\{\-(.+?)\}\}/g
      };
    </script>
    <script src="js/vendor/backbone.js"></script>
    <script type="text/javascript" src="js/s3upload.js"></script>

    <!--
      Stylesheets
      ========================     
    -->
    <link rel="stylesheet" type="text/css" href="styles/overlay_css_timela.css" /> 

  </head>
  <body>

    <script src="/js/vendor/backbone.iosync.js"></script>
    <script src="/js/vendor/backbone.iobind.js"></script>
    <script type="text/javascript" src="js/vendor/socket.io.js"></script>
    <script type="text/javascript" src="js/sails.io.js"></script>
    <script type="text/javascript" src="js/BB_app/api.js"></script>
    <script type="text/javascript" src="js/BB_app/app.js"></script>
    <!-- Global objects -->
    <script src="js/BB_app/global_functions.js"></script>
    <script src="js/BB_app/global_models.js"></script>
    <script src="js/BB_app/global_collections.js"></script>

    <!-- ////////////////////// -->
    <!-- Menu -->
    <script src="js/BB_app/modules/menu.js"></script>
    <script type="text/template" id="menu-template">
      <button id="menuCreaktiveButton" href="#" data-dropdown="menuCreaktive" aria-controls="menuCreaktive" aria-expanded="false" class="button round secondary tiny dropdown"><img title="Menu" src="/img/icones/Menu-24.png"/></button>
      <ul id="menuCreaktive" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
        {{ _.each(links,function(link){ }}
          <li><a href="{{-link.href}}">{{-link.name}}</a></li>
        {{ }); }}
      </ul>
    </script>
    <span id="menu_container"></span>
    <!-- //////////////////// -->

    <!-- <div id="creaktive_window" class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <nav class="tab-bar">
          <section class="left-small">
            <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
          </section>
          <center id="title_page"></center>
          <section class="middle tab-bar-section">
            <h1 class="title">CreaKtive</h1>

          </section>

        </nav>

        <aside class="left-off-canvas-menu">
          <ul class="off-canvas-list">
            <li><label>Actions</label></li>
            <li><a href="/">Manager</a></li>
            <li><a href="/editprofile">Profile</a></li>
            <li><a class="active" id="logout" href="/logout">Logout</a></li>
            <li><label>Links</label></li>
            <li><a href="/contact">Support</a></li>
            <li><a href="http://creaktive.fr/documentation/">Documentation</a></li>
            <li><a href="http://creaktive.fr/">Terms of service</a></li>
            <li><a href="http://creaktive.fr/">Privacy Policy</a></li>
            <li><a href="http://creaktive.fr/contact/">FAQ</a></li>
            <li><label>Copyright © 2014 CreaKtive, Inc.</label></li>
          </ul>
        </aside> 

        <section class="main-section"> -->
          <%- body %>
        <!-- </section>

      <a class="exit-off-canvas"></a>

      </div>
    </div>
 -->
    <script>
      /////////////////////////////////////////////////////////////////////////////////////////////
      // Realtime connection
      /////////////////////////////////////////////////////////////////////////////////////////////
      function rt (io, callback) {
        // as soon as this file is loaded, connect automatically, 
        var socket = io.connect();
        socket.on('connect', function socketConnected() {
          
          socket.get("/auth/openChannels", function(data){
            console.log(data.msg);
            console.log(data.channels);
          });
          // Notification
          // socket.on('notification:create', function socketConnected(x) {console.log("xxxxxx",x)});
          // // Knowledge
          // socket.on('knowledge:create', function socketConnected(x) {console.log("xxxxxxxx-knowledge:create",x)});
          // socket.on('knowledge:update', function socketConnected(x) {console.log("xxxxxxxx-knowledge:update",x)});
          // socket.on('knowledge:remove2', function socketConnected(x) {console.log("xxxxxxxx-knowledge:remove",x)});
          // // Concept
          // socket.on('concept:create', function socketConnected(x) {console.log("xxxxxxxx-concept:create",x)});
          // socket.on('concept:update', function socketConnected(x) {console.log("xxxxxxxx-concept:update",x)});
          // socket.on('concept:remove2', function socketConnected(x) {console.log("xxxxxxxx-concept:remove",x)});
          // // Category
          // socket.on('poche:create', function socketConnected(x) {console.log("xxxxxxxx-poche:create",x)});
          // socket.on('poche:update', function socketConnected(x) {console.log("xxxxxxxx-poche:update",x)});
          // socket.on('poche:remove2', function socketConnected(x) {console.log("xxxxxxxx-poche:remove",x)});
          // // User
          // socket.on('user:create', function socketConnected(x) {console.log("xxxxxxxx-user:create",x)});
          // socket.on('user:update', function socketConnected(x) {console.log("xxxxxxxx-user:update",x)});
          // socket.on('user:remove2', function socketConnected(x) {console.log("xxxxxxxx-user:remove",x)});
          // // Link
          // socket.on('link:create', function socketConnected(x) {console.log("xxxxxxxx-link:create",x)});
          // socket.on('link:update', function socketConnected(x) {console.log("xxxxxxxx-link:update",x)});
          // socket.on('link:remove2', function socketConnected(x) {console.log("xxxxxxxx-link:remove",x)});
          
          console.log(
            'Socket is now connected and globally accessible as `socket`.\n' + 
            'e.g. to send a GET request to Sails, try \n' + 
            '`socket.get("/", function (response) ' +
              '{ console.log(response); })`'
          );
          callback();
        });
        window.socket = socket;
      };
    </script>

    <script src="js/foundation.min.js"></script>
    <script src="js/foundation/foundation.joyride.js"></script>
    <script src="js/vendor/jquery.cookie.js"></script>
    <script src="js/foundation/foundation.abide.js"></script>
    <script>
      $(document).foundation();
    </script>


    

<script>
// Include the UserVoice JavaScript SDK (only needed once on a page)
UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/FYdygsM9I2wGMsFkWgdpw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

//
// UserVoice Javascript SDK developer documentation:
// https://www.uservoice.com/o/javascript-sdk
//

// Set colors
UserVoice.push(['set', {
  accent_color: '#448dd6',
  trigger_color: 'white',
  trigger_background_color: '#e23a39'
}]);

// Identify the user and pass traits
// To enable, replace sample data with actual user traits and uncomment the line
UserVoice.push(['identify', {
  //email:      'john.doe@example.com', // User’s email address
  //name:       'John Doe', // User’s real name
  //created_at: 1364406966, // Unix timestamp for the date the user signed up
  //id:         123, // Optional: Unique id of the user (if set, this should not change)
  //type:       'Owner', // Optional: segment your users by type
  //account: {
  //  id:           123, // Optional: associate multiple users with a single account
  //  name:         'Acme, Co.', // Account name
  //  created_at:   1364406966, // Unix timestamp for the date the account was created
  //  monthly_rate: 9.99, // Decimal; monthly rate of the account
  //  ltv:          1495.00, // Decimal; lifetime value of the account
  //  plan:         'Enhanced' // Plan name for the account
  //}
}]);

// Add default trigger to the bottom-right corner of the window:
UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-left' }]);

// Or, use your own custom trigger:
//UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

// Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
UserVoice.push(['autoprompt', {}]);
</script>

    

  </body>
</html>
