<script type="text/template" id="activityLog-template">
  {{ if(notif.content != "") { }}
    <tr>
      <td><img width="30" src="{{- user.img }}"></td>
      <td><strong>{{- user.name}}</strong><br><small>{{- notif.date}}</small></td>
      <td>{{- notif.content }}</td>
    </tr>
  {{ } }}
</script>
