<script type="text/template" id="actionMenu-template">
  <div class="large-9 medium-9 small-8 columns">
    {{ if(from == "bbmap"){ }}
      <a style="display:none" href="/timela?projectId={{-project.id}}" class="button secondary tiny radius timelinePresentation"><img src="/img/icones/Bullets-32-blue.png" /></a>
    {{ }else{ }}
      <a style="display:none" href="/bbmap?projectId={{-project.id}}" class="button secondary tiny radius timelinePresentation"><img src="/img/icones/Nodes-32.png" /></a>
    {{ } }}  

    {{ if(mode == "edit"){ }}

        <a href="#" class="button secondary simplePadding radius" data-reveal-id="title_project_modal">
          <b>
          {{-project.title}}
          {{ if(project.starred){ }}<img data-dropdown="title_project_dropdown"  title="starred project" src="/img/icones/Shape-Star2-32.png" />{{ } }}
          {{ if(project.status == 'public'){ }}
            <img data-model-id="{{-project.id}}" data-dropdown="title_project_dropdown"  title="public project" src="/img/icones/Open-32.png"/>
          {{ }else{ }}
            <img data-model-id="{{-project.id}}" data-dropdown="title_project_dropdown"  title="private project" src="/img/icones/Lock-32.png"/>
          {{ } }}
          </b>
        </a>
        <div id="title_project_modal" class="modalContainer reveal-modal" data-reveal></div>
        



        <a href="#" class="button secondary simplePadding radius" data-reveal-id="members_manager_modal">
          <b>Members</b><img data-type="action" title="mode" src="/img/icones/Group-Add-32.png"/>
        </a>
        <div id="members_manager_modal" class="modalContainer reveal-modal" data-reveal></div>

    {{ } }}


    {{ if(from != "bbmap"){ }}
      <a class="button simplePadding success radius"><b>Inspiration Wall</b><img data-type="action" title="mode" src="/img/icones/Pencil-32-white.png"/></a> <strong><small>(get inspired with images)</small></strong>
    {{ } }}



    {{ if(mode == "visu"){ }}
      

      {{ if(from == "bbmap"){ }}
        <a style="display:none" href="#edit" class="button simplePadding alert radius"><b>Edit</b><img data-type="action" title="mode" src="/img/icones/Pencil-32-white.png"/></a>
      {{ } }}


    {{ }else if(mode == "edit"){ }}
      

      {{ if(from == "bbmap"){ }}
        {{ if((filter == "c")||(filter == "ck")||(filter == "ckp")){ }}
            <a style="padding:10px" href="#" id="dropC" class="drop dropC button tiny success round" title="Drag & Drop Concept to Map">
              <img title="Drag & Drop Concept to Map" width="24px" class="drop" src="/img/icones/add-concept-32-white.png"/>
            </a>
        {{ } }}
        {{ if((filter == "p")||(filter == "kp")||(filter == "ckp")){ }}
          <a style="padding:10px" href="#" id="dropP" class="drop dropP button tiny pocheDesign round" title="Drag & Drop Category to Map">
            <img title="Drag & Drop Category to Map" width="24px" class="drop" src="/img/icones/add-poche-32-white.png"/>
          </a>
        {{ } }}
        {{ if((filter == "k")||(filter == "ck")||(filter == "ckp")||(filter == "kp")){ }}
          <a style="padding:10px" href="#" id="dropK" class="drop dropK button tiny round" title="Drag & Drop Knowledge to Map">
            <img title="Drag & Drop Knowledge to Map" width="24px" class="drop" src="/img/icones/add-k-32-white.png"/>
          </a>
        {{ } }}

      {{ } }}
    {{ } }}
  </div>

  <div class="large-3 medium-3 small-4 columns">
    <ul style="float:right" class="button-group tiny radius">
      {{ if(from == "bbmap"){ }}
        <li><a style="padding:10px" href="#" class="button secondary magicWand"><img class="pulse" title="magic wand" src="/img/icones/Magic-Wand-24.png"/></a></li>
        <li><a style="padding:10px" href="#" class="button secondary zoomin"><img title="zoom-out" src="/img/icones/Zoom-Out-24.png"/></a></li>
        <li><a style="padding:10px" href="#" class="button secondary zoomout"><img title="zoom-in" src="/img/icones/Zoom-In-24.png"/></a></li>
        <li><a style="padding:10px" href="#" class="button secondary reset"><img title="reset" src="/img/icones/Fit-To-Size-24.png"/></a></li>
      {{ } }}
        <li><a style="padding:10px" href="#" class="button secondary fullscreen"><img title="full-screen" src="/img/icones/Full-Screen-Expand-24.png"/></a></li>
      <small style="display:none" id="zoom_val"></small>
    </ul>
  </div>

</script>