
<script type="text/template" id="import-export-template">
    <div class="row panel">
      <div class="large-12 columns">
        <a href="#" class="tiny button radius ckExport">Export your CK</a>
        <textarea id="ck_to_export" placeholder="Click on 'Export' button above and copy the following generated code"></textarea>
      </div>
    </div>

    <div class="row panel">
      <div class="large-12 columns">
          <textarea id="ck_to_import" placeholder="Paste here a generated code from an other project and then click on 'Import' button below"></textarea>
        <a id="export_text_area" href="#" class="tiny button radius success ckImport">Import a CK</a>
      </div>
    </div>
</script>

<script type="text/template" id="actionMenu-template">
  <div class="large-8 medium-8 small-8 columns">
    <ul class="button-group tiny radius">
      {{ if(mode == "edit"){ }}
      <li>
        <a data-tooltip aria-haspopup="true" title="Bénéficiez d'aides et de suggestions" href="#" class="tiny radius actionMenuButton button secondary getSuggestions"><img title="magic wand" src="/img/icones/Magic-Wand-24.png"/></a>
      </li>
      {{ } }}
      <li>
        <a data-tooltip aria-haspopup="true" title="Téléchager votre map en format PNG" href="#" class="tiny button actionMenuButton radius secondary downloadimage"><img title="Download screenshot" src="/img/icones/Download-24.png"/></a>
      </li>
      <li>
        <a data-tooltip aria-haspopup="true" title="zoom-in" href="#" class="button tiny actionMenuButton secondary zoomin"><img title="zoom-out" src="/img/icones/Zoom-Out-24.png"/></a>
      </li>
      <li>
        <a data-tooltip aria-haspopup="true" title="zoom-out" href="#" class="button tiny actionMenuButton secondary zoomout"><img title="zoom-in" src="/img/icones/Zoom-In-24.png"/></a>
      </li>
      <li>
        <a data-tooltip aria-haspopup="true" title="Recadrer la vue sur la map" href="#" class="button tiny actionMenuButton secondary reset"><img title="reset" src="/img/icones/Fit-To-Size-24.png"/></a>
      </li>
      <li>
        <a data-tooltip aria-haspopup="true" title="Basculer en mode plein écran" href="#" class="button tiny actionMenuButton secondary fullscreen"><img title="full-screen" src="/img/icones/Full-Screen-Expand-24.png"/></a>
      </li>
      {{ if(mode == "edit"){ }}
      <li>
        <a href="#" id="dropC" style="padding:10px" class="drop dropC button tiny success round" title="Drag & Drop Concept to Map"><img title="Drag & Drop Concept to Map" width="24px" class="drop" src="/img/icones/add-concept-32-white.png"/></a>
      </li>
      <li>
        <a href="#" id="dropP" style="padding:10px"  class="drop dropP button tiny pocheDesign round" title="Drag & Drop Category to Map"><img title="Drag & Drop Category to Map" width="24px" class="drop" src="/img/icones/add-poche-32-white.png"/></a>
      </li>
      <li>
        <a href="#" id="dropK" style="padding:10px"  class="drop dropK button tiny round" title="Drag & Drop Knowledge to Map"><img title="Drag & Drop Knowledge to Map" width="24px" class="drop" src="/img/icones/add-k-32-white.png"/></a>
      </li>
    {{ } }} 
    </ul>  
  </div>

  <div class="large-4 medium-4 small-4 columns">
    <span style="float:right">
      {{ if(mode == "edit"){ }}
        <a data-tooltip aria-haspopup="true" title="Import / export your CK" href="#" class="importExport button tiny secondary radius" data-reveal-id="import_export_modal">
          <b>Import/export</b>
        </a>
        <div id="import_export_modal" class="modalContainer reveal-modal medium" data-reveal></div>

        <a data-tooltip aria-haspopup="true" title="Accès aux utilisateurs du projet" href="#" class="button tiny success radius" data-reveal-id="members_manager_modal">
          <b>Partager</b>
        </a>
        <div id="members_manager_modal" class="modalContainer reveal-modal medium" data-reveal></div>

      {{ } }}
    </span>
  </div>

  <div id="suggestions_modal" class="modalContainer reveal-modal large" data-reveal>
    

    <ul class="tabs" data-tab>
      <li class="tab-title active" style="display:true"><a href="#categorization">Categorization</a></li>
      <li class="tab-title" style="display:true"><a href="#localisation_tab">Localisation</a></li>
      <li class="tab-title" style="display:none"><a href="#evaluation_tab">Evaluation</a></li>
      <li class="tab-title" style="display:none"><a href="#cadrage_tab">Cadrage</a></li>
      <li class="tab-title" style="display:none"><a href="#dd_tab">DD</a></li>
    </ul>

    <div class="tabs-content">
      <div class="content active" id="categorization">
        <ul class="menu_modal button-group show-for-large-up">
          <li><a href="#cnc" class="button tiny secondary">Concept not categorized</a></li>
          <li><a href="#knc" class="button tiny secondary">Knowledge not categorized</a></li>
          <li><a href="#cc" class="button tiny secondary">Concept categorized</a></li>
          <li><a href="#kc" class="button tiny secondary">Knowledge categorized</a></li>
        </ul>
          
        <div id="ck_normalisation_container"></div>
      </div>
      
      <div class="content" id="localisation_tab">
        <ul class="menu_modal button-group show-for-large-up">
          <li><a href="#knl" class="button tiny secondary">Knowledge not localized</a></li>
          <li><a href="#kl" class="button tiny secondary">Knowledge localized</a></li>
        </ul>

        <div id="ck_localisation_container"></div>
        
      </div>

      <div class="content" id="evaluation_tab">
          <div id="ck_evaluation_container"></div>
      </div>
      
      <div class="content" id="cadrage_tab">
        <div class="row">
          <div id="ck_cadrage_container" class="large-12 medium-12 small-12 panel"></div>
        </div>
      </div>

      <div class="content" id="dd_tab">
        <div class="row">
          <div id="ck_dd_container" class="large-12 medium-12 small-12 panel"></div>
        </div>
      </div>

    </div>
    <small>CreaKtive algorithm</small>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>


</script>