
<script type="text/template" id="actionMenu-template">
  <div class="large-10 medium-10 small-10 columns">
    <ul class="button-group tiny radius">
      {{ if(mode == "edit"){ }}
      <li>
        <a data-tooltip aria-haspopup="true" title="Bénéficiez d'aides et de suggestions" href="#" class="tiny radius actionMenuButton button secondary getSuggestions"><img title="magic wand" src="/img/icones/Magic-Wand-24.png"/></a>
      </li>
      {{ } }} 
      <li>
        <a data-tooltip aria-haspopup="true" title="Téléchager votre map en format PNG" href="#" class="tiny button actionMenuButton radius secondary downloadimage"><img title="Download screenshot" src="/img/icones/Download-24.png"/></a>
      </li>
      <li>
        <a data-tooltip aria-haspopup="true" title="zoom-in" href="#" class="button tiny actionMenuButton secondary zoomin"><img title="zoom-out" src="/img/icones/Zoom-Out-24.png"/></a>
      </li>
      <li>
        <a data-tooltip aria-haspopup="true" title="zoom-out" href="#" class="button tiny actionMenuButton secondary zoomout"><img title="zoom-in" src="/img/icones/Zoom-In-24.png"/></a>
      </li>
      <li>
        <a data-tooltip aria-haspopup="true" title="Recadrer la vue sur la map" href="#" class="button tiny actionMenuButton secondary reset"><img title="reset" src="/img/icones/Fit-To-Size-24.png"/></a>
      </li>
      <li>
        <a data-tooltip aria-haspopup="true" title="Basculer en mode plein écran" href="#" class="button tiny actionMenuButton secondary fullscreen"><img title="full-screen" src="/img/icones/Full-Screen-Expand-24.png"/></a>
      </li>
      {{ if(mode == "edit"){ }}
      <li>
        <a href="#" id="dropC" style="padding:10px" class="drop dropC button tiny success round" title="Drag & Drop Concept to Map"><img title="Drag & Drop Concept to Map" width="24px" class="drop" src="/img/icones/add-concept-32-white.png"/></a>
      </li>
      <li>
        <a href="#" id="dropP" style="padding:10px"  class="drop dropP button tiny pocheDesign round" title="Drag & Drop Category to Map"><img title="Drag & Drop Category to Map" width="24px" class="drop" src="/img/icones/add-poche-32-white.png"/></a>
      </li>
      <li>
        <a href="#" id="dropK" style="padding:10px"  class="drop dropK button tiny round" title="Drag & Drop Knowledge to Map"><img title="Drag & Drop Knowledge to Map" width="24px" class="drop" src="/img/icones/add-k-32-white.png"/></a>
      </li>
    {{ } }} 
    </ul>  
  </div>

  <div class="large-2 medium-2 small-2 columns">
    <span style="float:right">
      {{ if(mode == "edit"){ }}
        <a data-tooltip aria-haspopup="true" title="Accès aux utilisateurs du projet" href="#" class="button tiny success radius" data-reveal-id="members_manager_modal">
          <b>Partager</b>
        </a>
        <div id="members_manager_modal" class="modalContainer reveal-modal medium" data-reveal></div>
      {{ } }}
    </span>
  </div>

  <div id="suggestions_modal" class="modalContainer reveal-modal large" data-reveal>
    <div id="actions_percentage"></div>
    <ul class="tabs" data-tab>
      <li class="tab-title active" style="display:true"><a href="#categorization">Categorization</a></li>
      <li class="tab-title" style="display:true"><a href="#localisation_tab">Localisation</a></li>
      <li class="tab-title" style="display:true"><a href="#evaluation_tab">Evaluation</a></li>
      <li class="tab-title" style="display:true"><a href="#objectif_tab">Objectif</a></li>
    </ul>

    <div class="tabs-content">
      <div class="content active" id="categorization">

        <ul class="menu_modal button-group">
          <li><a href="#cnc" class="button tiny secondary">Concept not categorized</a></li>
          <li><a href="#knc" class="button tiny secondary">Knowledge not categorized</a></li>
          <li><a href="#cc" class="button tiny secondary">Concept categorized</a></li>
          <li><a href="#kc" class="button tiny secondary">Knowledge categorized</a></li>
        </ul>
          
        <b id="cnc">Concepts no categorized</b>
        <table id="c_not_normalized_table" style="width:100%"></table>
        <b id="knc">Knowledges no categorized</b>
        <table id="k_not_normalized_table" style="width:100%"></table>
        <hr>
        <b id="cc">Concepts categorized</b>
        <table id="c_normalized_table" style="width:100%"></table>
        <b id="kc">Knowledges categorized</b>
        <table id="k_normalized_table" style="width:100%"></table>
      </div>
      
      <div class="content" id="localisation_tab">
        <ul class="menu_modal button-group">
          <li><a href="#kl" class="button tiny secondary">Knowledge not localized</a></li>
          <li><a href="#knl" class="button tiny secondary">Knowledge localized</a></li>
        </ul>

        <b id="kl">Knowledge not localized</b>
        <table id="k_not_localized_table" style="width:100%"></table>
        <b id="knl">Knowledge localized</b>
        <table id="k_localized_table" style="width:100%"></table>
        
      </div>

      <div class="content" id="evaluation_tab">
        <div class="row">
          <div id="radar_graph_container" class="large-7 medium-12 small-12 columns">
            <canvas id="myEvaluationChart"></canvas>
          </div>
          <div id="radar_detail_container" class="large-5 medium-12 small-12 columns panel"></div>
        </div>
        <div class="row">
          <div class="large-12 medium-12 small-12 panel">
            <table style="width:100%">
                <thead>
                  <tr>
                    <th>Suggestions</th>
                  </tr>
                </thead>
                <tbody id="evaluations_table">
                </tbody>
            </table>
          </div>
        </div>
      </div>
      
      <div class="content" id="objectif_tab">
        <div class="row">
          <div id="objectif_radar" class="large-7 medium-12 small-12 columns">
            <canvas id="objectif_radar_canvas"></canvas>
          </div>
          <div id="objectif_sliders_container" class="large-5 medium-12 small-12 columns panel"></div>
        </div>
        <div class="row">
          <div class="large-12 medium-12 small-12 panel">
            <table style="width:100%">
                <thead>
                  <tr>
                    <th>Suggestions</th>
                  </tr>
                </thead>
                <tbody id="objectif_suggestion_table">
                </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
    <small>CreaKtive suggestion algorithm</small>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>


</script>