<script type="text/template" id="activitiesList-template">
    New activities</strong>({{- news_notifs.length }})
    <a href="#" class="button tiny success round closeAll">close all</a>
    <table width="100%">
      <tbody>
      {{_.each(news_notifs,function(notification){ }}
          <tr>
            <td width="100"><img class="large-4 small-4 medium-4 roundedImage" src="{{- notification.from.img }}"></td>
            <td><strong>{{- notification.from.name}}</strong></td>
            <td><small>{{- notification.date}}</small></td>
            <td>{{- notification.content }}</td>
            <td><a href="#" class="close" data-id-notification='{{-notification.id}}' style="color:green">close</a></td>
          </tr>
      {{ }); }}
      </tbody>
    </table>
</script>
