<script type="text/template" id="activitiesList-template">
  <h2>
    {{-model.title}} 
    {{ if((model.type != "category")&&(model.type != "project")){ }}<span class="success round label" style="background-color:{{- model.color }}">{{- model.label}}</span>{{ } }}    
    <span class="round label">{{-model.type}}</span>
    {{ _.each(model.tags, function(tag) { }}
        <span class="success round label" style="cursor:pointer">{{-tag}}</span>
    {{ }); }}
  </h2>
  <hr>

  <fieldset>
    <legend align=left>
      New activities</strong>({{- news_notifs.length }})
      <a href="#" class="button tiny success round closeAllActivities">close all</a>
      <a href="#" class="button tiny alert round removeAllActivities">remove all</a>
    </legend>

    <table width="100%">
      <tbody>
      {{_.each(news_notifs,function(notification){ }}
          <tr>
            <td width="100"><img class="large-4 small-4 medium-4 roundedImage" src="{{- notification.from.img }}"></td>
            <td><strong>{{- notification.from.name}}</strong></td>
            <td><small>{{- notification.date}}</small></td>
            <td>{{- notification.content }}</td>
            <td><a href="#" class="closeActivity" style="color:green">close</a></td>
            <td><a href="#" class="removeActivity" style="color:red">remove</a></td>            
          </tr>
      {{ }); }}
      </tbody>
    </table>
  </fieldset> 

  <fieldset>
    <legend align=left>
      Read activities</strong>({{- read_notifs.length }}) 
      <a href="#" class="button tiny alert round removeAllActivities">remove all</a>
    </legend>
    <table width="100%">
      <tbody>
      {{_.each(read_notifs,function(notification){ }}
          <tr>
            <td width="100"><img class="large-4 small-4 medium-4 roundedImage" src="{{- notification.from.img }}"></td>
            <td><strong>{{- notification.from.name}}</strong></td>
            <td><small>{{- notification.date}}</small></td>
            <td>{{- notification.content }}</td>
            <td><a href="#" class="removeActivity" style="color:red">remove</a></td>
          </tr>
      {{ }); }}
      </tbody>
    </table> 
  </fieldset>   
</script>
