<script type="text/template" id="attachment-list-template">
	<fieldset>
 		<legend>Attachments ({{- model.attachment.length }})</legend>
		<ul>
		{{ _.each(model.attachment, function(file) { }}
		      <li><a href="#" class="openFile" data-file-path="{{- file.path}}" title="open">{{- file.name.substring(0,20) }}...</a>
		      <a href="#" style="color:red" class="removeFile" data-file-id="{{- file.id}}" title="remove">x</a></li>
		{{ }); }}
		</ul>
		<input class="uploadFile" type="file" />
	</fieldset>
</script>
