<script type="text/template" id="attachment-diapo-template">
    <div class="large-12 medium-12 small-12 columns">
      <b>Images ({{-images.length}})</b>
      <ul id="imageList"  class="clearing-thumbs" data-clearing >
      {{ _.each(images, function(image){ }}
      	<li class="large-3 medium-3 small-3">
      		<a href="/s3/getUrl?amz_id={{- image.url }}"><img crossorigin="*" class="large-12 medium-12 small-12 th" title="{{- image.name }}" src="/s3/getUrl?amz_id={{- image.url }}"></a>
      	</li>
    	{{ }) }}
    	</ul>
    </div>
</script>


<script type="text/template" id="attachment-input-template">
  <div class="large-12 medium-12 small-12 columns">
  	<span id="status">Please select a file</span>
    <input id="uploadfile" type="file"/>
  </div>
</script>

<script type="text/template" id="attachment-el-template">
	<tr>
      <td><img width="30" src="{{- user.img }}"></td>
      <td><a href="/s3/getUrl?amz_id={{- attachment.url }}"  target="_blank" class="" data-file-path="{{- attachment.path }}" title="{{- attachment.name }}">{{- attachment.name.substring(0,20) }}...</a></td>
      <td><small>{{- attachment.date}}</small></td>
    </tr>
</script>

