<!-- //////////////////////////////////////////////////////////////////////: -->
<!-- Modals -->
<div id="categoryEditorModal" class="reveal-modal small" data-reveal></div>
<!-- //////////////////////////////////////////////////////////////////////: -->
<script type="text/template" id="categoryEditor-normal-template">
    <div class="row">
        <a href="#" class="button small radius success expand"><strong>{{- category.title }}</strong></a>
        <a href="#" class="tiny button button round edit">Edit</a>
        {{= category.description }}
    </div>
</script>

<script type="text/template" id="categoryEditor-edition-template">
    <div class="row">
        <a href="#" class="button small radius success expand"><strong>{{- category.title }}</strong></a>
        <a href="#" class="button tiny round success updateCategory">Update!</a>
        <a href="#" class="button tiny round secondary cancelEdition">Cancel</a>
        <textarea  class="ckeditor"  name="editor" rows="10" cols="80">{{= category.description }}</textarea>        
    </div>
</script>