<script type="text/template" id="categoriesList-search-template">
    <h5>{{-title}}</h5><hr>
    <input type="text" class="search" placeholder="search in {{-title}}...">
</script>

<script type="text/template" id="categoriesList-tag-template">
    <div class="row">
        <div class="small-12 medium-12 large-12">
            <strong><a href="#" class="addFilter" data-filter-type="poche" data-filter-model="{{-poche.id}}">{{- poche.title }}</a></strong>
            <small style="color:#5da423">({{- rec }} knowledges)</small>
        </div>
        <div class="progress success large-12 medium-12 small-12" style="padding:0px;height:5px" >
          <span class="meter" style="background:#5da423;width: {{-per}}%"></span>
        </div>
    </div>  
</script>
