<script type="text/template" id="cklink-klinked-template">
	<a href="#panel1">K linked to ...</a>
	<div id="panel1" class="content active">
		{{ _.each(knowledges, function(knowledge) { }}
			<a class="button tiny success expand">
				{{-knowledge.title}}
				<input type="submit" style="float:right" value="x" class="removeKtoC" data-id-knowledge="{{-knowledge.id}}">
			</a>
		{{ }); }}
	</div>
</script>


<script type="text/template" id="cklink-current-concept-template">
	<div class="panel">
		<h2>{{-concept.title}}</h2>
	</div>
</script>


<script type="text/template" id="cklink-poches-template">
	<SELECT id="cklink_poches" MULTIPLE SIZE=5>
		<OPTION class="" VALUE="">Not classified</OPTION>
		{{ _.each(poches, function(poche) { }}
			<OPTION class="" VALUE="{{-poche.title}}">{{-poche.title}}</OPTION>
		{{ }); }}
	</SELECT>
</script>



