<script type="text/template" id="cklink-knowledges-template">
	{{ _.each(k_linked, function(knowledge) { }}
		<a id="cklink_{{-knowledge.id}}" data-id-knowledge="{{-knowledge.id}}" class="button alert radius round selectable">{{-knowledge.title}}</a>
	{{ }); }}
	{{ _.each(k_notlinked, function(knowledge) { }}
		<a id="cklink_{{-knowledge.id}}" data-id-knowledge="{{-knowledge.id}}" class="button radius round selectable">{{-knowledge.title}}</a>
	{{ }); }}
</script>

<script type="text/template" id="cklink-current-concept-template">
	<div class="panel">
		<h2>{{-concept.title}}</h2>
	</div>
</script>




