<div id="CKLinkModal" class="reveal-modal medium" data-reveal></div>

<script type="text/template" id="cklink-knowledges-template">
	{{ _.each(k_linked, function(knowledge) { }}
		<a id="cklink_{{-knowledge.id}}" data-id-knowledge="{{-knowledge.id}}" class="button alert small radius round selectable">{{-knowledge.title}}</a>
	{{ }); }}
	{{ _.each(k_notlinked, function(knowledge) { }}
		<a id="cklink_{{-knowledge.id}}" data-id-knowledge="{{-knowledge.id}}" class="button radius small round selectable">{{-knowledge.title}}</a>
	{{ }); }}
</script>

<script type="text/template" id="cklink-current-concept-template">
	<div class="panel">
		<h2>{{-concept.title}}</h2>
	</div>
</script>


<script type="text/template" id="cklink-header-template">
	<center><h2>CKLinks</h2><p>link knowledges to <strong>{{-concept.title}}</strong></p></center>
</script>

<script type="text/template" id="cklink-filters-template">
    <div class="row custom_row">
        <h5>Context:</h5> 
        {{ _.each(filters, function(filter) { }}
            <a class="button success round tiny remove" data-id-filter="{{-filter.id}}">{{- filter.model.title }}</a> +
        {{ }); }}
        <hr>
        <span class="label alert round">linked</span>
		<span class="label round">not linked</span>
		<br>
		<br>
    </div>
</script>