<script type="text/template" id="normalisation-suggestion-template">
  <tr>
  	<td width="20%">
  		<div class="{{- suggestion.element.css_manu }} {{- suggestion.element.css_auto }}" style="padding:10px;">
  			<center><b>{{- suggestion.element.title }}</b></center>
  		</div>
  	</td>
  	<td width="80%">
	  	<p>{{- suggestion.suggestion.fr }}</p>
	  	<select class="template_selection" data-id="{{-suggestion.element.id}}">
		    {{ _.each(suggestion.options,function(option){ }}
		        <option {{ if(option.value == suggestion.element.css_manu){ }}selected="selected"{{ } }} value="{{- option.value }}">{{- option.name.fr }} : {{- option.desc.fr }}</option>
		  	{{ }); }}
	  	</select>
  	</td>
  </tr>
</script>

<script type="text/template" id="normalisation-localisation-template">
  	<tr>
	  	<td width="20%">
	  		<div class="{{- localisation.element.css_manu }} {{- localisation.element.css_auto }}" style="padding:10px;">
	  			<center><b>{{- localisation.element.title }}</b></center>
	  		</div>
	  	</td>
	  	<td width="80%">
		  	<p>{{-localisation.suggestion.fr}}</p>
		  	<select class="k_localisation" data-id="{{-localisation.element.id}}">
             	{{ _.each(localisation.options,function(option){ }}
			        <option {{ if(option.value == localisation.element.inside){ }}selected="selected"{{ } }} value="{{- option.value }}">{{- option.name.fr }} : {{- option.desc.fr }}</option>
			  	{{ }); }}
		  	</select>
	  	</td>
	</tr>

</script>

<script type="text/template" id="evaluation-suggestion-template">
  <tr>
  	<td>
	  	<p>{{- suggestion.suggestion.fr }}</p>
	  	{{ if(suggestion.options.length > 0){ }} 
	  		<ul class="panel">
		  		{{ _.each(suggestion.options,function(option){ }}  
		  			<li>{{-option.name.fr}} - {{-option.desc.fr}}</li>
		  		{{ }); }}
	  		</ul>
	  	{{ } }}
  	</td>
  </tr>
</script>

<script type="text/template" id="radar-detail-template">
	<table style="width:100%">
		{{ _.each(evaluations,function(evaluation){ }} 
			<tr><td><b>{{- evaluation.options[0].name.fr }} -  <span class="label tiny round">{{- evaluation.options[0].value }}</span></b><br><small>{{- evaluation.options[0].desc.fr }}</small></td></tr>
		{{ }); }}
	</table>
</script>
