<script type="text/template" id="comments-header-template">
    <h4>Discussions ({{- comments.length }})</h4>
	{{ if(mode == "edit"){ }}
		<div class="row">
			<div class="small-7 large-7 medium-7 columns">
				<div class="row collapse postfix-round">
					<div class="small-10 columns">
						<input type="text" id="input_comment" placeholder="your comment">
					</div>
					<div class="small-2 columns">
						<input type="submit" class="button postfix addComment" value="+">
					</div>
				</div>
			</div>
		</div>
	{{ } }}		
</script>

<script type="text/template" id="comments-comment-template">
	<div class="row">
		{{ if(presentation == "classic"){ }}
			<div class="row">
				<div class="large-1 columns small-1">
					<img width="20" src="{{- user.img }}">
				</div>
				<div class="large-11 columns">
					<b>{{- user.name }}</b><small>{{- comment.date }}</small>
					<p>{{- comment.content }}</p>
				</div>
			</div>
		{{ }else{ }}
			{{ if(sens == 1){ }}
			<div class="large-2 columns small-2">
				<img width="20" src="{{- user.img }}">
			</div>
			<div class="panel bull_left large-10 columns">
				<small><b>{{- user.name }}</b> ({{- comment.date }})</small>
				<p>{{- comment.content }}</p>
			</div>
			{{ }else{ }}
			<div class="panel bull_right large-10 columns">
				<small><b>{{- user.name }}</b> ({{- comment.date }})</small>
				<p>{{- comment.content }}</p>
			</div>
			<div class="large-2 columns small-2">
				<img width="20" src="{{- user.img }}">
			</div>
			{{ } }}
		{{ } }}
	</div>	
</script>