<script type="text/template" id="comments-header-template">
	<div class="row">
		<div class="large-12 medium-12 columns max_chat">
			<h5>Discussions <strong>({{- nbr }})</strong> :</h5>
		</div>

		{{ if(mode == "edit"){ }}
		<div class="large-12 columns">
			<div class="row collapse">
				<div class="small-10 columns">
					<input type="text" id="input_comment" placeholder="Your coments here...">
				</div>
				<div class="small-2 columns">
					<a href="#" class="button round success newComment postfix">+</a>
				</div>
			</div>
		</div>
		{{ } }}
		<hr>
	</div>



</script>

<script type="text/template" id="comments-comment-template">        
	{{ if(sens == 1){ }}
		<div class="row msg_container base_receive">
            <div class="large-3 medium-3 small-3 columns">
                <img src="{{- user.img }}" class="max_img-responsive">
            </div>
            <div class="large-9 medium-9 small-9 columns">
                <div class="max_messages msg_sent">
                    <p>{{- comment.content }}</p>
                    <time datetime="2009-11-13T20:00">{{- user.name }} • {{- comment.date }}</time>
                    <a href="#" class="max_modify">modify - </a>
                    <a href="#" class="max_delete">delete</a>
                </div>
            </div>
        </div>
	{{ }else{ }}
		<div class="row msg_container base_sent">
            <div class="large-9 medium-9 small-9 columns">
                <div class="max_messages msg_sent">
                    <p>{{- comment.content }}</p>
                    <time datetime="2009-11-13T20:00">{{- user.name }} • {{- comment.date }}</time>
                    <a href="#" class="max_modify">modify - </a>
                    <a href="#" class="max_delete">delete</a>
                </div>
            </div>
            <div class="large-3 medium-3 small-3 columns">
                <img src="{{- user.img }}" class="max_img-responsive">
            </div>
        </div>
	{{ } }}
</script>