<script type="text/template" id="comments-template">
 	<fieldset>
 		<legend>Discussions about {{-model.title}}</legend>
 		<hr>
		<div class="row">
			{{ _.each(comments, function(comment) { }}  
					<div class="row comment">
		 			<div class="small-2 large-2 columns"><p><strong>{{- comment.user.name }}:</strong></p></div>
		 			<div class="small-8 large-8 columns"><p><font style="font-size:X-small;">({{- comment.date }})</font> - {{- comment.content }}</p></div>
		 			<div class="small-2 large-2 columns">
		 				<a style="float:right" class="remove button alert tiny" data-id-comment="{{- comment.id }}" >remove</a>
		 			</div>
		 		</div>
		 		<hr>
			{{ }); }}
		</div>
		<div class="row">
			<div class="small-2 large-1 columns">
				<img class="nailthumb-container" src="{{- user.img }}">
			</div>
			<div class="small-10 large-11 columns">
				<div class="row collapse">
					<div class="small-10 columns">
						<input type="text" class="input_comment" placeholder="your comment">
					</div>
					<div class="small-2 columns">
						<input type="submit" class="button prefix add" value="Comment!">
					</div>
				</div>
			</div>
		</div>
 	</fieldset>
</script>