<!-- ******************************** -->
<link rel="stylesheet" href="/CSS3GENERATOR/colorpicker.css" type="text/css">
<link rel="stylesheet" href="/CSS3GENERATOR/jquery-ui.css" type="text/css">
<style id="dynamic-styles" type="text/css">
  .btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 25;
    -moz-border-radius: 25;
    border-radius: 25px;
    font-family: Arial;
    color: #ffffff;
    font-size: 23px;
    padding: 12px 20px 10px 20px;
    border: solid #8c1f24 7px;
    text-decoration: none;
  }

</style>
<script src="/CSS3GENERATOR/jquery-ui.js"></script>
<script src="/CSS3GENERATOR/colorpicker.js" type="text/javascript"></script>
<!-- /////////////////////////////////////////////////////// -->
<script type="text/template" id="css3-generator-template">
  
  <div id="settings-wrap">
        
    <a class="btn" href="">Click me</a>
    
    <label for="text">text:</label>
    <input type="text" name="text" value="Click me" id="text" autocomplete="on">

    <input type="checkbox" style="display:none" name="font-family-check" checked="checked" id="font-family-check" data-control="font-family" autocomplete="off">
    <div data-control-group="font-family">
      <label for="font-family">font-family:</label>
      <select id="font-family">
        <option value="Arial">Arial</option>
        <option value="Georgia">Georgia</option>
        <option value="Courier New">Courier New</option>
      </select>
    </div>

    <input type="checkbox" style="display:none" name="font-color-check" checked="checked" id="font-color-check" data-control="font-color" autocomplete="off">
    <div data-control-group="font-color">
      <label for="color">font-color:</label>
      <input class="color" type="text" name="font-color" value="#ffffff" id="color" autocomplete="off">
      <div class="color-view bg" style="background-color: rgb(255, 255, 255);"></div>
    </div>


    


    <div style="display: none;">
      <div class="form-wrap">
        <input type="checkbox" name="box-shadow-color-check" id="box-shadow-color-check" data-control="box-shadow" autocomplete="off">
        <div data-control-group="box-shadow" class="disabled">
          <label for="box-shadow-color">box-shadow:</label>
          <input class="color" type="text" name="box-shadow-color" value="#666666" id="box-shadow-color" max="60" autocomplete="off" disabled="">
          <div class="color-view" style="background-color: rgb(102, 102, 102);"></div>
        </div>
      </div>

      <div data-control-group="box-shadow" class="disabled">

        <div class="form-wrap">
          <label for="box-shadow-x">x:</label>
          <input class="slider-bound" type="text" name="box-shadow-x" value="0" id="box-shadow-x" max="30" autocomplete="off" disabled="">
          <div id="box-shadow-x-slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all ui-slider-disabled ui-state-disabled" aria-disabled="true"><a class="ui-slider-handle ui-state-default ui-corner-all" href="http://css3buttongenerator.com/#" style="left: 0%;"></a></div>
        </div>

        <div class="form-wrap">
          <label for="box-shadow-y">y:</label>
          <input class="slider-bound" type="text" name="box-shadow-y" value="1" id="box-shadow-y" max="30" autocomplete="off" disabled="">
          <div id="box-shadow-y-slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all ui-slider-disabled ui-state-disabled" aria-disabled="true"><a class="ui-slider-handle ui-state-default ui-corner-all" href="http://css3buttongenerator.com/#" style="left: 3.3333333333333335%;"></a></div>
        </div>

        <div class="form-wrap">
          <label for="box-shadow-blur">blur:</label>
          <input class="slider-bound" type="text" name="box-shadow-blur" value="3" id="box-shadow-blur" max="30" autocomplete="off" disabled="">
          <div id="box-shadow-blur-slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all ui-slider-disabled ui-state-disabled" aria-disabled="true"><a class="ui-slider-handle ui-state-default ui-corner-all" href="http://css3buttongenerator.com/#" style="left: 10%;"></a></div>
        </div>

      </div>

      <div class="form-wrap">
        <input type="checkbox" name="padding-check" id="padding-check" data-control="padding" autocomplete="off">
        <div data-control-group="padding" class="disabled">
          <label for="padding">padding:</label>
          <input class="slider-bound" type="text" name="padding" value="10" id="padding" max="40" autocomplete="off" disabled="">
          <div id="padding-slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all ui-slider-disabled ui-state-disabled" aria-disabled="true"><a class="ui-slider-handle ui-state-default ui-corner-all" href="http://css3buttongenerator.com/#" style="left: 25%;"></a></div>
        </div>
      </div>

      <div data-control-group-switch="padding">

        <div class="form-wrap">
          <input type="checkbox" name="padding-top-check" checked="checked" id="padding-top-check" data-control="padding-top" autocomplete="off">
          <div data-control-group="padding-top">
            <label for="padding-top">padding-top:</label>
            <input class="slider-bound" type="text" name="padding-top" value="10" id="padding-top" max="40" autocomplete="off">
            <div id="padding-top-slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><a class="ui-slider-handle ui-state-default ui-corner-all" href="http://css3buttongenerator.com/#" style="left: 30%;"></a></div>
          </div>
        </div>
        <div class="form-wrap">
          <input type="checkbox" name="padding-right-check" checked="checked" id="padding-right-check" data-control="padding-right" autocomplete="off">
          <div data-control-group="padding-right">
            <label for="padding-right">padding-right:</label>
            <input class="slider-bound" type="text" name="padding-right" value="20" id="padding-right" max="40" autocomplete="off">
            <div id="padding-right-slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><a class="ui-slider-handle ui-state-default ui-corner-all" href="http://css3buttongenerator.com/#" style="left: 50%;"></a></div>
          </div>
        </div>
        <div class="form-wrap">
          <input type="checkbox" name="padding-bottom-check" checked="checked" id="padding-bottom-check" data-control="padding-bottom" autocomplete="off">
          <div data-control-group="padding-bottom">
            <label for="padding-bottom">padding-bottom:</label>
            <input class="slider-bound" type="text" name="padding-bottom" value="10" id="padding-bottom" max="40" autocomplete="off">
            <div id="padding-bottom-slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><a class="ui-slider-handle ui-state-default ui-corner-all" href="http://css3buttongenerator.com/#" style="left: 25%;"></a></div>
          </div>
        </div>
        <div class="form-wrap">
          <input type="checkbox" name="padding-left-check" checked="checked" id="padding-left-check" data-control="padding-left" autocomplete="off">
          <div data-control-group="padding-left">
            <label for="padding-left">padding-left:</label>
            <input class="slider-bound" type="text" name="padding-left" value="20" id="padding-left" max="40" autocomplete="off">
            <div id="padding-left-slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><a class="ui-slider-handle ui-state-default ui-corner-all" href="http://css3buttongenerator.com/#" style="left: 50%;"></a></div>
          </div>
        </div>

      </div>
    </div>





    <input type="checkbox" style="display:none" name="border-radius-check" checked="checked" id="border-radius-check" data-control="border-radius" autocomplete="off">
    <div data-control-group="border-radius">
      <label for="border-radius">border-radius:</label>
      <input class="slider-bound" type="text" name="border-radius" value="28" id="border-radius" max="60" autocomplete="off">
      <div id="border-radius-slider" class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><a class="ui-slider-handle ui-state-default ui-corner-all" href="http://css3buttongenerator.com/#" style="left: 41.66666666666667%;"></a></div>
    </div>

    <div class="form-wrap">
      <input type="checkbox" style="display:none" checked="checked" name="border-color-check" id="border-color-check" data-control="border" autocomplete="off">
      <div data-control-group="border" class="">
        <label for="border-color">border:</label>
        <input class="color" type="text" name="border-color" value="#1f628d" id="border-color" max="60" autocomplete="off">
        <div class="color-view" style="background-color: rgb(140, 31, 36);"></div>
      </div>
    </div>
    <div data-control-group="border" class="">
      <div class="form-wrap">
        <label for="border-style">border-style:</label>
        <select id="border-style">
          <option id="solid">solid</option>
          <option id-"dotted"="">dotted</option>
        </select>
      </div>
      <div class="form-wrap">
        <label for="border-width">border-width:</label>
        <input class="slider-bound" type="text" name="border-width" value="2" id="border-width" max="20" autocomplete="off">
        <div id="border-width-slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><a class="ui-slider-handle ui-state-default ui-corner-all" href="http://css3buttongenerator.com/#" style="left: 35%;"></a></div>
      </div>
    </div>
    



    <div class="form-wrap">
      <input type="checkbox" style="display:none" name="background-check" checked="checked" id="background-check" data-control="background" autocomplete="off">
      <div data-control-group="background">
        <label for="background">background:</label>
        <div class="radio-wrap">
          <input type="radio" style="display:none" name="background" value="" id="background-gradient" data-control-display="background-gradient" autocomplete="off">
          <label style="display:none">gradient</label>
          <input  style="display:none" type="radio" name="background" value="" id="background-solid" checked="checked" data-control-display="background-solid" autocomplete="off"><label style="display:none" >solid</label>
          <div class="clear"></div>
        </div>
      </div>
    </div>

    <div data-control-group="background">

      <div id="gradient-wrap" data-control-display-group="background-gradient" data-control-display-selector="background" class="" style="display: block;">
        <div class="form-wrap">
          <label for="bg-start-gradient">start color:</label>
          <input class="color" type="text" name="color" value="#3498db" id="bg-start-gradient" autocomplete="off">
          <div class="color-view bg" style="background-color: rgb(52, 152, 219);"></div>
        </div>

        <div class="form-wrap">
          <label for="bg-end-gradient">end color:</label>
          <input class="color" type="text" name="color" value="#2980b9" id="bg-end-gradient" autocomplete="off">
          <div class="color-view bg" style="background-color: rgb(41, 128, 185);"></div>
        </div>
      </div><!-- end #gradient-wrap -->

      <div id="solid-wrap" data-control-display-group="background-solid" data-control-display-selector="background" class="hidden disabled" style="display: none;">
        <div class="form-wrap">
          <label for="background">color:</label>
          <input class="color" type="text" name="color" value="#3498db" id="background" autocomplete="off" disabled="">
          <div class="color-view bg" style="background-color: rgb(52, 152, 219);"></div>
        </div>
      </div>

    </div>

    <div id="css-display" style="display:none"></div>

</div>
<a href="#" class="button tiny success round saveTemplate">save this template</a> 






</script>