<script type="text/template" id="dd-list-template">
	<br>
	<div class="panel">
		<h4>Dominant designs</h4>
		<table><tr></tr></table>
		<a href="#" style="display:none" class="button tiny expand success new_dd"><img title="new dominant design" src="/img/icones/Add-New-24.png"></a>
	</div>
</script>