 <div id="details_container"></div>

 <div id="uploadModal" class="reveal-modal tiny" data-reveal>
 	<div id="upload-container"></div>
 	<a class="close-reveal-modal">&#215;</a>
 </div>

 <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
 <!-- COMMENTS -->
 <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
 <script type="text/template" id="details-comment-template">
 	<div id="{{= comment.id }}_comment">

 		<div class="row comment">
 			<div class="small-2 large-2 columns"><p><strong>{{= comment.user.name }}:</strong></p></div>
 			<div class="small-8 large-8 columns"><p><font style="font-size:X-small;">({{= comment.date }})</font> - {{= comment.content }}</p></div>
 			<div class="small-2 large-2 columns">
 				<a style="float:right" class="remove button alert tiny" data-id-comment="{{= comment.id }}" >remove</a>
 			</div>
 		</div>
 		<hr>
 	</div>
 </script>


 <script type="text/template" id="details-comments-template">
 	<fieldset>
 		<legend>Activities</legend>
 		<hr>
 		<form class="{{= model.id }}_hidden" id="{{= model.id }}_form_comment" action="/" method="model">
 			{{ _.each(views, function(view) { }}  
 				{{= view }}
 				{{ }); }}
 			<div id="{{= model.id }}_comment">
 				<div class="row" id="input_comment_{{= model.id }}">
 					<div class="small-2 large-1 columns">
 						<img class="nailthumb-container" src="{{= c_user.img }}">
 					</div>
 					<div class="small-10 large-11 columns">
 						<div class="row collapse">
 							<div class="small-10 columns">
 								<input id="{{= model.id }}_input_comment" type="text" placeholder="your comment">
 							</div>
 							<div class="small-2 columns">
 								<input type="submit" class="button prefix" value="publish!">
 							</div>
 						</div>
 					</div>
 				</div>
 			</div>
 		</form>
 	</fieldset>
 </script>

 <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
 <!-- FILES -->
 <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
 <script type="text/template" id="details-files-template">
 		<legend>Attached files</legend>
 		<table>
 		{{ _.each(files, function(file) { }}
 			<tr>
 				<td><a href="#" class="openFile" data-file-path="{{= file.path}}">{{= file.name }}</a></td>
 				<td><a href="#" class="removeFile"><img data-file-id="{{= file.id}}" src="img/delete.png"></a></td>
				</tr>
 		{{ }) }}
 		</table>	
 </script>


 <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
 <!-- MEMBERS -->
 <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
 <script type="text/template" id="details-member-template">
 	<img src="{{= member.img}}" data-member-id="{{= member.id}}">
 	{{= member.name}}
 </script>

 <script type="text/template" id="details-members-template">

 	<legend>Members</legend>
 	<a href="#" class="button" data-dropdown="dropUser{{= model.id}}">Add members</a>
 	<div id="dropUser{{= model.id}}" data-dropdown-content class="f-dropdown content">  		
 		<div class="row">
 			{{ _.each(users, function(user) { }}
 				<p class="addMember">
 					<img class="large-4 medium-4 small-4 columns" src="{{= user.img}}" data-user-id="{{= user.id}}" class="addMember">
 					<p class="large-8 medium-8 small-8 columns" >{{= user.name}}</p>
 				</p>
 				{{ }) }}
 		</div>
 	</div>

 </script>


 <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
 <!-- LABEL -->
 <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
 <script type="text/template" id="details-labels-template">

 	<legend>labels</legend>
 	<a href="#" class="button" data-dropdown="dropColor{{= model.id}}">Edit label</a>
 	<div id="dropColor{{= model.id}}" data-dropdown-content class="f-dropdown content">  
 		<table>
 			<tr>
 				<td bgcolor="{{= labels[0].color }}" data-color="{{= labels[0].color }}" class="setLabel" ></td>
 				<td>{{= labels[0].label }}</td>
 				<td>{{= chosenLabel[0] }}</td>
 			</tr>
 			<tr>
 				<td bgcolor="{{= labels[1].color }}" data-color="{{= labels[1].color }}" class="setLabel" ></td>
 				<td>{{= labels[1].label }}</td>
 				<td>{{= chosenLabel[1] }}</td>
 			</tr>
 			<tr>
 				<td bgcolor="{{= labels[2].color }}" data-color="{{= labels[2].color }}" class="setLabel" ></td>
 				<td>{{= labels[2].label }}</td>
 				<td>{{= chosenLabel[2] }}</td>
 			</tr>
 		</table>
 	</div>
 </script>

 <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
 <!-- ACTIONS -->
 <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
 <script type="text/template" id="details-actions-template">
 	<legend>Actions</legend>
 	
 	<a href="#" class="button tiny expand" data-reveal-id="uploadModal" data-reveal>Attach File...</a>
 	 	<a href="#" class="button alert tiny expand destroy">Destroy</a>
 	<a href="#" class="button tiny expand disabled">Suscribe</a>
 	<a href="#" class="button alert tiny expand archive disabled">Archive</a>

 </script>

 <script type="text/template" id="details-modal-template">
 	<dl class="tabs" data-tab>
 		<dd class="active"><a href="#panelDetails">Details</a></dd>
 		<dd><a href="#panelAction">Action</a></dd>
 	</dl>
 </script>


 <script type="text/template" id="details-title-ckeditor-template">

 	<fieldset>
 		<legend>Informations</legend>
 		<input id="change_c_title" type="text" placeholder="title" value="{{= model.title }}"/>
 		<textarea  class="ckeditor"  name="editor" rows="10" cols="80">{{= model.content }}</textarea>
 		<a href="#" class="button small validate update_informations" data-action="change_c_title">Save</a>
 	</fieldset>
 </script>

