 <div id="c_details_container"></div>

 <div id="kDetailsModal" class="reveal-modal" data-reveal>
 	<div id="k_details_container"></div>
 	<a class="close-reveal-modal">&#215;</a>
 </div>



 <script type="text/template" id="details-comment-template">
 	<div id="{{= comment.id }}_comment">

 		<div class="row comment">
 			<div class="small-2 large-2 columns"><p><strong>{{= comment.user.name }}:</strong></p></div>
 			<div class="small-8 large-8 columns"><p><font style="font-size:X-small;">({{= comment.date }})</font> - {{= comment.content }}</p></div>
 			<div class="small-2 large-2 columns">
 				<a style="float:right" class="remove button alert tiny" data-id-comment="{{= comment.id }}" >remove</a>
 			</div>
 		</div>
 		<hr>
 	</div>
 </script>


 <script type="text/template" id="details-comments-template">
 	<fieldset>
 		<legend>Activities</legend>
 		<hr>
 		<form class="{{= model.id }}_hidden" id="{{= model.id }}_form_comment" action="/" method="model">
 			{{ _.each(views, function(view) { }}  
 				{{= view }}
 				{{ }); }}
 			<div id="{{= model.id }}_comment">
 				<div class="row" id="input_comment_{{= model.id }}">
 					<div class="small-2 large-1 columns">
 						<img class="nailthumb-container" src="{{= c_user.img }}">
 					</div>
 					<div class="small-10 large-11 columns">
 						<div class="row collapse">
 							<div class="small-10 columns">
 								<input id="{{= model.id }}_input_comment" type="text" placeholder="your comment">
 							</div>
 							<div class="small-2 columns">
 								<input type="submit" class="button prefix" value="publish!">
 							</div>
 						</div>
 					</div>
 				</div>
 			</div>
 		</form>
 	</fieldset>
 </script>

 <script type="text/template" id="details-member-template">
		<img src="{{= member.img}}" data-member-id="{{= member.id}}">
		{{= member.name}}
 </script>

  <script type="text/template" id="details-members-template">

 		<legend>Members</legend>
 		<a href="#" class="button" data-dropdown="dropUser{{= model.id}}">Add members</a>
 		<div id="dropUser{{= model.id}}" data-dropdown-content class="f-dropdown content">  		
 			<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
	 			{{ _.each(users, function(user) { }}
	 				<li >
	 				<img src="{{= user.img}}" data-user-id="{{= user.id}}" class="addMember">
	 					{{= user.name}}
	 				</li>
	 				{{ }) }}
	 		</ul>
	 	</div>
		
 </script>

  <script type="text/template" id="details-labels-template">

	<legend>labels</legend>
 		<a href="#" class="button" data-dropdown="dropColor{{= model.id}}">Edit label</a>
 		<div id="dropColor{{= model.id}}" data-dropdown-content class="f-dropdown content">  
 			<table>
 				<tr>
	 				<td bgcolor="#FF0000" data-color="#FF0000" class="setLabel" ></td>
	 				<td>Color 1</td>
	 				<td>{{= chosenLabel[0] }}</td>
 				</tr>
 				<tr>
	 				<td bgcolor="#FFF000" data-color="#FFF000" class="setLabel" ></td>
	 				<td>Color 2</td>
	 				<td>{{= chosenLabel[1] }}</td>
 				</tr>
 				<tr>
	 				<td bgcolor="#04B404" data-color="#04B404" class="setLabel" ></td>
	 				<td>Color 3</td>
	 				<td>{{= chosenLabel[2] }}</td>
 				</tr>
 			</table>
 		</div>
 </script>

  <script type="text/template" id="details-actions-template">

	 	<legend>Actions</legend>
	 	<a href="#" class="button alert tiny expand archive">Archive</a>
 </script>


<script type="text/template" id="details-title-ckeditor-template">

	<fieldset>
		<legend>Informations</legend>
		<input id="change_c_title" type="text" placeholder="title" value="{{= model.title }}"/>
		<textarea  class="ckeditor"  name="editor" rows="10" cols="80">{{= model.content }}</textarea>
		<a href="#" class="button small validate update_informations" data-action="change_c_title">Save</a>
	</fieldset>
</script>

<script type="text/template" id="k-details-title-ckeditor-template">

	<fieldset>
		<legend>Informations</legend>
		<input id="change_k_title" type="text" placeholder="title" value="{{= model.title }}"/>
		<textarea  class="ckeditor2"  name="editor" rows="10" cols="80">{{= model.content }}</textarea>
		<a href="#" class="button small validate update_informations" data-action="change_k_title">Save</a>
	</fieldset>
</script>