<script type="text/template" id="expertsList-search-template">
    <input type="text" class="search" placeholder="search in {{-title}}...">
</script>

<script type="text/template" id="expertsList-expert-template">
    <div class="row">
        <div class="small-12 medium-12 large-12">
            <strong><a class="alert addFilter" data-filter-type="expert" data-filter-model="{{-expert.id}}" style="background:white">{{- expert.name }}</a></strong>
            <small style="color:red">({{- rec }} knowledges)</small>
        </div>
        <div class="progress large-12 medium-12 small-12 alert" style="padding:0px;height:5px" >
          <span class="meter" style="width: {{-per}}%;"></span>
        </div>
    </div>


    
</script>