

<script type="text/template" id="poches-template">
	<a id="notClassified" class="button small selectable expand" data-filter-title="notClassified">Not classified</a>
	<hr />
	{{ _.each(poches, function(poche) { }}
		<a id="{{= poche.id }}" class="button small selectable secondary expand" data-filter-title="{{= poche.title }}" title="{{= poche.description }}">
			{{= poche.title }}
			<input style="float:right" data-id-poche="{{= poche.id }}" type="submit" value="x" class="removePoche" />
		</a>
	{{ }); }}
	<hr />
    <input type="text" id="newP" class="expand" placeholder="Name">
    <input type="text" id="newP_description" class="expand" placeholder="Description">
    <a href="#" class="add button success expand">new</a>
    
</script>

<script type="text/template" id="search-template">
	<div class="panel">
		<input type="text" placeholder="try to find knowledge by title..." class="search"/>
	</div>
</script>




<script type="text/template" id="post-template">
	<ul class="pricing-table">
	  <li class="title"><input type="checkbox" class="selectable" id="selector_{{= post.id }}" data-id-knowledge="{{= post.id }}"></li>
	  <li class="price">{{= post.title}}</li>
	  <li class="description">{{= post.user.name }} - {{= post.date }}</li>
	  <li class="bullet-item">
		{{ _.each(post.tags, function(tag) { }}
	        <a onclick="searchByTag('{{= tag }}')" class="tiny success button">{{= tag }}</a>
	    {{ }); }}
	  </li>
	  <li class="cta-button"><a class="button details" href="#">Details</a></li>
	</ul>
</script>


<script type="text/template" id="post-content-template">
	<div style="float:right">
		<a class="tiny secondary button" onclick="expand('.{{= post.id }}_hidden')">Open</a>
		<a class="button tiny secondary"onclick="collapse('.{{= post.id }}_hidden')">Close</a>
		<a class="button alert tiny removePost" data-id-post="{{= post.id }}" >remove</a>
	</div>
	<h2>{{= post.title }}</h2>
	<div class="hide {{= post.id }}_hidden">
		<p>{{= post.content }}</p>
		<hr />
		tags: 
	    {{ _.each(post.tags, function(tag) { }}
	        <a onclick="searchByTag('{{= tag }}')" class="tiny success button">{{= tag }}</a>
	    {{ }); }}
	    <hr />
	</div>
</script>


<script type="text/template" id="publish-module-template">
	<div class="panel">
		Add knowledge to 
		{{ _.each(filters, function(filter) { }}
        	<a class="tiny success button">{{= filter }}</a>
    	{{ }); }}
    	<input id="new_k_title" type="text" placeholder="title"/>
		
	    <a href="#" class="button small validate addPost">Add!</a>
	</div>
</script>

