<script type="text/template" id="imagesList-diapo-template">

	<fieldset>
        <legend align=left>Images ({{-images.length}})</legend>
        <ul id="imageList"  class="clearing-thumbs" data-clearing >

		</ul>
    </fieldset>

</script>




<script type="text/template" id="imagesList_image_template" >
	<li class="large-3 medium-3 small-3"><a href="{{- image.imagedate }}"><img class="large-12 medium-12 small-12 th" title="{{- image.name }}" src="{{- image.imagedate }}"></a></li>
</script>