<script type="text/template" id="importData-template">
	<h3>Import Data from an other project : </h3>
	  <hr>     
	<div class="expand">
		<b style="float:left">Select a project</b>
		<a href="#" id="importData" style="float:right" class="button round small success">Import!</a>

		<select id="projectSelection" class="expand">
	      	{{ _.each(projects,function(project){ }}
				<option value="{{- project.id }}">{{- project.title }}</option>
	    	{{ });}}
	    </select>
	    <div id="concepts_list_container" class="small-4 medium-4 large-4 columns"></div>
	    <div id="categories_list_container" class="small-4 medium-4 large-4 columns"></div>
	    <div id="knowledges_list_container" class="small-4 medium-4 large-4 columns"></div>
	</div>
	
</script>


<script type="text/template" id="importData-categories-template">
	<label>Categories with affiliated knowledges...</label>
	<table style="width:100%">
		{{ _.each(categories,function(category){ }}
			<tr>
		    	<td><input type="checkbox" class="categories_list" id="checkbox_{{- category.id}}" value="{{- category.id}}" /></td>
		    	<td><span style="{{- category.css }}">{{- category.title }}</span></td>
		    </tr>
		{{ });}}
	</table>
</script>

<script type="text/template" id="importData-knowledges-template">
	<label>... or just selected knowledges</label>
	<table style="width:100%">
		{{ _.each(knowledges,function(knowledge){ }}
			<tr>
		    	<td><input type="checkbox" class="knowledges_list" id="checkbox_{{- knowledge.id}}" value="{{- knowledge.id}}" /></td>
		    	<td><span style="{{- knowledge.css }}">{{- knowledge.title }}</span></td>
		    </tr>
		{{ });}}
	</table>
</script>

<script type="text/template" id="importData-concepts-template">
	<label>Concepts</label>
	<table style="width:100%">
		{{ _.each(concepts,function(concept){ }}
			<tr>
		    	<td><input type="checkbox" class="concepts_list" id="checkbox_{{- concept.id}}" value="{{- concept.id}}" /></td>
		    	<td><span style="{{- concept.css }}">{{- concept.title }}</span></td>
		    </tr>
		{{ });}}
	</table>
</script>