
<script type="text/template" id="import-export-template">
    <div class="row panel">
      <div class="large-12 columns">
        <a href="#" class="tiny button radius ckExport">Export your CK</a>
        <textarea id="ck_to_export" placeholder="Click on 'Export' button above and copy the following generated code"></textarea>
      </div>
    </div>

    <div class="row panel">
      <div class="large-12 columns">
          <textarea id="ck_to_import" placeholder="Paste here a generated code from an other project and then click on 'Import' button below"></textarea>
        <a id="export_text_area" href="#" class="tiny button radius success ckImport">Import a CK</a>
      </div>
    </div>
</script>