<!-- //////////////////////////////////////////////////////////////////////: -->
<!-- Timeline template parts -->
<script type="text/template" id="knowledge-normal-template">
    <div class="row">
        <div class="large-7 medium-7 small-7 columns">
            <h4>{{- knowledge.title}}</h4>
            <span class="success round label" style="background-color:{{- knowledge.color }}">{{ if(knowledge.color == "#27AE60"){ }}Validated{{ }else if(knowledge.color == "#F39C12"){ }}Processing{{ }else{ }}Missing{{ } }}</span>
            <i>Last update by <b>{{-knowledge.user.name}}</b> at {{-knowledge.date}}</i><br>
        </div>
        <div class="large-5 medium-5 small-5 columns">
            <a href="#" data-dropdown="label{{-knowledge.id}}" class="button tiny round dropdown">
            Actions
            </a>
            <ul id="label{{-knowledge.id}}" data-dropdown-content class="f-dropdown">
              <li><a href="#" class="edit">Edit</a></li>
              <li><a href="#" class="updateLabel" data-knowledge-id="{{-knowledge.id}}" data-label-color="#27AE60">validated</a></li>
              <li><a href="#" class="updateLabel" data-knowledge-id="{{-knowledge.id}}" data-label-color="#F39C12">processing</a></li>
              <li><a href="#" class="updateLabel" data-knowledge-id="{{-knowledge.id}}" data-label-color="#C0392B">missing</a></li>
              <li><a href="#" class="remove">remove</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">
            {{= knowledge.content }}
        </div>
    </div>
    <div class="row">
        <div class="large-6 medium-6 small-6 columns">
            <span class="secondary round label">tags ({{- knowledge.tags.length }})</span> -
            {{ _.each(knowledge.tags, function(tag) { }}
                <span class="success round label" style="cursor:pointer">{{-tag}}</span>
            {{ }); }}
        </div>
        <div class="large-6 medium-6 small-6 columns">
            <span class="secondary round label">attachments ({{- knowledge.attachment.length }})</span> -
            {{ _.each(knowledge.attachment, function(file) { }}
                <a href="#" data-dropdown="drop{{-file.id}}" class="button tiny round success dropdown">{{- file.name }}</a>
                <ul id="drop{{-file.id}}" data-dropdown-content class="f-dropdown">
                  <li><a href="#" class="openFile" data-file-path="{{- file.path}}">Open</a></li>
                  <li><a href="#" class="removeFile" data-file-id="{{- file.id}}">Remove</a></li>
                </ul>
            {{ }); }}
            <span class="alert round label openAttachmentModal" style="cursor:pointer" data-knowledge-id="{{-knowledge.id}}">+</span>
    </div>
</script>

<script type="text/template" id="knowledge-edition-template">
    <div class="row">
        <input type="text" class="title" value="{{- knowledge.title}}"/>
        <textarea  class="ckeditor"  name="editor" rows="10" cols="80">{{= knowledge.content }}</textarea>
        <hr>
        <a href="#" class="button tiny round success updateKnowledge">Update!</a>
        <a href="#" class="button tiny round secondary cancelEdition">Cancel</a>
    </div>
</script>