<span id="menu_container"></span>

<script type="text/template" id="menu-template">
  <span id="menuCreaktiveButton">
	  <button href="#" data-dropdown="menuCreaktive" aria-controls="menuCreaktive" aria-expanded="false" class="button round secondary tiny dropdown"><img width="20" src="{{-user.img }}"/></button>
	  <small>{{-user.name }} - </small> <b>{{- project.title}}</b>
  </span>
  <ul id="menuCreaktive" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
    {{ _.each(links,function(link){ }}
      <li><a href="{{-link.href}}">{{-link.name}}</a></li>
    {{ }); }}
  </ul>
  
</script>

