<!-- //////////////////////////////////////////////////////////////////////: -->
<!-- Timeline template parts -->
<script type="text/template" id="modelEditor-normal-template">
    <fieldset>
        <legend align=left>Content <a href="#" class="tiny button round button edit">Edit</a></legend>
        {{= model.content }}
    </fieldset>
</script>

<script type="text/template" id="modelEditor-edition-template">
    <fieldset>
        <legend align=left>
            Content 
            <a href="#" class="button tiny round success updateModel">Update!</a>
            <a href="#" class="button tiny round secondary cancelEdition">Cancel</a>
        </legend>
        <input type="text" class="title" value="{{- model.title}}"/>
        <textarea  class="ckeditor"  name="editor" rows="10" cols="80">{{= model.content }}</textarea>
    </fieldset>
</script>