<!-- //////////////////////////////////////////////////////////////////////: -->
<!-- Timeline template parts -->
<script type="text/template" id="modelEditor-normal-template">
    <center>
	    <div class="panel">
	    	<a href="#" class="button" style="{{-model.css}}">{{= model.title }}</a>
	    	<br>
	    	{{= model.content }}
	   	</div>
	</center>
	<a href="#" class="button tiny radius secondary edit">Edit</a>
	<a href="#" id="{{-model.id}}_action" class="button tiny radius secondary structureSubTree">Structure subtree</a>
</script>

<script type="text/template" id="modelEditor-edition-template">
    <div class="panel">
	    <input type="text" class="title" value="{{- model.title}}"/>
	    <textarea  class="ckeditor"  name="editor" rows="10" cols="80">{{= model.content }}</textarea>
	    <br>
	    <a href="#" class="button tiny radius success updateModel">Update!</a>
	    <a href="#" class="button tiny radius secondary cancelEdition">Cancel</a>
	</div>
</script>
