<script type="text/template" id="nodesMapping-search-template">
    <input type="text" class="search" placeholder="search...">
</script>

<script type="text/template" id="nodesMapping-tag-template">
    {{ _.each(collection,function(model){ }}
        <a href="#" class="tiny button round action">{{-model.title}}</a>
    {{ }); }} 
</script>
