<div id="connectedUsers_container" data-dropdown-content class="f-dropdown content">
	
</div>

<script type="text/template" id="connectedUser-template">
		<a href="#">{{= user.name}}</a>
</script>

<script type="text/template" id="notifications-template">
	<li><label><a href="#" data-reveal-id="logModal">Logs</a></label></li>
	<div id="logModal" class="reveal-modal" data-reveal>
		<h2>Activity log</h2>
		<div class="row" id="log-activity-list">
			
		</div>
		<a class="close-reveal-modal">&#215;</a>
	</div>
</script>

<script type="text/template" id="notification-template">
	<a href="#" data-dropdown="drop{{- notification.id}}">{{- notification.content }}</a>
	<div id="drop{{- notification.id}}" data-dropdown-content class="f-dropdown content">
		<div class="row">
			<img class="large-2 small-2 columns" src="{{- notification.from.img }}">
			<strong class="large-10 small-10 columns">{{- notification.from.name}}</strong>
		</div>
		<blockquote>

		{{- notification.content }}

		</blockquote>
		<a data-id-notification="{{- notification.id}}" class="button tiny clickNotification">Open</a>
		<a data-id-notification="{{- notification.id}}" class="button tiny alert removeNotification">Hide</a>
	</div>
</script>



<script type="text/template" id="log-template">

<div class="row">
	<img class="large-1 columns" src="{{- notification.from.img }}">
	<strong class="large-11 columns">{{- notification.from.name}}</strong>
</div>

	<blockquote>
		{{- notification.content }}
		<cite>{{- notification.date}}</cite>
	</blockquote>

</script>
