<!-- //////////////////////////////////////////////////////////////////////: -->
<!-- Modals -->
<div id="NotificationModal" class="reveal-modal small" data-reveal></div>
<!-- //////////////////////////////////////////////////////////////////////: -->
<script type="text/template" id="notification-log-template">
  <a href="#" class="globalValidation button round alert tiny">Global validation</a>
  {{_.each(notifications,function(notification){ }}
    <div class="row" id="notification_{{- notification.id }}">
      <hr>
      <img class="large-1 small-1 medium-1 columns roundedImage" src="{{- notification.from.img }}">
      <div class="large-8 small-8 medium-8 columns">
        <strong>{{- notification.from.name}} - <small>{{- notification.date}}</small></strong>
        <p>{{- notification.content }} {{- notification.to.title }} </p>
      </div>
      <div class="large-3 small-3 medium-3 columns">
        <a href="#" data-id-notification="{{- notification.id}}" class="button tiny round open" title="open">o</a>
        <a data-id-notification="{{- notification.id}}" class="button tiny success round validation" title="validation">v</a>
      </div>
    </div>
  {{ }); }}
</script>