<script type="text/template" id="reportsList-template">
	<FIELDSET>
		<LEGEND align=top> Reports ({{-reports.length}})<a href="/ckpreviewer?projectId={{- project.id}}"> manage</a></LEGEND>
		<table style="width:100%">
		{{ _.each(reports, function(report){ }}
			<tr>
		    	<td><img  title="{{- report.title }}" src="/img/icones/Document.png"/></td>
		    	<td><a href="#"><strong>{{-report.title}}</strong></a></td>
		    	<td>{{-report.updatedAt}}</td>
		    </tr>
		{{ });}}
		</table>
	</FIELDSET>
</script>