<script type="text/template" id="poche-template">
	<a href="#" class="button {{= tag.tagged }}" data-id-poche="{{= tag.id }}">{{= tag.title}}</a>
</script>

<script type="text/template" id="tagK-template">
		<h2>{{=knowledge.title}}</h2>
		<hr/>

		<label>Filter</label>
		<input type="text" placeholder="Tag..." />
</script>