<script type="text/template" id="tagK-poches-template">

	{{ _.each(poches_linked, function(poche) { }}  
		<a href="#" class="button alert round unlinkCategory" data-id-poche="{{- poche.id }}">{{- poche.title}}</a>
	{{ }); }}

	{{ _.each(poches_notLinked, function(poche) { }}  
		<a href="#" class="button round linkCategory" data-id-poche="{{- poche.id }}">{{- poche.title}}</a>
	{{ }); }}
	
</script>

<script type="text/template" id="tagK-template">
		<h2>{{-knowledge.title}}</h2>
		<hr/>
		<input type="text" class="searchDetails" placeholder="search categories by keywords..." />
		<span class="alert round label">Already linked</span>
		<span class="round label">can be linked</span>
		<br />
		<br />
</script>