<div id="timela_container">
	<div id="submenu_el" class="submenu"></div>
	<div class="row">
		<!-- <div id="filter_el" class="show-for-large-up large-3 medium-3 columns"></div> -->
		<div id="timeline_el" class="large-12 medium-12 small-12 columns wall"></div>
	</div>
</div>

<script type="text/template" id="timela-filter-template">
		<div class="panel">
			<label>Filters by category:</label>
			<hr>
			{{ _.each(poches,function(poche){ }}
				<a href="#" class="tiny button radius pocheDesign expand">{{- poche.title}}</a>
			{{ }); }}
		</div>
</script>

<script type="text/template" id="timela-grid-element-template">
	<ul class="item pricing-table" id="{{-model.id}}_anchor">
		<li class="price" style="text-align:left">
			{{ if(mode == "edit"){ }}
				<ul class="button-group radius">
				  <li><a style="padding:5px;" href="#" data-model-id="{{- model.id}}" class="button tiny alert remove"><img data-model-id="{{- model.id}}" src="/img/icones/Delete-24-white.png"></a></li>
				  <li><a style="padding:5px;" href="#" title="Propose a Knowledge" id="kod{{-model.id}}" class="button tiny" data-dropdown="alkd{{- model.id}}" data-options="align:left" aria-controls="alkd{{- model.id}}" aria-expanded="true"><img title="Propose a Knowledge" width="20px" class="drop" src="/img/icones/Book-Open-24-white.png"/></a></li>
				  <li><a style="padding:5px;" title="It give me an idea" id="cod{{-model.id}}" class="button tiny success" data-dropdown="alcd{{- model.id}}" data-options="align:left" aria-controls="alcd{{- model.id}}" aria-expanded="true"><img title="It give me an idea" width="24px" class="drop" src="/img/icones/Light-Bulb-24-white.png"/></a></li>
				</ul>
			{{ } }}
			<strong>{{-model.title}}</strong>
		    
		    <div id="alkd{{- model.id}}" class="f-dropdown content tiny" data-dropdown-content="" aria-hidden="false" tabindex="-1" >
		    	<div class="row">
				    <div class="large-12 columns">
				      	<div class="row collapse">
				        	<div class="small-10 columns">
				          		<input id="{{- model.id}}_input_knowledge_title" type="text" placeholder="title">
				        	</div>
				        	<div class="small-2 columns">
				          		<a href="#" data-model-id="{{- model.id}}" class="button postfix newLinkedKnowledge">+</a>
				        	</div>
				      	</div>
				      	<small><b>describe after...</b></small>
				    </div>
				</div>
		    </div>
		    
		    <div id="alcd{{- model.id}}" class="f-dropdown content tiny" data-dropdown-content="" aria-hidden="false" tabindex="-1" >
		    	<div class="row">
				    <div class="large-12 columns">
				      	<div class="row collapse">
				        	<div class="small-10 columns">
				          		<input id="{{- model.id}}_input_concept_title" type="text" placeholder="title">
				        	</div>
				        	<div class="small-2 columns">
				          		<a href="#" data-model-id="{{- model.id}}" class="button success postfix newLinkedConcept">+</a>
				        	</div>
				      	</div>
				      	<small><b>describe after...</b></small>
				    </div>
				</div>
		    </div>
			
		</li>
		<li id="{{-model.id}}_googleImage" class="description" style="text-align:left"><center><span style="width:30%"><img style="width:30%" src="/img/loading_big.gif"></span></center></li>
		<li class="bullet-item"><em>Created by at {{-model.date}}</em></li>
	</ul>
</script>

<script type="text/template" id="timela-element-template">
	<div id="{{- model.id}}_anchor" class="row panel" style="margin-bottom:20px;">
		{{ if(mode == "edit"){ }}
			<b>{{-model.date}}</b>
			<a style="padding:5px;float:right" href="#" class="button tiny round alert remove"><img src="/img/icones/Delete-24-white.png"></a>
		    <a style="padding:5px;float:right" title="Propose a Knowledge" id="kod{{-model.id}}" class="button tiny round" data-dropdown="alkd{{- model.id}}" data-options="align:left" aria-controls="alkd{{- model.id}}" aria-expanded="true"><img title="Propose a Knowledge" width="24px" class="drop" src="/img/icones/add-k-32-white.png"/></a>
		    <div id="alkd{{- model.id}}" class="f-dropdown content medium" data-dropdown-content="" aria-hidden="false" tabindex="-1" >
		    	<div class="row">
				    <div class="large-12 columns">
				      	<div class="row collapse">
				        	<div class="small-10 columns">
				          		<input id="input_knowledge_title" type="text" placeholder="title">
				        	</div>
				        	<div class="small-2 columns">
				          		<a href="#" class="button postfix newLinkedKnowledge">+</a>
				        	</div>
				      	</div>
				      	<small><b>describe after...</b></small>
				    </div>
				</div>
		    </div>
		    <a style="padding:5px;float:right" title="It give me an idea" id="cod{{-model.id}}" class="button tiny round success" data-dropdown="alcd{{- model.id}}" data-options="align:left" aria-controls="alcd{{- model.id}}" aria-expanded="true"><img title="It give me an idea" width="24px" class="drop" src="/img/icones/add-concept-32-white.png"/></a>
		    <div id="alcd{{- model.id}}" class="f-dropdown content medium" data-dropdown-content="" aria-hidden="false" tabindex="-1" >
		    	<div class="row">
				    <div class="large-12 columns">
				      	<div class="row collapse">
				        	<div class="small-10 columns">
				          		<input id="input_concept_title" type="text" placeholder="title">
				        	</div>
				        	<div class="small-2 columns">
				          		<a href="#" class="button success postfix newLinkedConcept">+</a>
				        	</div>
				      	</div>
				      	<small><b>describe after...</b></small>
				    </div>
				</div>
		    </div>
			
		{{ } }}
		<div id="{{-model.id}}_editor" class="large-12 medium-12 small-12 columns"><center><img src="/img/loading_big.gif"></center></div>
		<hr>
		<div id="{{-model.id}}_comments" class="large-6 medium-6 small-6 columns"><center><img src="/img/loading_big.gif"></center></div>
		<div id="{{-model.id}}_attachments" class="large-6 medium-6 small-6 columns"><center><img src="/img/loading_big.gif"></center></div>
	</div>
</script>