<div id="timela_container"></div>

<script type="text/template" id="timela-element-template">
	<div class="row panel">
		<div id="{{-model.id}}_editor" class="large-12 medium-12 small-12 columns"></div>
		<div id="{{-model.id}}_comments" class="large-12 medium-12 small-12 columns"></div>
	</div>
</script>