<div id="title_container"></div>

<script type="text/template" id="title-stats-template">
    <div class="expand panel">
    <center>
        <strong style="font-size:2em">{{-projectTitle }} : </strong>
        <span class="success round label">{{-nbrConc}} concepts</span>
        <span class="alert round label">{{-nbrKnow}} knowledges</span>
        <span class="secondary round label">{{-nbrCatg}} categories</span>
        <span class="round label">{{-nbrLink}} CKlinks</span>
        <span class="success round label">{{-nbrUser}} users</span>
    </center
    </div>
</script>

