<div id="title_container"></div>

<script type="text/template" id="title-stats-template">
    <div class="expand panel">
    <center>
        <h3>{{-projectTitle }}</h3>
        <span class="secondary round label">
            <span id="secondary_notification" style="display:none"></span>
        </span>
        <span class="success round label">
            <span id="success_notification" style="display:none"></span>
        </span>
        <span class="alert round label">
            <span id="alert_notification" style="display:none"></span>
        </span>
        <span class="round label">
            <span id="normal_notification" style="display:none"></span>
        </span>
    </center
    </div>
</script>

