<!-- ******************************** -->
<div id="togetherjs-dock" class="togetherjs-dock-right"></div>
<!-- ******************************** -->
<script type="text/template" id="together-user-template">    
  <span id="avatar{{- user.id }}" style="display:none;margin:10px;position:abosulte;float:right;top:10px;width:2%">
    <img  title="{{- user.name }} is connected" src="{{- user.img }}"/>
  </span>
</script>