<!-- ******************************** -->
<div id="togetherjs-dock" class="togetherjs-dock-right"></div>
<!-- ******************************** -->
<script type="text/template" id="together-user-template">    
  <center>
  <div class="large-10 medium-10 small-10">
    <img  title="{{- user.name }}" src="{{- user.img }}"/>
  </div>
  </center>
</script>