<!-- ******************************** -->
<div id="togetherjs-dock" class="togetherjs-dock-right"></div>
<!-- ******************************** -->
<script type="text/template" id="together-user-template">    
  <span id="avatar{{- user.id }}" style="display:none;">
    <img class="large-12 medium-12 small-2" title="{{- user.name }} is connected" src="{{- user.img }}"/>
  </span>
</script>