<nav id="menu" class="top-bar" data-options="is_hover:false" style="">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1><a href="/">CreaKtive</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
  	<section class="top-bar-section">
	    <ul class="left" data-tab>		   
    
		</ul>
	   <ul class="right">
          <li class="has-form">
            <a href="http://creaktive.fr/contact/" class="button">FeedBack</a>
          </li>
        </ul>  
    </section> 
</nav>
<br />
