<div id="topbar_container"></div>

<script type="text/template" id="topbar-main-template">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">CreaKtive</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>

    <section class="top-bar-section">        
      {{if(page != "manager"){ }}
        <!-- Left Nav Section -->
        <ul class="left">
          <li {{if(page == "concept"){ }}class="active"{{ } }}><a href="conceptsMap?projectId={{- project.id }}">Concepts</a></li>
          <li {{if(page == "explorer"){ }}class="active"{{ } }}><a href="knowledges?projectId={{- project.id }}">Knowledges Explorer</a></li>
          <li {{if(page == "organizer"){ }}class="active"{{ } }}><a href="categories?projectId={{- project.id }}">Knowledges Organizer</a></li>
          <li {{if(page == "analyse"){ }}class="active"{{ } }}><a href="analyse?projectId={{- project.id }}">Analyse</a></li>
          <li {{if(page == "member"){ }}class="active"{{ } }}><a href="userManager?projectId={{- project.id }}">Members</a></li>
        </ul>
      {{ } }}
      <ul class="right">
        <li class="divider"></li>
        <li class="has-form">
          <a href="http://creaktive.fr/contact/" class="button">FeedBack</a>
        </li>
        <li class="divider"></li>
        <li class="has-form">
          <a href="http://creaktive.fr/documentation/" class="button">Documentation</a>
        </li>
        <li class="divider"></li>
        <li class="has-form">
          <a href="/editprofile">Profile</a>
        </li>
        <li class="divider"></li>
        <li><a class="active" href="/logout">Logout</a></li>
      </ul>
    </section>
  </nav>
</script>