<script type="text/template" id="tutos-list-template">
	<br>
	<div class="panel">
		<h4>Tutoriels</h4>
		<div style="display:none" class="progress expand success">
		    <span class="meter pulse" style="width:0%">0%</span>
		</div>
		<table style="width:100%">
		<tr><td><a data-tuto="1" href="#" class="tuto button tiny radius expand">Le manager</a></td></tr>
		<tr><td><a data-tuto="2" href="#" class="tuto button tiny radius expand">L&#39;&eacute;diteur</a></td></tr>
		<tr><td><a data-tuto="3" href="#" class="tuto button tiny radius expand">Versioning</a></td></tr>
		</table>
	</div>
</script>

<div id="tutosModal" class="reveal-modal medium" data-reveal style="background-color:#efefef;" role="dialog">
  <span id="tutosModal_container"></span>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>


<script type="text/template" id="tuto-3-template">
	<center>
	<iframe width="420" height="315" src="https://www.youtube.com/embed/HP6b5NLVWxI" frameborder="0" allowfullscreen></iframe>	
	</center>
</script>

<script type="text/template" id="tuto-1-template">
	<center>
	<h1 dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:trebuchet ms; font-size:21px">Cr&eacute;ation et gestion des espaces de travail</span></h1>

	<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px">L&rsquo;interface du manager permet de visualiser les espaces de travail auxquels vous avez acc&egrave;s.</span></p>

	<p>&nbsp;</p>

	<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px"><img src="https://lh6.googleusercontent.com/NKWG4uGZtJAEiTcA0Z45ieCF5g-SYvRLa0KihXHaB-6elO4FPiDTIBo-PZzsL6mAZdc46WgPI3s7vA4F_kFMxmH6GMCf_nWWXpVfUF3xx9r90ESYL41BT1HBeKFFjyB2NSGaRm4" style="-webkit-transform:rotate(0.00rad); border:none; height:351px; transform:rotate(0.00rad); width:624px" /></span></p>

	<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px">Pour rechercher un projet, taper son nom dans la barre de recherche en haut &agrave; droite de la page.</span></p>

	<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px">Pour ouvrir un espace de travail, cliquez sur le titre du projet.</span></p>

	<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px">Pour cr&eacute;er un nouveau projet, cliquez sur le bouton </span><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px"><img alt="Capture d’écran 2015-02-26 à 16.11.31.png" src="https://lh5.googleusercontent.com/hC4Csu0_qlS2pVrb8DGdYcI42ZAQVjg83y2Ka7sJ5Jpr_1xltZRy8DT91q6AeukU48oUfYRBGFv4L-y8p-Hkb_rUklV4DRp5RyCLphcgZ1GQQeomACjRwZEle7bHDL2vjfXCJss" style="-webkit-transform:rotate(0.00rad); border:none; height:23px; transform:rotate(0.00rad); width:71px" /></span></p>

	<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px"><img src="https://lh4.googleusercontent.com/TAhegJTNJXjdhUzB7i_QURLKOAN4Dei8gldShW28v2qKEWiHh_4ET8IFtST25zeOYSoI00ZdxUjZ57GN-yn55j00LBt791W5vxI9uUq-AqOZ7bgXsgmUjw52r2SHtFaxtXsWSdk" style="-webkit-transform:rotate(0.00rad); border:none; height:351px; transform:rotate(0.00rad); width:624px" /></span></p>

	<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px">Il y a trois types de projets dans CreaKtive: &ldquo;Private&rdquo;, &ldquo;Public&rdquo;, &ldquo;Exemple&rdquo;</span></p>

	<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px">Les projets priv&eacute;s ne sont visibles que par les personnes ayant des permissions en lecture ou en lecture/&eacute;criture.</span></p>

	<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px"><img src="https://lh6.googleusercontent.com/rNLpNT0w8AZyZS_moyc8It7374ksW5b9kgaUrzTyrvN6OYjkTcn4f-kVFtV28Sbo4kjIIdzqlWPK406Me8784edKoRlL3kSlVV7K855wa-RZl1PnQ-2LwT6ucH18bQy5bLLdXtQ" style="-webkit-transform:rotate(0.00rad); border:none; height:75px; transform:rotate(0.00rad); width:624px" /></span></p>

	<p>&nbsp;</p>

	<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px">Les projets publics sont visibles par tous en lecture seule. Seules les personnes ayant les droit en &eacute;criture peuvent les &eacute;diter.</span></p>

	<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px"><img src="https://lh3.googleusercontent.com/JAyft1iljaZlKQUmjKy76_Ct-7xC-AL7THtqfYR1N3Yfyhbz89mZHY9j8LTV82duhE1sW8PZX6y1ypUKlZo2VPjSZPbljGBSowS7joWSUziUszbSDEQkebOqSbJ-QT61eCbPvY0" style="-webkit-transform:rotate(0.00rad); border:none; height:53px; transform:rotate(0.00rad); width:624px" /></span></p>

	<p>&nbsp;</p>

	<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px">Les projets d&rsquo;exemples sont accessible de tous et sont l&agrave; pour illustrer un travail de conception suivant le formalisme CK.</span></p>

	<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px"><img src="https://lh4.googleusercontent.com/EH09-wb4ddWS7xgsgoyd-3URoYdzfMAjCpZ6gDpcayVF0XQeV_-n2XWZlAM-PnbgdUPu0C2gB93092K1bYTPgrgIyT6Phv7eXwoFNUIE5tlrOuZYyM3WaF4JpXh54ohFzr-jUoM" style="-webkit-transform:rotate(0.00rad); border:none; height:79px; transform:rotate(0.00rad); width:624px" /></span></p>
	</center>
</script>



<script type="text/template" id="tuto-2-template">
	<center>
	<h2 dir="ltr"><strong>&Eacute;dition d&rsquo;une cartographie</strong></h2>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/SE3GmYUHSmk" frameborder="0" allowfullscreen></iframe>
	<hr>
	<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px"><img src="https://lh3.googleusercontent.com/7FSBO5GSBFBswka5EFDO9GxCVLUdLjHb4eOGPKtgVlJ1XVmJ0mxtwe0QSGvnEvOZVZ6sqIXj5xjJ3uHfVxNNDCh-MhH8-eS294_MjSQc-5OU_phKShPqrdWVCo8GFqCf4h6U3ZU" style="-webkit-transform:rotate(0.00rad); border:none; height:351px; transform:rotate(0.00rad); width:624px" /></span></p>

	<h2 dir="ltr"><strong>Administration de l&rsquo;espace de travail :</strong></h2>

	<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px">Pour &eacute;diter la description du projet, cliquez sur le titre du projet, en haut &agrave; gauche, dans la barre d&rsquo;action sup&eacute;rieure </span><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px"><img alt="Capture d’écran 2015-02-26 à 16.29.35.png" src="https://lh6.googleusercontent.com/3Kp5Sks9lBMgGpC-Y64MdY32m8VYlx9dmZ0G6ik1G6DGxsB3NxKp7foMazBhtHoJlQQLz2Nh09gvmMBMHQvHPtndOIvPE4RYrhbavQ_rHzBtuX2F9d3BxftOMgJBj5ok9SBrJjs" style="-webkit-transform:rotate(0.00rad); border:none; height:29px; transform:rotate(0.00rad); width:92px" /></span></p>

	<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px">Pour inviter des collaborateurs sur le projet, cliquez sur le bouton </span><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px"><img alt="Capture d’écran 2015-02-26 à 16.29.49.png" src="https://lh4.googleusercontent.com/0TXjygRYzteaf8jqjTY_eUERwWI8WYaVsWKsSdp6GL37yUB3VCYMr8nHkWBZt9j1Uo18qO0sk_tyCaI3IqLjKTyIwIclrYrAd1SNuYPClTbapCO3pWj2Z_-DH6MuPyb1860RGR4" style="-webkit-transform:rotate(0.00rad); border:none; height:26px; transform:rotate(0.00rad); width:74px" /></span></p>

	<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px"><img src="https://lh4.googleusercontent.com/BjhP9ZoMeoRoB5prcdC60b2tBQOc8Q2eMJXKKuuyAsgxcEbsmVOLHbjGBEUtFq8NaJUZrzkcXRQg7kctXMAilfkHXEBBC92ev0aegr7Uycfhku44L_UvgmVE1AKjgkJ2zfxT4gw" style="-webkit-transform:rotate(0.00rad); border:none; height:351px; transform:rotate(0.00rad); width:624px" /></span></p>

	<h2 dir="ltr"><strong>Edition d&rsquo;une cartographie </strong></h2>

	<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px">Il est possible de cr&eacute;er trois types de donn&eacute;es :</span></p>

	<ul>
		<li dir="ltr">
		<p dir="ltr"><span style="background-color:transparent">Des concepts </span><span style="background-color:transparent"><img alt="Capture d’écran 2015-02-26 à 16.29.57.png" src="https://lh6.googleusercontent.com/00rGf2X7iXaqpdp0VQBi6oBNX_C-5j0nMB7vnvmZdFO_twep14pV9N_rCm1wpVYjHk4X7A62VbchoMLk6_Y8A6xmx6OdtIzg8WRSEziszR_ncBZQ6vG3W1Wkd_Dgn0JsLBclEoc" style="-webkit-transform:rotate(0.00rad); border:none; height:34px; transform:rotate(0.00rad); width:31px" /></span></p>
		</li>
		<li dir="ltr">
		<p dir="ltr"><span style="background-color:transparent">Des cat&eacute;gories de connaissances</span><span style="background-color:transparent"><img alt="Capture d’écran 2015-02-26 à 16.30.07.png" src="https://lh6.googleusercontent.com/U7aJt1R6gfB5BSMzbrgDPKZYaSSVQh75JjV2zFhf8u6iFlmSDQG4acnftjp_Q-qkhm6ZpE_e9m9R8P2iJEqSoaoYRaMHHitkuLcoFSTwgIUNQ5RPoowywFOuVJi-LjwCAcOExzE" style="-webkit-transform:rotate(0.00rad); border:none; height:35px; transform:rotate(0.00rad); width:32px" /></span></p>
		</li>
		<li dir="ltr">
		<p dir="ltr"><span style="background-color:transparent">Des connaissances </span><span style="background-color:transparent"><img alt="Capture d’écran 2015-02-26 à 16.30.13.png" src="https://lh6.googleusercontent.com/VOqn63aSak4XAAlbW5LhtXGjEYKK8YUmM7GEnI-1o5DmEIFoNfuWp9ziXDBOJciDoBvVHFMp03ARPjqF6MZZaZPe2cexpkY_VMD4K-spCdtGeMmFQBRZ4DssOC0ZND5zMclJ2gI" style="-webkit-transform:rotate(0.00rad); border:none; height:35px; transform:rotate(0.00rad); width:31px" /></span></p>
		</li>
	</ul>

	<p>&nbsp;</p>

	<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px">Pour cr&eacute;er une donn&eacute;e, cliquez sur le bouton correspondant, maintenez le bouton de la souris enfonc&eacute;e, placer la donn&eacute;e &agrave; l&rsquo;endroit d&eacute;sir&eacute; et rel&acirc;cher la souris pour placer la donn&eacute;e.</span></p>

	<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px"><img src="https://lh6.googleusercontent.com/BK8_o7pTXs8Np0hgwMARAwy3eYY0sW_llVjRBTrliXW3c69SlWPvJJHflaTh6UmSXfMYbFTjoZec36QVfFIEygb-UoC6ylH0eamwAQvP9omzD6YaSltQHyNWiJYkskZihoYNMcs" style="-webkit-transform:rotate(0.00rad); border:none; height:351px; transform:rotate(0.00rad); width:624px" /></span></p>

	<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px">Pour cr&eacute;er un lien entre deux donn&eacute;es, cliquez sur la premi&egrave;re donn&eacute;e</span><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px"><img alt="Capture d’écran 2015-02-26 à 16.58.34.png" src="https://lh4.googleusercontent.com/QDTjts8LynbQmBRDMsJNEEYDfS7O4HXQ-8gw6IsLd57GL21RYIoxZDdNYEcXEHQo_78EG1Uam4J7gxtvSg8geRPlDLbpyjB9J1K5GdUZ_tu2n6F_wZHzgIEiZooWnvpyJogKQzg" style="-webkit-transform:rotate(0.00rad); border:none; height:53px; transform:rotate(0.00rad); width:95px" /></span><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px">. Cliquez sur le point bleu, maintenir le bouton de la souris enfonc&eacute;e et le rel&acirc;cher sur la seconde donn&eacute;e.</span></p>

	<p>&nbsp;</p>

	<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px"><img alt="Capture d’écran 2015-02-26 à 17.05.10.png" src="https://lh6.googleusercontent.com/JZvedAv-YIjh9PbAoftnfG295t9-VpipMljxJTCWtRphtBDV7EfOtUMBZakagir-BLJAcCacgeMin5Q5dlOiMj3wd4oS6Vm5Zglm-MGWDfNSgx1Az4t0cy6mxNs7-1A0oeLYPcE" style="-webkit-transform:rotate(0.00rad); border:none; height:337px; transform:rotate(0.00rad); width:587px" /></span></p>

	<p>&nbsp;</p>

	<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px">Pour cr&eacute;er une donn&eacute;e directement li&eacute;e &agrave; une autre, cliquez sur une donn&eacute;e : +c pour cr&eacute;er un concept, +k pour cr&eacute;er une connaissance.</span></p>

	<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px"><img alt="Capture d’écran 2015-02-26 à 17.07.06.png" src="https://lh5.googleusercontent.com/1Sotna6gqZkIEvcM0m7FHhUwZqoT1jjCVwVtltE_ZiM7OgtoMjBM758taGinRP_6Qyf9izWFxAeUn9IDbMK8QbmM79cUO_4mEg_yG_xPLpk201zT_-SMV9V6XjIegAqVYYlZ-ZY" style="-webkit-transform:rotate(0.00rad); border:none; height:340px; transform:rotate(0.00rad); width:588px" /></span></p>

	<p>&nbsp;</p>

	<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px">Pour &eacute;diter la description d&rsquo;une donn&eacute;e, cliquez sur la donn&eacute;e puis le bouton </span><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px"><img alt="Capture d’écran 2015-02-26 à 17.16.29.png" src="https://lh4.googleusercontent.com/cT9QEk_nGFmNEx-L0Nzb35mvVXSaknSlQ6eNDFBpV7NRc4_dq0IXyhoyrPIRMFw_o6g8la8RzmUXOz1q-x6yv9aZ5lzDmn9F-XhHLWsoq4KFnigISzAcWyMY5A5K8JpU755JGKI" style="-webkit-transform:rotate(0.00rad); border:none; height:32px; transform:rotate(0.00rad); width:39px" /></span></p>

	<p>&nbsp;</p>

	<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px"><img alt="Capture d’écran 2015-02-26 à 17.17.48.png" src="https://lh5.googleusercontent.com/W2CvmqhDQmahgXyOuZhCFxNlbxYVatK8_axYLKa5LzRh5pcC31BpJQmcxOTgtV7U_KvpWp0Rm6kSbXTMDXT4ORruZxvGUeMu1G2Hkj1lo0mwmyJX6wFr2NMgWouEMM4vHuKAAak" style="-webkit-transform:rotate(0.00rad); border:none; height:361px; transform:rotate(0.00rad); width:624px" /></span></p>

	<p>&nbsp;</p>

	<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px">La page qui s&rsquo;ouvre permet d&rsquo;&eacute;diter une description du concept, d&rsquo;attacher des documents &agrave; la donn&eacute;e ou d&rsquo;ajouter un commentaire &agrave; la donn&eacute;e.</span></p>

	<p>&nbsp;</p>

	<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px">Pour organiser automatiquement des concepts fils sous forme d&rsquo;arborescence, cliquez sur un le concept p&egrave;re puis sur le bouton </span><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px"><img alt="Capture d’écran 2015-02-26 à 16.31.18.png" src="https://lh4.googleusercontent.com/KVjVUFyvGyAzF2seahuj4T2SDATRgxrEJ8fHHxRD47KgobwBYaNBhTmhY_vB9zEw0u4-miRdm2yqoeG-fT7IQl-tLmKaYMLRdVXSXhbqXNgbtTO8atNilTLNBw1hnHj8jzCgmcA" style="-webkit-transform:rotate(0.00rad); border:none; height:42px; transform:rotate(0.00rad); width:60px" /></span><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px"> dans la barre d&rsquo;action inf&eacute;rieure.</span></p>

	<p>&nbsp;</p>

	<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px">Pour t&eacute;l&eacute;charger la cartographie sous forme d&rsquo;image, cliquez sur le bouton </span><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px"><img alt="Capture d’écran 2015-02-26 à 16.31.07.png" src="https://lh3.googleusercontent.com/HpuqsTp2VXOTt0NOqhkAdkG3C_0RyhcmKIteJ3ixt4OTM_yfggQGrNB1cZuLUz6jFO-API34R30IKWRdDbjHnIeItiw6uY7P5loaoLY3lbQFZxcmHc7oGXNIU0hD9_lFShGYArs" style="-webkit-transform:rotate(0.00rad); border:none; height:37px; transform:rotate(0.00rad); width:54px" /></span><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px"> dans la barre d&rsquo;action inf&eacute;rieure.</span></p>

	<div>&nbsp;</div>
	</center>
</script>



