<script type="text/template" id="tutos-list-template">
	<br>
	<div class="panel">
		<h4>Tutoriels</h4>
		<div class="progress expand success">
		    <span class="meter pulse" style="width:0%">0%</span>
		</div>
		<a data-tuto="0" href="#" class="tuto button tiny radius expand">Introduction</a>
		<a data-tuto="1" href="#" class="tuto button tiny radius expand">Le manager</a>
		<a data-tuto="2" href="#" class="tuto button tiny radius expand">Type de projets</a>
		<a data-tuto="3" href="#" class="tuto button tiny radius expand">Edition</a>
		<a data-tuto="4" href="#" class="tuto button tiny radius expand">Collaboration</a>
		
	</div>
</script>

<div id="tutosModal" class="reveal-modal medium" data-reveal style="background-color:#efefef;" role="dialog">
  <span id="tutosModal_container"></span>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<script type="text/template" id="tuto-0-template">
	<h4>coming soon...</h4>
</script>

<script type="text/template" id="tuto-1-template">
	<h4>coming soon...</h4>
</script>

<script type="text/template" id="tuto-2-template">
	<h4>coming soon...</h4>
</script>

<script type="text/template" id="tuto-3-template">
	<h4>coming soon...</h4>
</script>

<script type="text/template" id="tuto-4-template">
	<h4>coming soon...</h4>
</script>


