<div id="visu_container"></div>

<!-- //////////////////////////////////////////////////////////////////////: -->
<!-- Left part -->
<script type="text/template" id="visu-search-template">
	<div class="panel expand"><p>{{=title}}</p></div>
	<input type="text" class="search" placeholder="search in {{=title}}...">
</script>


<script type="text/template" id="visu-expert-template">
	<div class="row">
		<div class="small-12 large-8 columns">
			<a class="tiny button alert addFilter expand" data-filter-type="expert" data-filter-model="{{=expert.id}}" data-filter-id="{{=expert.id}}">
				{{= expert.name }} - <font style="color:white">({{= rec }})</font>
			</a>
		</div>
		<div class="progress alert small-0 large-4 columns">
		  <span class="meter" style="width: {{=per}}%"></span>
		</div>
	</div>
</script>

<script type="text/template" id="visu-concept-template">
    <div class="row">
		<div class="small-12 large-8 columns">
			<a class="tiny button addFilter expand" data-filter-type="concept" data-filter-model="{{=concept.id}}" data-filter-id="{{=concept.id}}">
				{{= concept.title }} - <font style="color:red">({{= rec }})</font>
			</a>
		</div>
		<div class="progress small-0 large-4 columns">
		  <span class="meter" style="width: {{=per}}%"></span>
		</div>
	</div>
</script>

<script type="text/template" id="visu-new-poche-template">
	<div class="row collapse">
        <div class="small-10 columns">
          <input type="text" id="visu_newP" class="expand" placeholder="New poche...">
        </div>
        <div class="small-2 columns">
          <a href="#" class="button success postfix add">Add</a>
        </div>
    </div>
</script>

<script type="text/template" id="visu-poche-template">
    <div class="row">
		<div class="small-12 large-8 columns">
			<a class="tiny success button addFilter expand" data-filter-id="{{=poche.id}}" data-filter-type="poche" data-filter-model="{{=poche.id}}">
				{{= poche.title }} - <font style="color:red">({{= rec }})</font>
				<input style="float:right" data-id-poche="{{= poche.id }}" type="submit" value="x" class="removePoche" />
			</a>
		</div>
		<div class="progress success small-0 large-4 columns">
		  <span class="meter" style="width: {{=per}}%"></span>
		</div>
	</div>
</script>

<!-- //////////////////////////////////////////////////////////////////////: -->
<!-- Right part -->
<script type="text/template" id="visu-knowledges-template">
	<div class="small-3 large-3 columns">
		<ul class="pricing-table">
		  	<li class="price">
				<div class="row collapse">
			        <div class="small-10 columns">
			          <input id="visu_new_k_title" type="text" placeholder="Add a knowledge in the current context..."/>
			        </div>
			        <div class="small-2 columns">
			          <a href="#" class="button postfix addKnowledge">Add</a>
			        </div>
			    </div>
			</li>
			<li class="description">{{= user.name }} - {{= getDate() }}</li>
		</ul>
	</div>

	{{ _.each(knowledges, function(knowledge) { }}
		<div class="small-3 large-3 columns openModal" data-id-knowledge="{{= knowledge.id }}">
			<ul class="pricing-table" data-id-knowledge="{{= knowledge.id }}">
				<li class="title" data-id-knowledge="{{= knowledge.id }}"></li>
			  	<li class="price" data-id-knowledge="{{= knowledge.id }}">
					{{= knowledge.title.substr(0,10)}}{{ if(knowledge.title.length > 10){ }}...{{ } }}
				</li>
				<li class="description" data-id-knowledge="{{= knowledge.id }}">{{= knowledge.user.name }} - {{= knowledge.date }}</li>
			</ul>
		</div>
	{{ }); }}
</script>

<script type="text/template" id="visu-publish-module-template">
	<div class="small-12 large-12 columns">
		Context :  
		{{ _.each(filters, function(filter) { }}
	    	{{ if(filter.type == "concept"){ }}
	    		<a class="tiny button remove" data-id-filter="{{=filter.id}}">{{= filter.model.title }}</a> +
	    	{{ }else if(filter.type == "poche"){ }}
	    		<a class="tiny success button remove" data-id-filter="{{=filter.id}}">{{= filter.model.title }}</a> +
	    	{{ }else if(filter.type == "expert"){ }}	
	    		<a class="tiny alert button remove" data-id-filter="{{=filter.id}}">{{= filter.model.name }}</a> +
	    	{{ } }}
		{{ }); }}
		<input type="text" class="search" placeholder="Search in Knowledges..."/>
	</div>

</script>
