<div id="welcome_container"></div>

<script type="text/template" id="welcome-template">
  <div class="expand panel">
      <center>
          <h2>Hello, {{-user.name }}!</h2>
          <p>You have <span class="alert round label">{{-notifNbre}}</span> pending notifications on your projects </p>
      </center>
  </div>
</script>