<div id="welcome_container"></div>

<script type="text/template" id="welcome-template">
  	<div class="row panel" style="border:0px">
		<div class="large-5 small-5 medium-5 columns">
        	<a href="/"><img title="logo creaktive" src="/img/creaktive.png"/></a>
		</div>
		<div class="large-7 small-7 medium-7 columns">
			<h2 style="float:right">Hello, {{-user.name }}!</h2>
		</div>
		
	</div>
	<div style="width:100%;background-color:#1b9dd3;">
		<div class="row">
			<font style="font-size: 18px;line-height:75px;color:white">
				<b>Manager : </b>
				<em>You have <span class="alert round label">{{-notifNbre}}</span> pending notifications on your projects</em>
			</font>
		</div>
	</div>

  	
</script>