<div id="workspacesList-container" class="row"></div>

<script type="text/template" id="workspacesList-form-template">
	<div class="row">
  	  	<fieldset>
		    <legend>Create workspace</legend>
		    <div class="alertBox large-12 columns">
		    </div>
		    <div class="large-12 columns">
		    	<label>Title
		        <input type="text" id="wks_title" placeholder="title..." />
		    	</label>
		    </div>
		    <div class="large-12 columns">
			    <label>Description
			    <textarea id="wks_description" placeholder="objectives, context..."></textarea>
				</label>
		    </div>
		    <div class="large-12 columns">
		        <label>Visibility
		        <select id="wks_visibility">
			      <option value="private">Private</option>
			      <option value="public">Public</option>
			    </select>
				</label>
		    </div>
		    <div class="large-12 columns">
		        <label>Organisation
		        <select id="wks_organisation">
			      <option value="none">(none)</option>
			    </select>
				</label>
		    </div>
		    <div class="large-12 columns">
		    	<a href="#" class="button success expand newWorkspace">Create</a>
		    </div>
		</fieldset>
	</div>
</script>

<script type="text/template" id="workspacesList-search-template">
	<br>
    <div class="large-12 columns">
      <div class="row expand">
      	{{ if(display == "block"){ }}
	        <div class="small-12 large-3 medium-3 columns">
	        	<a href="#" class="button small expand radius success" data-reveal-id="new_ws_modal_{{- display }}">+</a>
	        </div>
	        <div class="small-12 large-9 medium-9 columns">
	          <input type="text" class="search" placeholder="find workspaces by name..." />
	        </div>
	    {{ }else{ }}
	    	<div class="small-12 large-12 medium-12 columns">
	        	<a href="#" class="button small expand radius success" data-reveal-id="new_ws_modal_{{- display }}">+</a>
	        </div>
	        <div class="small-12 large-12 medium-12 columns">
	          <input type="text" class="search" placeholder="find workspaces by name..." />
	        </div>
	    {{ } }}
      </div>
    </div>
</script>

<script type="text/template" id="workspacesList-list-template">
	<div class="row">
		<a href="#" style="float:right" class="label tiny success round {{-pulse}}">{{-news_nbr}}</a>
		{{ if(project.starred == true){ }}<img style="float:left" src="/img/icones/Shape-Star2-24.png" />{{ } }}
		{{ if(project.status == 'public'){ }}
	    	<img style="float:left" data-model-id="{{-project.id}}" title="visibility" src="/img/icones/Open-24.png"/>
	    {{ }else{ }}
	    	<img style="float:left" data-model-id="{{-project.id}}" title="visibility" src="/img/icones/Lock-24.png"/>
	    {{ } }}
	    <b>{{-project.title}}</b>
	    <a style="padding:0px" title="Graphical mode" class="button tiny secondary radius" href="/bbmap?projectId={{- project.id }}#visu"><img style="width:24px" src="/img/icones/Nodes-128.png" /></a>
	  	<a style="padding:0px" title="Timeline mode" class="button tiny secondary radius" href="/timela?projectId={{- project.id }}"><img style="width:24px" src="/img/icones/Bullets-128.png" /></a>
	</div>
</script>

<script type="text/template" id="workspacesList-block-template">
	<ul class="item pricing-table">
		<li class="price" style="text-align:left">
			<a href="#" style="float:right" class="label tiny success round {{-pulse}}">{{-news_nbr}}</a>
		    {{ if(project.starred == true){ }}
				<a title="unstarred" style="float:left" href="#" class="round secondary tiny label unstarred" data-id="{{-project.id}}"><img data-id="{{-project.id}}" src="/img/icones/Shape-Star2-24.png" /></a>
			{{ }else{ }}
				<a title="starred" style="float:left" href="#" class="round secondary tiny label starred" data-id="{{-project.id}}"><img data-id="{{-project.id}}" src="/img/icones/Shape-Star2-24_white.png" /></a>
			{{ } }}
			{{ if(project.status == 'public'){ }}
		    	<a title="public project" href="#" style="float:left" class="label tiny secondary round"><img data-model-id="{{-project.id}}" src="/img/icones/Open-24.png"/></a>
		    {{ }else{ }}
		    	<a title="private project" href="#" style="float:left" class="label tiny secondary round"><img data-model-id="{{-project.id}}" src="/img/icones/Lock-24.png"/></a>
		    {{ } }}
		    <br>
			<h4><b>{{-project.title}}</b></h4>
			{{ if(project.image){ }}<span style="display:none"><img class="large-12 medium-12 small-2" src="/S3/getUrl?amz_id={{- project.image}}" /></span>{{ }; }}
		</li>
		<li class="description" style="text-align:left">{{=project.content}}</li>
		<li class="bullet-item"><em>Created by {{-project.author.name}} at {{-project.date}}</em></li>
		<li class="cta-button">
		  <div class="row">
		  	<a style="margin-bottom:5px" title="Graphical mode" class="button large-6 medium-6 small-12 columns secondary radius" href="/bbmap?projectId={{- project.id }}#visu"><img src="/img/icones/Nodes-128.png" /></a>
		  	<a style="margin-bottom:5px" title="Timeline mode" class="button large-6 medium-6 small-12 columns secondary radius" href="/timela?projectId={{- project.id }}"><img src="/img/icones/Bullets-128.png" /></a>
		  </div>
		</li>
	</ul>
</script>
