<div class="large-12 medium-12 small-12"></div>
	<div id="workspacesList-container" class="large-9 medium-9 small-9 columns"></div>
	<div id="tutos_container" class="large-3 medium-3 small-3 columns"></div>
</div>

<script type="text/template" id="workspacesList-form-template">
	<div class="row">
  	  	<fieldset>
		    <legend>Create workspace</legend>
		    <div class="alertBox large-12 columns">
		    </div>
		    <div class="large-12 columns">
		    	<label>Title
		        <input type="text" id="wks_title" placeholder="title..." />
		    	</label>
		    </div>
		    <div class="large-12 columns">
			    <label>Description
			    <textarea id="wks_description" placeholder="objectives, context..."></textarea>
				</label>
		    </div>
		    <div class="large-12 columns">
		        <label>Visibility
		        <select id="wks_visibility">
			      <option value="private">Private</option>
			      <option value="public">Public</option>
			    </select>
				</label>
		    </div>
		    <div class="large-12 columns">
		        <label>Organisation
		        <select id="wks_organisation">
			      <option value="none">(none)</option>
			    </select>
				</label>
		    </div>
		    <div class="large-12 columns">
		    	<a href="#" class="button success expand newWorkspace">Create</a>
		    </div>
		</fieldset>
	</div>
</script>

<script type="text/template" id="workspacesList-search-template">
        <div class="small-12 large-2 medium-2 columns">
        	<a href="/" class="button tiny expand radius"><img title="new workspace" src="/img/icones/Home-24.png"></a>
        </div>
        <div class="small-12 large-2 medium-2 columns">
        	<a href="#" class="button tiny expand radius success" data-reveal-id="new_ws_modal_{{- display }}"><img title="new workspace" src="/img/icones/Add-New-24.png"></a>
        </div>
        <div class="small-12 large-8 medium-8 columns">
          <input type="text" class="search" placeholder="find workspaces by name..." />
        </div>
</script>

<script type="text/template" id="workspacesList-list-template">
	<div class="row">
      <div class="large-12 medium-12 small-12 columns text-center">

        <div class="row">
          <div class="large-12 medium-12 small-12 columns text-center">
          
            <table class="large-12 medium-12 small_12 text-center tableWorkspace">
              <tr>
                <td width="50" class="text-center">
                  <div class="row">
                    <div class=" large-12 medium-12 action"> 
                      <div class="" style="margin-top:10px;">
                      	{{ if(project.status == 'public'){ }}
					    	<span class="label success">Public</span>
					    {{ }else if(project.status == 'exemple'){ }}
					    	<span class="label">Exemple</span>
					    {{ }else{ }}
					    	<span class="label alert">Private</span>
					    {{ } }}
                    </div>
                  </div>
                </td>

                <td width="100" class="text-center">
                  <img class="imgWorkspace max_img max_img-responsive" src="{{-project.author.img}}" alt=""/>
                </td>

                <td width="300" class="text-center">
                  <div>
                    <h5><strong>{{-project.title}}</strong></h5>
                  </div>
                </td>

                <td width="100" class="text-center">
                  <div class="mic-info">
                    <small>By: <a href="#">{{-project.author.name}}</a> {{-project.date}}</small>
                  </div>
                </td>

                <td width="50" class="text-center">
                	{{ if(news_nbr>0){ }}<a href="#" class="label tiny success round {{-pulse}}" title="new activities">{{-news_nbr}}</a>{{ } }}
                </td>

                <td width="200" class="text-center">
                	<a title="Graphical mode" class="button tiny radius" href="/bbmap?projectId={{- project.id }}">OPEN</a>
                </td>
              </tr>
            </table>

          </div>
        </div>
	    
	</div>
</script>

<script type="text/template" id="workspacesList-block-template">
	<ul class="item pricing-table">
		<li class="price" style="text-align:left;z-index:99;padding:0px">
			{{ if(news_nbr>0){ }}<a href="#" style="position:absolute;float:right" class="label tiny success round {{-pulse}}" title="new activities">{{-news_nbr}}</a>
			{{ } }}
		    {{ if(project.status == 'public'){ }}
		    	<span class="label success" style="position:absolute; float:left;z-index:99">Public</span>
		    {{ }else if(project.status == 'exemple'){ }}
		    	<span class="label" style="position:absolute; float:left;z-index:99">Exemple</span>
		    {{ }else{ }}
		    	<span class="label alert" style="position:absolute; float:left;z-index:99">Private</span>
		    {{ } }}
			
			<a title="Open" class="button secondary radius expand" href="/bbmap?projectId={{- project.id }}" style="margin-bottom:0px">
				<h4><b>{{-project.title}}</b></h4>
			</a>
			{{ if((c_perc == 0)&&(k_perc == 0)){}else{ }}
			<span style="display:none">
				<div class="progress expand success" style="font-size:10px;background:#1B9DD3;height:45px;margin-bottom:0px">
				    <b style="color:white;float:left">
				      {{- c_perc }}%
				      <img title="Download screenshot" src="/img/icones/Light-Bulb-32-white.png"/>
				    </b>
				    <b style="color:white;float:right">
				        {{- k_perc}}%
				        <img title="Download screenshot" src="/img/icones/Book-Open-32-white.png"/>
				    </b>
				    <span class="meter pulse" style="width: {{- c_perc}}%">
				    </span>
				</div>
			</span>
	  		{{ } }}
		</li>
		<li class="bullet-item" style="padding:0px">
			<br>
			{{ if(project.content.length > 0){ }}
				<p>{{=project.content}}</p>
			{{ }else{ }}
				<p>no description...</p>
			{{ } }}
			<small><em>Created by {{-project.author.name}} at {{-project.date}}</em></small>
		</li>
	</ul>
</script>
