<div id="workspaceEditor-container" class="row"></div>

<script type="text/template" id="workspaceEditor-template">
	<center>
		<b>Update Workspace</b>
		<a href="/backup?projectId={{- workspace.id}}" class="button success tiny radius" title="Create a backup"><img src="/img/icones/Save As-24.png" /></a>
		<a href="/ckpreviewer?projectId={{- workspace.id}}" class="button tiny radius" title="Create reports"><img src="/img/icones/Documents-02-24.png" /></a>
		<a href="#" class="button tiny radius alert removeWorkspace" title="Remove this workspace"><img src="/img/icones/Delete-24.png" /></a>
	</center>
	<hr>
	<font style="text-align : left;">
	<div class="row">
		{{ if(mode == "edit"){ }}
			<div class="large-8 medium-8 small-12 columns">
				<label>Title
				<input id="workspaceEditor_title" type="text" class="title" value="{{- workspace.title}}"/></div>
				</label>
			<div class="large-4 medium-4 small-12 columns">
				<label>Visibility
		        <select id="wk_visibility">
			      <option value="private">Private</option>
			      <option value="public">Public</option>
			    </select>
				</label>
		    </div>
			<div class="large-12 medium-12 small-12 columns">
				<label>Descriptions</label>
				<textarea  class="ckeditor2"  name="editor" rows="10" cols="80">{{= workspace.content }}</textarea>
				<br>
				<a href="#" class="button tiny radius success expand updateWorkspace">Update</a>
			</div>
	{{ }else{ }}
		<div class="large-12 medium-12 small-12 columns">{{= workspace.content }}</div>
		<div class="large-12 medium-12 small-12 columns"><center<small style="color:red"><b>pass in edition mode if you want to update workspace details</b></small></center></div>
	{{ } }}
	</div>
	</font>
</script>