<!-- ******************************** -->
<!-- Container -->
<div id="bbmap_container" style="overflow:auto">
	<div id="actionbar"></div>
	
	<div id="map_container" class="">
		<div id="map" class="demo chart-demo panel"></div>
	</div>
</div>
<div id="editBox" title="EditBox"></div>
<!-- ******************************** -->
<script type="text/template" id="bbmap-bulle-template">
    <span class="editTitle">{{-model.title}}</span>
    <div class="ep icon">c</div>
    <div class="ep2 icon">k</div>
    <div class="ep3 icon">*</div>
    <div class="ep4 icon">e</div>
    <div class="sup icon">x</div>
</script>

<script type="text/template" id="bbmap-actionbar-template">
    <div style="position:absolute;left:20px;z-index:100000">
		<a href="#" class="tiny round button secondary addUnlinkedC">Add C</a>
        <a href="#" class="tiny round button secondary addUnlinkedK">Add K</a>
        <a href="#" class="tiny round button secondary ckOperator">Display CK operator</a>
    </div>
    <div style="position:absolute;right:20px;z-index:100000">
        <a href="#" class="tiny round button secondary reset">Reset</a>
        <a href="#" class="tiny round button secondary zoomout">+</a>
        <span id="zoom_val"></span>
        <a href="#" class="tiny round button secondary zoomin">-</a>
    </div>
</script>