<!-- ******************************** -->
<!-- Container -->
<div id="bbmap_container" style="height:96%;position:relative;overflow:hidden;">
  <div id="top_container"></div>
  <div id="map_container" style="overflow:hidden;">
    
    <span id="stat_left" style="left:0px;position:fixed;top:30%;z-index:10000000;"></span>

    <span id="right_buttons" style="right:0px;position:fixed;top:50%;width:70px;z-index:10000000;display:none">
      <a href="#" style="float:right" class="borderBlue pulseBlue tiny radius button secondary edit"><img title="edit" src="/img/icones/Edit.png"/></a>
      <a href="#" style="float:right;display:none" class="borderBlue tiny radius button secondary design"><img title="template" src="/img/icones/Shape.png"/></a>
      <a href="#" style="float:right;display:none" class="borderBlue tiny radius button secondary history"><img title="template" src="/img/icones/Bell-24-circle.png"/></a>
    </span>
    
    <nav id="sideBar">
      <a href="#" class="button radius tiny alert closeSibeBar" style="position:absolute;right:0px;z-index:1000000">X</a>
      <div id="sideBar_container" style="height:100%;overflow:auto"></div>
    </nav>
    
    <div id="map" class="demo chart-demo"></div>
  
  </div>
  
  <div id="bottom_container">
    <span style="display: inline-flex;" class="large-12 medium-12 small-12 columns">
      <ul class="button-group tiny radius" id="stat_bottom"></ul>
      <span id="bbmap_bottom_ui"></span>
    </span>
  </div>
</div>
<!-- ******************************** -->

<script type="text/template" id="bbmap-tooltip-notif-template">
  <span class="tooltip_notif" onClick="bbmap.views.main.openTooltipNotif({{- notif.to.id }})" >
    {{- notif.content }} by 
    <img style="float:right" width="15" title="last update by {{-user.name }}" src="{{- user.img }}"/>
    <b>{{- user.name }}</b>
  </span>
</script>

<script type="text/template" id="bbmap-joyride-template">
  <ol class="joyride-list" style="z-index:9999999" data-joyride>
    <li id="joyride_id" data-id="joyride" data-text="Ok" data-options="tip_location: top">
      <br>
      <input id="joyride_val" class="tiny round" type="text" placeholder="name..."><lable><small>(Press ENTER)</small></label>
    </li>
  </ol>
</script>

    
<!-- <span id="{{-model.id}}" data-type="action" class="button tiny round secondary replier icon">-</span> -->
<script type="text/template" id="bbmap-bulle-template">
  <span data-type="title" style="float:right" id="{{-model.id}}_tooltip"></span>
  <img id="{{-model.id}}" data-type="title" style="float:left" width="15" title="create by {{-user.name }}" src="{{-user.img }}"/>
  
  <span id="{{-model.id}}_joyride"></span>
  <span id="{{-model.id}}" data-type="title" class="editTitle">{{-model.title}}</span>
  <span id="{{-model.id}}" data-type="action" class="label round secondary ep icon">+c</span>
  <span id="{{-model.id}}" data-type="action" class="label round secondary ep2 icon">+k</span>
  <span id="{{-model.id}}" data-type="action" class="label round secondary ep3 icon"><img data-type="action" id="{{-model.id}}" title="mode" src="/img/icones/Edit.png"/></span>
  
  <span id="{{-model.id}}" data-type="action" class="label round secondary sup icon">
    <img data-type="action" id="{{-model.id}}" title="mode" src="/img/icones/Delete.png"/>
  </span>

  
  {{ if(model.visibility == true){ }}
  <span id="{{-model.id}}" data-type="action" style="background:transparent;padding:0" class="label secondary round expcoll tiny icon">
    <img data-type="action" id="{{-model.id}}" title="mode" src="/img/icones/Expand-Collapse-32.png"/>
  </span>
  {{ }else if(model.visibility == false){ }}
    <span id="{{-model.id}}" data-type="action" style="background:transparent;" class="label secondary round expcoll tiny">
      <small style="margin-bottom:0px;padding:0 5px 0 5px;color:red" data-type="action" id="{{-model.id}}">
        <b data-type="action" id="{{-model.id}}">{{-childs_nbr}}</b>
      </small>
    </span>
  {{ } }}

</script>

<script type="text/template" id="bbmap-bottom-element-template">
    <a href="#" class="button tiny radius getSuggestions">Suggestions</a>

    <div id="suggestions_modal" class="modalContainer reveal-modal large" data-reveal>
      <ul class="tabs" data-tab>
        <li class="tab-title active"><a href="#panel1">Normalisations</a></li>
        <li class="tab-title"><a href="#panel2">Evaluations</a></li>
        <li class="tab-title"><a href="#panel3">Suggestions</a></li>
      </ul>
      <div class="tabs-content">
        <div class="content active" id="panel1">
          <table id="suggestions_1_table" class="suggestions_table" style="width:100%"></table>
        </div>
        <div class="content" id="panel2">
          <table id="suggestions_2_table" class="suggestions_table" style="width:100%"></table>
        </div>
        <div class="content" id="panel3">
          <table id="suggestions_3_table" class="suggestions_table" style="width:100%"></table>    
        </div>
      </div>
      
      <small>Offered by the creaktive suggestion algorithm</small>
    </div>

    <a href="#" class="button tiny radius secondary downloadimage"><img title="Download screenshot" src="/img/icones/Download-24.png"/></a>

    {{ if(mode == "edit"){ }}
      <a style="display:none" href="#" class="a tiny radius button secondary structureSubTree"><img title="structure sub-tree" src="/img/icones/Network-Drives-24.png"/></a>

      <a style="display:none" href="#" class="button tiny radius secondary prevH"><img title="ctrl-Z" src="/img/icones/Arrowhead-Left-24.png"/></a>

      <a style="display:none" href="#" class="button tiny radius secondary nextH"><img title="ctrl-Y" src="/img/icones/Arrowhead-Right-24.png"/></a>

      <span style="display:true">
        <small> legend : </small>

        <a style="display:none" href="#" title="Connu: le concept renvoie à un ensemble de solutions techniques connues, dont la performance est également connue" data-tooltip aria-haspopup="true" class="c tip-top round button tiny apply_template c_connu" data-type="c_connu">c</a>
      
        <a style="display:none" href="#" title="Atteignable: le concept est à approfondir ou atteignable" data-tooltip aria-haspopup="true" class="c tip-top round button tiny apply_template c_atteignable" data-type="c_atteignable">c</a>
      
        <a style="display:none" href="#" title="Alternatif: le concept est éloigné du dominant design et peut faire l'objet d'une démarche de conception dédiée" data-tooltip aria-haspopup="true" class="c tip-top round button tiny apply_template c_alternatif" data-type="c_alternatif">c</a>
      
        <a style="display:none" href="#" title="Hameçon: le concept est lié à une rupture de règles et devient un point d'accroche pour de nouveaux K en émergence/expension pure" data-tooltip aria-haspopup="true" class="c tip-top round button tiny apply_template c_hamecon" data-type="c_hamecon">c</a>
      
        <a style="display:none" href="#" title="Validée: la connaissance acquise est validée en interne" data-tooltip aria-haspopup="true" class="k tip-top round button tiny apply_template k_validees" data-type="k_validees">k</a>
      
        <a style="display:none" href="#" title="En cours: la connaissance est en cours d'acquisition" data-tooltip aria-haspopup="true" class="k tip-top round button tiny apply_template k_encours" data-type="k_encours">k</a>

        <a style="display:none" href="#" title="Manquante : la connaissance est absente ou non actionnable en interne" data-tooltip aria-haspopup="true" class="k tip-top round button tiny apply_template k_manquante" data-type="k_manquante">k</a>

        <a style="display:none" href="#" title="Indécidable : la connaissance est manquante et de surcroit non accessible" data-tooltip aria-haspopup="true" class="k tip-top round button tiny apply_template k_indesidable" data-type="k_indesidable">k</a>

      </span>

  {{ } }}  
</script>


