<!-- ******************************** -->
<!-- Container -->
<div id="bbmap_container" style="height:96%;position:relative;overflow:hidden;">
  <div id="top_container"></div>
  <div id="map_container" style="overflow:hidden;">
    
    <div id="modelEditor_modal" class="modalContainer reveal-modal large" data-reveal>
      <div id="sideBar_container" style="height:100%;overflow:auto"></div>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
    
    <div id="map" class="demo chart-demo"></div>
  
  </div>
  
</div>
<!-- ******************************** -->

<script type="text/template" id="bbmap-tooltip-notif-template">
  <span class="tooltip_notif" onClick="bbmap.views.main.openTooltipNotif({{- notif.to.id }})" >
    {{- notif.content }} by 
    <img style="float:right" width="15" title="last update by {{-user.name }}" src="{{- user.img }}"/>
    <b>{{- user.name }}</b>
  </span>
</script>

<script type="text/template" id="bbmap-joyride-template">
  <ol class="joyride-list" style="z-index:9999999" data-joyride>
    <li id="joyride_id" data-id="joyride" data-text="Ok" data-options="tip_location: top">
      <br>
      <input id="joyride_val" class="tiny round" type="text" placeholder="title..."><lable><small>(Press ENTER)</small></label>
    </li>
  </ol>
</script>

    
<!-- <span id="{{-model.id}}" data-type="action" class="button tiny round secondary replier icon">-</span> -->
<script type="text/template" id="bbmap-bulle-template">
  <span data-type="title" style="float:right" id="{{-model.id}}_tooltip"></span>
  <img id="{{-model.id}}" data-type="title" style="float:left" width="15" title="create by {{-user.name }}" src="{{-user.img }}"/>
  
  <span id="{{-model.id}}_joyride"></span>
  <span id="{{-model.id}}" data-type="title" class="editTitle">{{-model.title}}</span>
  <span id="{{-model.id}}" data-type="action" class="label round secondary ep icon">+c</span>
  <span id="{{-model.id}}" data-type="action" class="label round secondary ep2 icon">+k</span>
  <span id="{{-model.id}}" data-type="action" class="label round secondary ep3 icon"><img data-type="action" id="{{-model.id}}" title="mode" src="/img/icones/Edit.png"/></span>
  
  <span id="{{-model.id}}" data-type="action" class="label round secondary sup icon">
    <img data-type="action" id="{{-model.id}}" title="mode" src="/img/icones/Delete.png"/>
  </span>

  
  {{ if(model.visibility == true){ }}
  <span id="{{-model.id}}" data-type="action" style="background:transparent;padding:0" class="label secondary round expcoll tiny icon">
    <img data-type="action" id="{{-model.id}}" title="mode" src="/img/icones/Expand-Collapse-32.png"/>
  </span>
  {{ }else if(model.visibility == false){ }}
    <span id="{{-model.id}}" data-type="action" style="background:transparent;" class="label secondary round expcoll tiny">
      <small style="margin-bottom:0px;padding:0 5px 0 5px;color:red" data-type="action" id="{{-model.id}}">
        <b data-type="action" id="{{-model.id}}">{{-childs_nbr}}</b>
      </small>
    </span>
  {{ } }}

</script>


