<!-- ******************************** -->
<!-- Container -->
<div id="bbmap_container" style="height:100%;overflow:hidden">
  <div id="top_container"></div>
  <div id="map_container">
    <a href="#" id="showMenu"  class="button tiny secondary round cbp-openbutton">
      <image  src="/img/icones/Arrow-Left.png" id="cbp-openimage"/>
    </a>
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s1">
      <div id="editor" class="panel expand">
        <ul class="tabs" data-tab>
          <li class="tab-title active"><a href="#editModel"><img title="edit" src="/img/icones/Edit.png"/></a></li>
          <li class="tab-title"><a href="#attachementModel"><img title="attach" src="/img/icones/Attach.png"/></a></li>
          <li class="tab-title"><a href="#discussionModel"><img title="comments" src="/img/icones/Chat.png"/></a></li>
          <li class="tab-title"><a href="#css3Model"><img title="template" src="/img/icones/Shape.png"/></a></li>
        </ul>
        <div class="tabs-content">
          <div id="editModel" class="content active"></div>
          <div id="attachementModel" class="content"></div>
          <div id="discussionModel" class="content"></div>
          <div id="css3Model" class="content"></div>
        </div>
    </div>
    </nav>
    <div id="map" class="demo chart-demo"></div>
  </div>
  
  <div id="bottom_container"></div>
</div>
<!-- ******************************** -->
<script type="text/template" id="bbmap-joyride-template">
  <ol class="joyride-list" style="z-index:9999999" data-joyride>
    <li id="joyride_id" data-id="joyride" data-text="Ok" data-options="tip_location: top">
      <br>
      <input id="joyride_val" class="tiny round" type="text" placeholder="name..."><lable><small>(Press ENTER)</small></label>
    </li>
  </ol>
</script>

<script type="text/template" id="bbmap-bulle-template">
    {{ if(model.attachment.length>0) { }}
      <img src="img/icones/Attachment.png" class="attachments"/>
    {{ } }}
    <span id="{{-model.id}}_joyride"></span>
    <span id="{{-model.id}}" data-type="title" class="editTitle">{{-model.title}}</span>
    <span id="{{-model.id}}" data-type="action" class="label round secondary ep icon">+c</span>
    <span id="{{-model.id}}" data-type="action" class="label round secondary ep2 icon">+k</span>
    <span id="{{-model.id}}" data-type="action" class="label round secondary ep3 icon"><img data-type="action" id="{{-model.id}}" title="mode" src="/img/icones/Edit.png"/></span>
    <span id="{{-model.id}}" data-type="action" class="label round secondary sup icon"><img data-type="action" id="{{-model.id}}" title="mode" src="/img/icones/Delete.png"/></span>
</script>

<script type="text/template" id="bbmap-top-element-template">
  <div class="large-4 medium-4 small-4 columns">
    <br>
  </div>

  <div class="large-4 medium-4 small-4 columns">
    <center>
      {{ if(mode == "visu"){ }}
        <select id="visu_select_mode" class="large-9 medium-9 small-9">
          <option value="children">Display children & linked knowledge</option>
          <option value="parent">Display parents & linked knowledge</option>
          <option value="node">Display concept & linked knowledge</option>
        </select>
      {{ } }}
      {{ if(mode == "timeline"){ }}
        <h3>
          <a href="#" class="button tiny secondary round prev"><img title="back" src="/img/icones/Arrowhead-Left-24.png"/></a>
          <span id="timeline_date"></span>
          <a href="#" class="button tiny secondary round next"><img title="next" src="/img/icones/Arrowhead-Right-24.png"/></a>
        </h3>
      {{ }else if(mode == "edit"){ }}
        {{ if((filter == "c")||(filter == "ck")||(filter == "ckp")){ }}
            <a href="#" id="dropC" class="drop dropC button tiny secondary round" title="Drag & Drop Concept to Map">
              <img class="drop" src="/img/icones/Light-Bulb-24.png"/>
            </a>
        {{ } }}
        {{ if((filter == "p")||(filter == "kp")||(filter == "ckp")){ }}
          <a href="#" id="dropP" class="drop dropP button tiny secondary round" title="Drag & Drop Category to Map">
            <img class="drop" src="/img/icones/Book-Shelf-24.png"/>
          </a>
        {{ } }}
        {{ if((filter == "k")||(filter == "ck")||(filter == "ckp")||(filter == "kp")){ }}
          <a href="#" id="dropK" class="drop dropK button tiny round secondary" title="Drag & Drop Knowledge to Map">
            <img class="drop" src="/img/icones/Book-Open-24.png"/>
          </a>
        {{ } }}
      {{ } }}
    </center>
  </div>

  <div class="large-4 medium-4 small-4 columns">
    <div style="float:right">
      <a href="#" class="tiny round button secondary zoomin"><img title="zoom-out" src="/img/icones/Zoom-Out-24.png"/></a>
      <a href="#" class="tiny round button secondary zoomout"><img title="zoom-in" src="/img/icones/Zoom-In-24.png"/></a>
      <a href="#" class="tiny round button secondary fullscreen"><img title="full-screen" src="/img/icones/Full-Screen-Expand-24.png"/></a>
      <small style="display:none" id="zoom_val"></small>
    </div>
  </div>

</script>

<script type="text/template" id="bbmap-bottom-element-template">
  <span id="bbmap_bottom_ui">
    <center>
      {{ if(mode != "timeline"){ }}
        <img title="zoom-in" src="/img/icones/Filtering-24.png"/> 
        <select id="filterSelection" class="large-1 medium-1 small-1">
          <option value="c" {{ if(filter == "c"){ }}selected{{ } }}>Concepts</option>
          <option value="kp" {{ if(filter == "kp"){ }}selected{{ } }}>Knowledges & Categories</option>
          <option value="ckp" {{ if(filter == "ckp"){ }}selected{{ } }}>All</option>
        </select>
      {{ } }}
      {{ if((filter == "ck")||(filter == "ckp")){ }}
        <a href="#" class="tiny round button secondary ckOperator"><img title="display CK links" src="/img/icones/Data-Share-24.png"/></a>
      {{ } }}
      <a href="#" class="tiny round button secondary reset"><img title="reset" src="/img/icones/Fit-To-Size-24.png"/></a>
      {{ if(mode == "edit"){ }} 
        <a href="#" class="tiny round button secondary structureSubTree"><img title="structure sub-tree" src="/img/icones/Network-Drives-24.png"/></a>
        <a href="#" class="button tiny round secondary prevH"><img title="ctrl-Z" src="/img/icones/Arrowhead-Left-24.png"/></a>
        <a href="#" class="button tiny round secondary nextH"><img title="ctrl-Y" src="/img/icones/Arrowhead-Right-24.png"/></a>
      {{ } }}
      <a href="#" class="button tiny round secondary downloadimage"><img title="Download screenshot" src="/img/icones/Download-32.png"/></a>
    </center>
  </span>
</script>


