<!-- ******************************** -->
<!-- Container -->
<div id="bbmap_container" style="overflow:auto">
	<div id="actionbar"></div>
	
	<div id="map_container" class="">
		<div id="map" class="demo chart-demo panel"></div>
	</div>
</div>
<div id="editBox" title="EditBox"></div>
<!-- ******************************** -->
<script type="text/template" id="bbmap-actionbar-template">
    <div class="expand">
    	<center>
    		<a href="#" class="tiny button secondary addUnlinkedC">Add C</a>
            <a href="#" class="tiny button secondary addUnlinkedK">Add K</a>
            <a href="#" class="tiny button secondary Kcontent">Display K content</a>
            <a href="#" class="tiny button secondary Ccontent">Display C content</a>
            <a href="#" class="tiny button secondary ckOperator">Display CK operator</a>
            <a href="#" class="tiny button secondary resetPosition">Reset position</a>
    		<a href="#" class="tiny button secondary resetZoom">Reset zoom</a>
            <a href="#" class="tiny button secondary screenshot">Screenshot</a>
    		<a href="#" class="tiny button secondary zoomout">+</a>
            <span id="zoom_val"></span>
    		<a href="#" class="tiny button secondary zoomin">-</a>
            <a href="#" class="tiny button secondary help disabled">?</a>
    	</center>
    </div>
</script>