<div id="manager-container" class="row"></div>

<!--////////////////////////////////////////////////////////////////
/*Manager templates*/-->
<script type="text/template" id="manager-search-template">
	<div class="row">
		<div class="large-12 columns">
	      	<form data-abide class="row collapse">
		        <div class="name-field small-10 columns">
		          <input type="text" id="project_title" class="search" placeholder="new project title" required pattern="[a-zA-Z]+">
		        </div>
		        <div class="small-2 columns">
		          <a class="button newProject postfix" href="#">Add</a>
			    </div>
	      	</form>
	    </div>
	</div>
</script>

<script type="text/template" id="manager-projects-template">
	{{ _.each(projects, function(project) { }}
		<a href="/concepts?projectId={{- project.id}}" class="button secondary round expand split">{{- project.title}}<span data-dropdown="drop_{{- project.id}}"></span></a><br>
		<ul id="drop_{{- project.id}}" class="f-dropdown" data-dropdown-content>
		  <li><a href="#" class="removeProject" data-id-project="{{- project.id}}">Remove</a></li>
		</ul>

		
	{{ }); }}
</script>