<div id="manager-container" class="row"></div>

<!--////////////////////////////////////////////////////////////////
/*Manager templates*/-->
<script type="text/template" id="manager-search-template">
	<div class="row">
		<div class="large-12 columns">
	      	<form data-abide class="row collapse">
		        <div class="name-field small-10 columns">
		          <input type="text" id="project_title" class="search" placeholder="new project title" required pattern="[a-zA-Z]+">
		        </div>
		        <div class="small-2 columns">
		          <a class="button newProject postfix" href="#">Add</a>
			    </div>
	      	</form>
	    </div>
	</div>
</script>

<script type="text/template" id="manager-projects-template">
	{{ _.each(projects, function(project) { }}

		<a href="/conceptsMap?projectId={{- project.id}}" class="button secondary round expand split">
			{{- project.title}}
			<span data-dropdown="drop_{{- project.id}}"></span>
		</a>
		<br>
		<ul id="drop_{{- project.id}}" class="f-dropdown" data-dropdown-content>
		  <li><a href="#" class="removeProject" data-id-project="{{- project.id}}">Remove</a></li>
		</ul>		
	{{ }); }}
</script>


<script type="text/template" id="manager-project-template">
    <div class="panel large-12 medium-12 small-12">
    	<a href="/conceptsMap?projectId={{- project.id}}" class="button tiny">{{-project.title }}</a>
	    <a href="/conceptsMap?projectId={{- project.id}}" class="button tiny">{{-nbrConc}} concepts</a>
	    <a href="/knowledges?projectId={{- project.id}}" class="button tiny">{{-nbrKnow}} knowledges</a>
	    <a href="/categories?projectId={{- project.id}}" class="button tiny">{{-nbrCatg}} categories</a>
	    <a href="/analyse?projectId={{- project.id}}" class="button tiny">{{-nbrLink}} CKlinks</a>
	    <a href="/userManager?projectId={{- project.id}}" class="button tiny">{{-nbrUser}} users</a>
	    <a href="#" class="button tiny alert removeProject" data-id-project="{{- project.id}}">Remove</a>
    </div>
</script>