<div id="manager-container" class="row"></div>

<!--////////////////////////////////////////////////////////////////
/*Manager templates*/-->
<script type="text/template" id="manager-search-template">
	<div class="row">
		<div class="large-12 columns">
	      	<form data-abide class="row collapse">
		        <div class="name-field small-10 columns">
		          <input type="text" id="project_title" class="search" placeholder="new project title" required pattern="[a-zA-Z]+">
		        </div>
		        <div class="small-2 columns">
		          <a class="button newProject postfix" href="#">Add</a>
			    </div>
	      	</form>
	    </div>
	</div>
</script>


<script type="text/template" id="manager-project-template">
    <div class="item">
	    <ul class="pricing-table">
		  	<li class="price">{{-project.title }}</li>
		  	<li class="description">{{-project.content }}</li>
			<li class="cta-button"><a class="button" href="/ckviewer?projectId={{- project.id}}">Open</a></li>
		</ul>
    </div>
</script>
<!-- 
<center>

    	<h3></h3>
	    <a href="/conceptsMap?projectId={{- project.id}}" class="button secondary round tiny">{{-nbrConc}} concepts</a>
	    <a href="/knowledges?projectId={{- project.id}}" class="button secondary round tiny">{{-nbrKnow}} knowledges</a>
	    <a href="/categories?projectId={{- project.id}}" class="button secondary round tiny">{{-nbrCatg}} categories</a>
	    <a href="/analyse?projectId={{- project.id}}" class="button secondary round tiny">{{-nbrLink}} CKlinks</a>
	    <a href="/userManager?projectId={{- project.id}}" class="button secondary round tiny">{{-nbrUser}} users</a>
	    <a href="#" class="button tiny alert secondary round removeProject" data-id-project="{{- project.id}}">remove</a>
    </center> -->