<div id="manager-container" class="row panel"></div>
<!--////////////////////////////////////////////////////////////////
/*Manager templates*/-->
<script type="text/template" id="manager-search-template">
	<div class="row">
		<div class="large-12 columns">
			<form data-abide class="row collapse">
				<div class="name-field small-10 columns">
					<input type="text" id="project_title" class="search" placeholder="workspace name" required pattern="[a-zA-Z]+">
				</div>
				<div class="small-2 columns">
					<a class="button newProject postfix" href="#"><b>New workspace</b></a>
				</div>
			</form>
		</div>
	</div>
</script>
<!--//////////////////////////////////////////////////////////////// -->
<script type="text/template" id="manager-header-template">
	<fieldset>
		<a class="button secondary tiny expand" href="/bbmap?projectId={{- project.id}}#visu">
			<h2>{{-project.title}}</h2> 
			{{ if(project.image){ }}
				<img class="large-12 medium-12 small-2" src="/S3/getUrl?amz_id={{- project.image}}" />
			{{ }; }}
		</a>
	</fieldset>
</script>
<!--//////////////////////////////////////////////////////////////// -->
<script type="text/template" id="manager-normal-template">
	<div>
		<fieldset>
			<legend align=left>
				Description</strong>
				<a href="#" class="edit">edit</a>
			</legend>
			{{= model.content }}
		</fieldset>
	</div>	
</script>
<!--//////////////////////////////////////////////////////////////// -->
<script type="text/template" id="manager-edition-template">
	<div class="panel">
		<a href="#" class="button tiny round success updateModel">Update!</a>
		<a href="#" class="button tiny round secondary cancelEdition">Cancel</a>
		<input type="text" class="title" value="{{- model.title}}"/>
		<textarea  class="ckeditor"  name="editor" rows="10" cols="80">{{= model.content }}</textarea>
	</div>
</script>
<!--//////////////////////////////////////////////////////////////// -->
<script type="text/template" id="manager-project-template"> 
	<a id="{{-project.id}}_menu_button" href="#" class="openProjectModal manager button expand radius secondary" data-model-id="{{-project.id}}">
		<h5 data-model-id="{{-project.id}}"><b data-model-id="{{-project.id}}">{{-project.title }}</b>
			{{ if(project.status == 'public'){ }}
		    	<img data-model-id="{{-project.id}}" title="back" src="/img/icones/Open-24.png"/>
		    {{ }else{ }}
		    	<img data-model-id="{{-project.id}}" title="back" src="/img/icones/Lock-24.png"/>
		    {{ } }}
		    {{if(notifNbr > 0){ }}
			<span data-model-id="{{-project.id}}" class="top-bar-unread">{{-notifNbr}}</span>
			{{ } }}
		</h5>
	</a>
	<br>
	<br>
</script>
<!--//////////////////////////////////////////////////////////////// -->
<script type="text/template" id="manager-footer-template">
	<em>Created by {{-project.author.name}} at {{-project.date}}</em></center><br><br>
	<a href="#" data-id-project="{{- project.id }}" class="button alert radius tiny removeProject">Delete workspace</a>
	<span style="display:none">
		<select id="select_project_status" class="large-3 medium-3 small-3">
	      <option value="private" {{ if(project.status == 'private'){ }}selected{{ } }}>Private</option>
	      <option value="public" {{ if(project.status == 'public'){ }}selected{{ } }}>Public</option>
	    </select>
	    
	    {{ if(project.status == 'public'){ }}
	    	<img title="back" src="/img/icones/Open-24.png"/>
	        - <a style="color:green" href="/publicVisu?projectId={{- project.id }}#visu" title="public link" target="_blank">public link</a>
	    {{ }else{ }}
	    	<img title="back" src="/img/icones/Lock-24.png"/>
	    {{ } }}
    </span>
</script>

<!-- 
<center>

    	<h3></h3>
	    <a href="/conceptsMap?projectId={{- project.id}}" class="button secondary round tiny">{{-nbrConc}} concepts</a>
	    <a href="/knowledges?projectId={{- project.id}}" class="button secondary round tiny">{{-nbrKnow}} knowledges</a>
	    <a href="/categories?projectId={{- project.id}}" class="button secondary round tiny">{{-nbrCatg}} categories</a>
	    <a href="/analyse?projectId={{- project.id}}" class="button secondary round tiny">{{-nbrLink}} CKlinks</a>
	    <a href="/userManager?projectId={{- project.id}}" class="button secondary round tiny">{{-nbrUser}} users</a>
	    <a href="#" class="button tiny alert secondary round removeProject" data-id-project="{{- project.id}}">remove</a>
    </center> -->