<div id="conceptsmap_container">
</div>

<script type="text/template" id="conceptsmap_template">
	<div>
		<div class="columns large-1 medium-1">
			<a href="#" title="Center" class="panel button tiny resetView"><img src="img/centrer.png"></a>
			<a href="#" title="Zoom" class="panel button tiny scaleUp"><img src="img/plus.png"></a>
			<a href="#" title="Zoom" class="panel button tiny scaleDown"><img src="img/moins.png"></a>
			<a href="#" title="Add" class="panel button tiny addSubIdea"><img src="img/add.png"></a>
			<a href="#" title="Delete" class="panel button tiny removeSubIdea"><img src="img/sup.png"></a>
			<a href="#" title="Expand" class="panel button tiny toggleCollapse"><img src="img/expand.png"></a>
			<a href="#" title="Undo" class="panel button tiny undo"><img src="img/undo.png"></a>
			<a href="#" title="Redo" class="panel button tiny redo"><img src="img/redo.png"></a>
			<a href="#" title="Export" class="panel button tiny" data-mm-action="export-image" value="Export To Image"><img src="img/export.png"></a>
		</div>

		<div class="large-11 medium-11 columns" >
		<ul id="port">
		<div id="tip">
			Press ‘Tab’ to Insert Child, ‘Enter’ to Insert Sibling Node.
		</div>
	</ul>
		</div> 
	</div>
</script>

<script>
	$(function() {
		$( "#draggable" ).draggable();
	});
</script>





