
<div class="row">
	<div class="large-12 columns">
		<div class="panel">
			<h2>Une nouvelle version de l'application est disponible</h2>
		</div>
		<div class="large-12">
			<center>
			<a class="button large" href="https://app.creaktive.fr"> Commencer avec la nouvelle version</a>
			<p>ou</p>
</center>
		</div>
		<div class="large-12">
			<center>
			<a class="button disabled" href="/manager">Continuer avec l'ancienne version</a>
			<p>
				Contactez-nous si vous souhaitez basculer vos données sur la nouvelle version de la plateforme.
			</p>
		</center>

		</div>



	</div>
</div>