<!-- Javascript libs -->



<!-- Templates to load -->


        <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">CreaKtive</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>

      <section class="top-bar-section">        
        <!-- Left Nav Section -->

        
       <ul class="right">
      <li class="divider"></li>
      <li class="has-form"><a href="http://creaktive.fr/contact/" class="button">FeedBack</a></li>
      <li class="divider"></li>
      <li><a class="active" href="/logout">Logout</a></li>
    </ul>
      </section>
    </nav>


<%- partial('templates/manager_template') %>










<!-- Javascript libs -->


<!-- Modules situés dans BB_app -->
<script src="js/BB_app/modules/manager.js"></script>


<script>

	$(document).ready(function () {

		Backbone.Model.prototype.toJSON = function() {
			return JSON.parse(JSON.stringify(this.attributes));
		};

		rt(io, function(){
  // Initialisation de l'managerlication ici
  console.log( "CreaKtive DOM loaded!" );
  global.initManager('<%- currentUser %>');

  //notifications.init();
  manager.init();      
  ////////////////////////////////////////
  /*activat of "hashchange events's monitoring"*/
  Backbone.history.start();
})
	}) ;



	function rt (io, callback) {
  // as soon as this file is loaded, connect automatically, 
  var socket = io.connect("/",{'sync disconnect on unload ': true});
  socket.on('connect', function socketConnected() {
    socket.get("/auth/openChannels", function(data){
      // console.log(data.msg);
      // console.log(data.channels);
    });
    console.log(
      'Socket is now connected and globally accessible as `socket`.\n' + 
      'e.g. to send a GET request to Sails, try \n' + 
      '`socket.get("/", function (response) ' +
        '{ console.log(response); })`'
    );
    callback();
  });

  window.socket = socket;

};

</script>