<!-- Javascript libs -->

<h1><%= currentUser.name %></h1>

<!-- Templates to load -->
<%- partial('./templates/manager_template') %>


<!-- Javascript libs -->
<script type="text/javascript" src="js/vendor/socket.io.js"></script>
<script type="text/javascript" src="js/sails.io.js"></script>

<script src="js/BB_app/global_functions.js"></script>
<!-- Interface client/server -->
<script type="text/javascript" src="js/BB_app/app_manager.js"></script>
<!-- Global objects -->
<script src="js/BB_app/global_models.js"></script>
<script src="js/BB_app/global_collections.js"></script>

<!-- Modules situés dans BB_app -->
<script src="js/BB_app/modules/manager.js"></script>

<script>

$(document).ready(function () {

  Backbone.Model.prototype.toJSON = function() {
    return JSON.parse(JSON.stringify(this.attributes));
  };
  // Initialisation de l'managerlication ici
  console.log( "CreaKtive DOM loaded!" );
  global.init("<%= currentUser %>");
  manager.init();      
  ////////////////////////////////////////
  /*activat of "hashchange events's monitoring"*/
  Backbone.history.start();
}) ;

</script>