<!-- //////////////////////////////////////////////////////// -->
<div id="ckviewer_container" ></div>
<div id="rect" style="position:absolute;filter:Alpha(Opacity=50);-moz-opacity:0.50; opacity:0.50;background-color: #00BFFF"></div> 
<!-- //////////////////////////////////////////////////////// -->
<!-- Modal -->
<div id="ckviewerModal" class="reveal-modal small" data-reveal></div>
<script type='text/template' id='CKViewer_modalContent_templates'>
    <center><h3>{{- knowledge.title }}</h3></center><hr>
    {{= knowledge.content }}
</script>
<!-- //////////////////////////////////////////////////////// -->
<script type="text/template" id="CKViewer_conceptsmap_template" >
  <center><h3>C</h3></center><hr>
  <div id="main" >
    <ul id="port" ></ul>
    <div id="throbber"></div>
  </div>
</script>


<script type="text/template" id="CKViewer-Khead-template">
  <a href="#" id="allknowledges" class="button tiny secondary " style="float:left">
    reset
  </a>
  <center><h3>K</h3></center><hr>
</script>

<script type="text/template" id="CKViewer_knowledgesmap_template">
    <div class="item">    
        <ul class="pricing-table">
            <li class="price"class="title">
                <a href="#" class="button tiny success radius expand openModal" data-category-id="{{-category.id}}">
                    <strong data-category-id="{{-category.id}}">{{- category.title}}</strong>
                </a>
            </li>
            <li class="bullet-item">
                
                {{ _.each(knowledges, function(knowledge) { }}
                    <a href="#" class="button openModal tiny radius round expand secondary CKBulle" data-knowledge-id="{{-knowledge.id}}" data-catg-origin="{{- category.title}}"  style="border-color:{{-knowledge.color}};color:{{-knowledge.color}}">
                        <strong data-knowledge-id="{{-knowledge.id}}" data-catg-origin="{{- category.title}}">{{- knowledge.title }}</strong>
                    </a>
                {{ }); }}   
            </li>
        </ul>
    </div>
</script>

<!-- category-notcategorized -->
<script type="text/template" id="CKViewer-notcategorized-template">
<div class="item">
    <a href="#"  class="tiny radius round openModal button secondary expand CKBulle" data-knowledge-id="{{-knowledge.id}}" style="border-color:{{-knowledge.color}};color:{{-knowledge.color}}"><strong data-knowledge-id="{{-knowledge.id}}">{{- knowledge.title }}</strong></a> 
</div>
</script>



