<div id="category_container"></div>
<!-- //////////////////////////////////////////////////////////////////////: -->
<script type="text/template" id="category-search-template">
    <h5>{{-title}}</h5><hr>
    <input type="text" class="search" placeholder="search in {{-title}}...">
</script>
<!-- //////////////////////////////////////////////////////////////////////: -->
<!-- Modal part -->
<div id="category_modal_container" class="reveal-modal small" data-reveal></div>

<script type="text/template" id="category-modal-template">
    <center>
        <h3>{{-mode}} to</h3>
        <p>select a category</p>
    </center>
    {{ _.each(poches, function(poche) { }}
        <a href="#" class="button success round {{-mode}}" data-catg-title="{{-poche.title}}">{{-poche.title}}</a>
    {{ }); }}   
    <a class="close-reveal-modal">&#215;</a>
</script>
<!-- //////////////////////////////////////////////////////////////////////: -->
<!-- Barre d'action -->
<script type="text/template" id="category-actionBar-template">
    <div class="expand">
        <div class="small-2 large-2 medium-2 columns">
            <div class="row collapse custom_row">
                <div class="small-10 columns">
                  <input class="category_title" type="text" placeholder="new category..."/>
                </div>
                <div class="small-2 columns">
                  <a href="#" class="button success postfix newCategory">+</a>
                </div>
            </div>
        </div>
        <div class="small-2 large-2 medium-2 columns">
            <div class="row collapse custom_row">
                <div class="small-10 columns">
                  <input id="category_new_unlinked_k_title" type="text" placeholder="new uncategorized knowledge..."/>
                </div>
                <div class="small-2 columns">
                  <a href="#" class="button postfix newUnlinkedK">+</a>
                </div>
            </div>
        </div>
        <div class="small-4 large-4 medium-4 columns">
            <a href="#" class="button small secondary openMoveModal">move to</a> 
            <a href="#" class="button small secondary openCopyModal">copy to</a>
            <a href="#" class="button small secondary uncategorized">unlink</a>
            <a href="#" class="button small secondary remove">remove</a>
        </div>
        <div class="small-4 large-4 medium-4 columns">
            <a href="#" class="button secondary tiny notLinked">not linked</a>
            <a href="#" class="button secondary tiny notCategorized">not categorised</a>
            <a href="#" class="button secondary tiny validated">Validated</a>
            <a href="#" class="button secondary tiny processing">Processing</a>
            <a href="#" class="button secondary tiny missing">Missing</a>
        </div>
        
    </div>
    <div class="row"></div>
</script>
<!-- //////////////////////////////////////////////////////////////////////: -->
<script type="text/template" id="category-notCategorized-template">
    <div class="item">
        <a href="#" class="button tiny radius round expand secondary CKBulle Kselectable" data-knowledge-id="{{-knowledge.id}}" style="border-color:{{-knowledge.color}};color:{{-knowledge.color}}">
            <strong data-knowledge-id="{{-knowledge.id}}">{{- knowledge.title }}</strong>
            <span style="width:8%;float:right">
                <img src="img/edit.png" class="openModal" data-model-id="{{-knowledge.id}}" title="edit">
            </span>
        </a>
    </div>
</script>

<script type="text/template" id="category-list-template">
    <div class="item">    
        <ul class="pricing-table">
            <li class="price"class="title">
                <a href="#" class="button tiny success radius expand openCategoryEditorModal" data-category-id="{{-category.id}}">
                    <strong data-category-id="{{-category.id}}">{{- category.title}}</strong>
                    {{if(notifNbr != 0){ }}
                        <span class="top-bar-unread" data-category-id="{{-category.id}}">{{-notifNbr}}</span>
                    {{ } }}
                </a>
            </li>
            <li class="bullet-item">
                <div class="row collapse">
                    <div class="small-10 columns">
                      <input id="category_new_k_title_{{-category.id}}" type="text" placeholder="new knowledge..."/>
                    </div>
                    <div class="small-2 columns">
                      <a href="#" class="button postfix addKnowledge" data-id-category="{{-category.id}}" data-title-category="{{- category.title}}">+</a>
                    </div>
                </div>
                {{ _.each(knowledges, function(knowledge) { }}
                    <a href="#" class="button tiny radius round expand secondary CKBulle Kselectable" data-knowledge-id="{{-knowledge.id}}" data-catg-origin="{{- category.title}}"  style="border-color:{{-knowledge.color}};color:{{-knowledge.color}}">
                        <strong data-knowledge-id="{{-knowledge.id}}" data-catg-origin="{{- category.title}}">{{- knowledge.title }}</strong>
                        <span style="width:8%;float:right"><img src="img/edit.png" class="openModal" data-model-id="{{-knowledge.id}}" title="edit"></span>
                    </a>
                {{ }); }}   
            </li>
        </ul>
    </div>
</script>