<div id="explorer_container"></div>
<!-- //////////////////////////////////////////////////////////////////////: -->
<!-- Left part -->
<script type="text/template" id="explorer-accordion-header-template">
    <a href="#{{- idAcc }}">{{- title }}</a>
</script>
<!-- //////////////////////////////////////////////////////////////////////: -->
<!-- Middle part -->
<script type="text/template" id="explorer-knowledge-template">
    <button class="button round small openModal secondary CKBulle" style="border-color:{{-knowledge.color}};color:{{-knowledge.color}}" data-id-knowledge="{{- knowledge.id }}">
        <strong data-id-knowledge="{{- knowledge.id }}">{{-knowledge.title}}</strong>
        {{if(notifNbr != 0){ }}
            <span class="top-bar-unread" data-id-knowledge="{{- knowledge.id }}">{{-notifNbr}}</span>
        {{ } }}
    </button>
</script>

<script type="text/template" id="explorer-states-template">
    <dd>
        <a href="#states_dd">States</a>
        <div id="states_dd" class="content active">

            <div class="small-12 medium-12 large-12">
                <span class="label round"></span>
                <strong><a href="#" class="addFilter" style="background:white" data-filter-type="notLinked">not linked</a></strong>
            </div>

            <div class="small-12 medium-12 large-12">
                <span class="label success round"></span>
                <strong><a href="#" class="addFilter" style="background:white" data-filter-type="notCategorised">notCategorised</a></strong>
            </div>

            <div class="small-12 medium-12 large-12">
                <span class="label round" style="background-color : #27AE60 "></span>
                <strong><a href="#" class="addFilter" style="background:white" -filter-type="state" data-filter-model="#27AE60">Validated</a></strong>
            </div>

            <div class="small-12 medium-12 large-12">
                <span class="label round" style="background-color : #F39C12 "></span>
                <strong><a href="#" class="addFilter" style="background:white" data-filter-type="state" data-filter-model="#F39C12">Processing</a></strong>
            </div>

            <div class="small-12 medium-12 large-12">
                <span class="label round" style="background-color : #C0392B "></span>
                <strong><a href="#" class="addFilter" style="background:white" data-filter-type="state" data-filter-model="#C0392B">Missing</a></strong>
            </div>

        </div>
    </dd>
</script>

<script type="text/template" id="explorer-context-template">
        <div class="row custom_row">
                Context :  
                {{ _.each(filters, function(filter) { }}
                    {{ if(filter.type == "concept"){ }}
                            <a class="tiny round button remove" data-id-filter="{{-filter.id}}">{{- filter.model.title }}</a> +
                    {{ }else if(filter.type == "project"){ }}
                            <a class="tiny round alert button remove" data-id-filter="{{-filter.id}}">{{- filter.model.title }}</a> +
                    {{ }else if(filter.type == "poche"){ }}
                            <a class="tiny round success button remove" data-id-filter="{{-filter.id}}">{{- filter.model.title }}</a> +
                    {{ }else if(filter.type == "expert"){ }}        
                            <a class="tiny round alert button remove" data-id-filter="{{-filter.id}}">{{- filter.model.name }}</a> +
                    {{ }else if(filter.type == "state"){ }}
                        {{ var name="Validated"; if(filter.model == "#F39C12"){name="Processing"}else if(filter.model == "#C0392B"){name="Missing";} }}
                        <a class="tiny round button remove" style="background-color : {{- filter.model}} " data-id-filter="{{-filter.id}}">{{- name }}</a> +
                    {{ }else if(filter.type == "notLinked"){ }}
                        <a class="tiny round button remove" data-id-filter="{{-filter.id}}">not linked</a> +
                    {{ }else if(filter.type == "notCategorised"){ }}
                        <a class="tiny round button success remove" data-id-filter="{{-filter.id}}">not categorised</a> +
                    {{ } }}
                {{ }); }}
        </div>
        <div class="row collapse custom_row">
            <div class="small-10 columns">
              <input id="explorer_new_k_title" class="search" type="text" placeholder="Add a knowledge in the current context..."/>
            </div>
            <div class="small-2 columns">
              <a href="#" class="button postfix addKnowledge">Add</a>
            </div>
        </div>
</script>