<div id="mobileManager_container"></div>

<script type="text/template" id="mobileManager-template">
	<div class="row panel">
		<div class="row ">
			<div class="large-6 small-6 medium-6 columns">
				<a href="/" title="manager"><img title="logo creaktive" src="/img/creaktive.png"/></a>
			</div>
			<div class="large-6 small-6 medium-6 columns">
				<h3>{{-user.name }}</h3>
				<button href="#" style="float:right" data-dropdown="menuCreaktive2" aria-controls="menuCreaktive2" aria-expanded="false" class="button round secondary tiny dropdown"><img width="20" src="{{-user.img }}"/></button>
				<ul id="menuCreaktive2" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
					<li><a href="#" class="fullscreen">Full screen</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
				
			</div>
		</div>
		<br>
		<div class="row">
		    <div class="large-12 columns">
		    	<label><b>Workspaces : </b>
		    	<hr>
		      	{{ _.each(projects,function(project){ }}
					<a href="/mobileInterface?projectId={{- project.id }}" class="button round secondary expand"><h3>{{- project.title }}</h3></a>
		    	{{ });}}
		    </div>
		</div>
	</div>
</script>