<div id="conceptsmap_container"></div>
<div id="test"></div>
<!-- //////////////////////////////////////////////////////////////////////: -->
<!-- Modals -->
<div id="conceptsmap_conceptsListModal_container" class="reveal-modal small" data-reveal></div>
<!-- //////////////////////////////////////////////////////////////////////: -->
<!-- Right part -->
<script type="text/template" id="conceptsmap-search-template">
    <h5>{{-title}}</h5><hr>
    <div class="row collapse">
	    <div class="small-10 columns">
	      	<input type="text" class="new_c_notCategorized search" placeholder="search in {{-title}}...">
	    </div>
	    <div class="small-2 columns">
	      	<a href="#" class="button postfix add">+</a>
	    </div>
	</div>

</script>

<script type="text/template" id="conceptsmap-notcategorized-template">
    {{ _.each(conceptsNotCategorized,function(concept){ }}
    	<a href="#" data-dropdown="drop{{-concept.id}}" class="tiny radius round button dropdown secondary CKBulle" style="border-style:dotted;border-color:{{-concept.color}};color:{{-concept.color}}"><strong>{{- concept.title }}</strong></a>
	    <ul id="drop{{-concept.id}}" data-dropdown-content class="f-dropdown">
	        <li><a href="#" class="edit" data-concept-id="{{- concept.id }}">Edit</a></li>
	        <li><a href="#" class="openConceptsMappingModal" data-concept-id="{{- concept.id }}">link to the map</a></li>
	        <li><a href="#" class="remove" data-concept-id="{{- concept.id }}">remove</a></li>
	    </ul>	
    {{ }); }}
</script>
 <!-- //////////////////////////////////////////////////////////////////////: -->
<script type="text/template" id="conceptsmap_actionsMap_template">
	<div class="expand">	
		<center>
	        <a href="#" data-reveal-id="helpModal" data-reveal class="button tiny secondary"><img src="img/help.png" title="help"></a>
	        <a href="#" title="Edit content" class="editContent button tiny secondary"><img src="img/edit.png" title="edit"></a>
	        <a href="#" title="Link knowledges" class="linkK button tiny secondary"><img src="img/link.png" title="link"></a>
			<a href="#" title="Center (End)" class="resetView button tiny secondary"><img src="img/centrer.png" title="center"></a>
			<a href="#" title="Zoom in (+)" class="scaleUp button tiny secondary"><img src="img/plus.png" title="zoom in"></a>
			<a href="#" title="Zoom out (-)" class="scaleDown button tiny secondary"><img src="img/moins.png" title="zoom out"></a>
			<a href="#" title="Add (Enter)" class="addSubIdea button tiny secondary"><img src="img/add.png" title="add"></a>	    
			<a href="#" title="Delete (Del)" class="removeSubIdea button tiny secondary"><img src="img/sup.png" title="Delete"></a>
			<a href="#" title="Undo (Ctrl-z)" class="undo button tiny secondary"><img src="img/undo.png" title="Undo"></a>
			<a href="#" title="Redo (Ctrl-y)" class="redo button tiny secondary"><img src="img/redo.png" title="Redo"></a>
			<a href="#" title="Copy (Ctrl-c)" class="copy button tiny secondary"><img src="img/copy.png" title="Copy"></a>
			<a href="#" title="Cut (Ctrl-x)" class="cut button tiny secondary"><img src="img/cut.png" title="Cut"></a>
			<a href="#" title="" class="paste button tiny secondary"><img src="img/paste.png" title="Paste"></a> 
		</center>
    </div> 
</script>

<script type="text/template" id="conceptsmap_map_template">
	<ul id="port">
		<div id="tip">
			Press ‘Tab’ to Insert Child, ‘Enter’ to Insert Sibling Node.
		</div>
	</ul>
	<div id="throbber"></div>
</script>


<div id="helpModal" class="reveal-modal tiny" data-reveal>
	<center><h3>Help</h3></center>
	<p><span>Navigation</span></p>

	<table style="width:100%" class="navigation"><tbody><tr><td>Pan the map</td><td>W/A/S/D</td></tr><tr><td>Move selection</td><td>↑/←/↓/→</td></tr><tr><td>Select root</td><td>Home</td></tr><tr><td>Select parent</td><td>Backspace</td></tr><tr><td>Center map</td><td>End</td></tr><tr><td>Zoom in/Zoom out</td><td>+/−</td></tr><tr><td>Fold/Unfold</td><td>F</td></tr></tbody></table>
	
	<p><span>Manipulation</span></p>

	<table style="width:100%" class="manipulation"><tbody><tr><td>Insert a sibling</td><td>↩</td></tr><tr><td>Insert a child</td><td>Tab/Insert</td></tr><tr><td>Swap sibling</td><td>Ctrl+↑/Ctrl+↓</td></tr><tr><td>Change side</td><td>Ctrl+←/Ctrl+→</td></tr><tr><td>Delete an item</td><td>Delete</td></tr><tr><td>Copy</td><td>Ctrl+C</td></tr><tr><td>Cut</td><td>Ctrl+X</td></tr><tr><td>Paste</td><td>Ctrl+V</td></tr></tbody></table>
	
	<p><span>Editing</span></p>

	<table style="width:100%" class="editing"><tbody><tr><td>Set value</td><td>V</td></tr><tr><td>Yes/No/Maybe</td><td>Y/N/M</td></tr><tr><td>Edit item</td><td>Spacebar/F2</td></tr><tr><td>Line break</td><td>Shift+↩/Ctrl+↩</td></tr><tr><td>Bold</td><td>Ctrl+B</td></tr><tr><td>Italic</td><td>Ctrl+I</td></tr><tr><td>Underline</td><td>Ctrl+U</td></tr><tr><td>Strike-through</td><td>Ctrl+S</td></tr></tbody></table>
	
	<p><span>Other</span></p>

	<table style="width:100%" class="other"><tbody><tr><td>Undo/Redo</td><td>Ctrl+Z/Ctrl+Y</td></tr><tr><td>Save map</td><td>Ctrl+S</td></tr><tr><td>Save as…</td><td>Ctrl+Shift+S</td></tr><tr><td>Load map</td><td>Ctrl+O</td></tr><tr><td>Show/hide help</td><td>?</td></tr><tr><td>Show/hide UI</td><td>*</td></tr></tbody></table>
	<a class="close-reveal-modal">&#215;</a>
</div>







